[2017-04-19 22:38] delphiactual commented on #1421
`Settings` -> `UI` -> `Page Size`

[2017-04-20 01:08] Firemad03 commented on #1407
I got one for you.

![image](https://cloud.githubusercontent.com/assets/24792889/25208711/5bff9b34-2544-11e7-956b-96088ebe0e31.png)

The movies doesn't have the year in the title but it does in the filename.

[2017-04-20 01:12] Firemad03 commented on #1407
Also I can't manually add it because of the error. We need to be able to download it if we manually search for it. So I'm stuck for this movie ;)

[2017-04-20 09:37] galli-leo commented on #1421
^

[2017-04-20 09:37] #1421 closed

[2017-04-20 09:38] galli-leo commented on #1420
This can happen if you delete that root folder path. We already have an issue open for better validation and I agree that this shouldn't happen. Though the UI is also a bit bugged, in that it will try to display the last selected root folder for lists.

[2017-04-20 09:40] galli-leo commented on #1407
@Firemad03 The problem is, even if you did manually download it through Radarr, it won't be able to import it, since the movie does not match. We will have to come up with a better system.

[2017-04-20 11:01] astlaurent commented on #1420
@galli-leo I think there is more of an issue then. I have not deleted the root folder, I have tons of movies going into the root folder that I manually added. Something else must be happening to cause the path field to disappear, maybe certain updates?

[2017-04-20 15:01] #761 closed

[2017-04-20 15:02] onedr0p commented on #761
@tymanthius do you want to see if it works now?

[2017-04-20 15:30] tymanthius commented on #761
I tested it yesterday. Works!  Love the flags column.  I just hadn't gotten around to posting here (stupid crazy at work) until you proded me.  :)

[2017-04-20 16:35] seanvree commented on #1409
@galli-leo  - I'm still unable to manually search.  It just sits there and spins.  I"m on Radarr Ver. 0.2.0.660
nightly

[2017-04-20 16:47] galli-leo commented on #1409
@seanvree Logs are the same?

[2017-04-20 17:28] SuperGaco opened #1422 "Movies that don't get selected automatically wont import"
Radarr Ver. 0.2.0.660

After I select the Movie it still highlighted in red. And it says import complete right away (without it actually importing) I don't find this problem with movies that get automatically imported.
I would include my logs, but getting this forever.
![image](https://cloud.githubusercontent.com/assets/25994857/25244030/1b704f76-25cd-11e7-9010-9e3f07b503d6.png)

Please use the se

[2017-04-20 20:22] Quiksmage commented on #1361
It looks like this issue has returned for both of my trackers after automatically upgrading to the latest develop, 0.2.0.654

[code]

[code]

It is likely that this problem, at least with PTP, was present on nightly, but not develop, so when I reverted to develop, the issue went away. Since the develop has merged since then, the PTP issue is back.

My login information is correct. I tried re-enter

[2017-04-20 21:16] galli-leo commented on #1361
Hmm AHD makes sense since the api returns some non xml stuff.

@jrsdead Returned before xml: ```
Notice: Memcache::pconnect(): Server unix:///var/run/memcached.sock (tcp 0) failed with: Connection refused (111) in /var/www/ahd4/classes/class_cache.php on line 39

Warning: Memcache::pconnect(): Can't connect to unix:///var/run/memcached.sock:0, Connection refused (111) in /var/www/ahd4/classes/clas

[2017-04-20 21:17] galli-leo commented on #1361
@Quiksmage Can you try testing the PTP indexer and also restarting Radarr?

[2017-04-20 21:26] jrsdead commented on #1361
@galli-leo That should be resolved now

[2017-04-20 21:41] galli-leo commented on #1361
@jrsdead Yup xml returned is now correct. Thanks a ton:)

@Quiksmage Can you try AHD again?

[2017-04-20 22:12] jcchristian commented on #1401
Not really, it's back again, the same annoying `17-4-16 19:06:15.6|Error|DownloadMonitoringService|Couldn't process tracked download Automoto.26-03-2017.h264.1080p.TNTRip.mp4`

RAM Use:
![image](https://cloud.githubusercontent.com/assets/4141392/25254709/55ff25ba-25fd-11e7-8e6c-18c28f8dbb64.png)

[2017-04-21 01:22] savaloi commented on #1416
I agree it sounds like some kind of weird network issue, but all of these apps are running on the one Ubuntu (Lubuntu actually) machine, so I'm not sure how that could be the case..

I've attached a couple of screenshots here to hopefully give more info.
On the plus side, my movies have now magically downloaded and been processed correctly.. So this is now more of a why am i getting this annoying

[2017-04-21 01:41] a5m0 commented on #1394
I am seeing this on 0.2.0.654 - Apr 18 2017  develop.

[2017-04-21 01:41] Quiksmage commented on #1361
AHD is working now.

Testing PTP failed. Restarting Radarr now.
PTP is still not working after restart. I've erased the credentials and re-entered them and it's still giving me the below error.

[code]

I also tried adding a brand new PTP indexer into radarr thinking that maybe the old one had problems for one reason or another. It will not allow me to add another PTP indexer as it drops the follo

[2017-04-21 11:03] spacecabbie commented on #121
Is there a rough eta on this feature ?

[2017-04-21 15:34] spuniun opened #1423 "Manually adding torrents to queue fail [POST] /api/release: 500.InternalServerError"
Radarr version (exact version): 0.2.0.596
Mono version: 4.8.1 (Stable 4.8.1.0/22a39d7 Wed Apr 12 12:00:40 UTC 2017)
OS: Ubuntu 14.04.5 LTS
Debug logs: https://hastebin.com/uducurizut.rb
Description of issue:
Recently I've noticed that when trying to add a torrent to download queue manually from search page it fails. When radarr is adding torrents from the same provider (I only have one) via automa

[2017-04-21 17:22] Sek0n commented on #1191
Just wanted to update that this is still happening on Dev 0.2.0.654.

Although not ideal, I setup mine to not delete directories for now, and it works like it should. It was driving me crazy until I found this post. Glad I don't have to redo my two installs. 😄

[2017-04-21 17:50] seanvree commented on #1409
@galli-leo  - Looks like there are no errors in the logs.  I'm thinking this MAY be a PHP problem? I think that it actually did parse the results, but it just can't display them for some reason?

[code]

[2017-04-21 18:59] galli-leo commented on #1409
@seanvree Can you set the logs to debug and try searching again? Also did you try incognito mode?

[2017-04-21 19:23] Quiksmage commented on #1423
Which torrent client are you using?
Which provider are you using?

[2017-04-21 19:27] galli-leo commented on #1423
From the logs it seems like a timeout error on your end? Are you perhaps doing this from outside your local network?

[2017-04-21 19:27] Fredrik81 commented on #1180
I had same issue with "Silent.Hill.2006.iNTERNAL.DVDRip.XviD-iGNiTiON" i manually copied the file in.
Hope radarr will support this in the future as older movies/releases have this.

[2017-04-21 19:41] spuniun commented on #1423
I am using rtorrent (remote) and PTP as the provider.
I would agree that this is a network issue accept that the timeout is internal to the /api/release call which should be on http://localhost:8080/api/release - at least this is how the logs show any other internal API call, and automatic search torrent snatches also work fine. With some suggestion by @fryfrog I added PTP as a torznab jacket sear

[2017-04-21 20:52] galli-leo commented on #1423
Oh yeah. We are definitely using the public api in our ui. Since these calls are made from your browser that proly means it goes through 1.2.3.4/api. As for the url base, you can set that in the General Settings. Can you try that and report back?

[2017-04-21 20:55] galli-leo commented on #1416
Maybe an issue with AutorizedIp? Just from glancing over it. Can you try setting that to all ips or something and try again?

[2017-04-21 20:55] spuniun commented on #1423
The URL base is already set.
I access all my tools thru a single https reverse proxy e.g. https://sub.domain.tld/radarr
It is configured thus in settings. Everything works fine excepting this manual add to download queue, but it is new behavior. It used to work fine in both Sonarr & Radarr. I only noticed this happening about a week ago, two at most.

[2017-04-21 21:50] rkmfl commented on #823
I ran into the exact same issue myself.

This is my "Must Not Contain" list from CP.  I'm including here just to be certain that all of these cane be removed, or whether some of them might still be required?  If there is a list of terms Radarr is setup to recognize, it would be a great resource.

**Language Exclusions:**
------------------
subbed
dubbed
german, dutch, french, truefrench, danish, s

[2017-04-21 23:47] theebanka commented on #1421
@galli-leo Thanks for pointing that out as its not a setting I remember seeing when I set this up... that being said I have it set to 1000 but am still getting pages of 10 (also 10 isnt even an option) so i think there is still a bug here...

[2017-04-22 02:20] tymanthius commented on #761
Hey, I have a singular file that won't grab from PTP. I'm suspecting something malformed in the feed or some such rather than a true error w/ PTP.

Here's the log:

NzbDrone.Core.Download.Clients.DownloadClientException: Unable to connect to Deluge, please check your settings ---> System.Net.WebException: The request timed out
  at System.Net.HttpWebRequest.EndGetResponse (System.IAsyncResult asyn

[2017-04-22 02:30] tymanthius commented on #761
Oh, I think it might be that I already have this file in deluge.  So it may simply be that a bit of error checking needs to be done.

Didn't realize I'd already grabbed this.

[2017-04-22 03:07] seanvree commented on #1409
@galli-leo

https://drive.google.com/file/d/0B7OujkYtbxFNbFVodUJqczE2Y3c/view?usp=sharing

I think it's a PHP thing.  Not sure, just a hunch.

[2017-04-22 06:43] xandian commented on #1415
Thank you.
The open issue for this problem, which one is that? I cannot find it.

I have updated the [wiki page Common Problems](https://github.com/Radarr/Radarr/wiki/Common-Problems) with this problem.
I hope this is okay? I edited the wiki page directly. Maybe you prefer that a new branch is created and then create a pull request for the changes on the page?

[2017-04-22 08:25] pikachukaki opened #1425 "After finish movie handle"
I config radarr to download movies to my D drive in a folder called movies nothing to fancy
utorrent starting to download movies to download folder after finishing download the movie copied to d:movies but they still exist to download folder too how can i fix this?

[2017-04-22 08:34] galli-leo commented on #1409
@seanvree Shouldn't be a php thing, since we are not using php ;). Seems like the actual request goes through fine (/api/release, 200 OK). Can you open the Chrome dev Console, Do a manual search and see if any red error pop up?

[2017-04-22 08:38] galli-leo commented on #1421
@theebanka Can you try setting it to 500 and then saving? Also can you try clearing your browser data?

[2017-04-22 08:40] galli-leo commented on #1425
The movie is not actually copied. It's just a hardlink, meaning it won't take up more space. We have to do this since we don't want to remove the movie from your torrent client so that you can still seed your torrents.

[2017-04-22 08:40] #1425 closed

[2017-04-22 08:43] galli-leo commented on #1312
@erylflynn This should be fixed on the latest nightly. If TMDB does not give us a runtime, I set a default of 110 minutes.

[2017-04-22 08:43] #1312 closed

[2017-04-22 08:45] galli-leo commented on #1415
@xandian Yep sure that's totally fine. Thank you :). Regarding the issue atm I also cannot find it, especially, since I am on a phone. I will try to locate it, but it was in the direction of better list validation.

[2017-04-22 09:17] CrispinP opened #1426 "Imported movies without year in title show as missing"
**Description:**

- I've switched from CP to Radarr
- Loads of imported movies without year in title
- Profile in Radarr says "{Movie Title} ({Release Year})" as is my want
- After updating library Radar finds the movie and metadata but shows file as missing.
- If I update the folder name to include the year and rescan it shows it as valid.

Desired:

- The folder name is missing the year but it r

[2017-04-22 09:32] galli-leo commented on #1426
Yeah we should update the code to add movie files without a year regardless. Nevertheless, it's always a good idea to name your movie files with name and year. A program such as filebot would make it very easy for you to rename them quickly and include the correct. Also an issue for this is already open, though I cannot currently link it, since I am on mobile.

[2017-04-22 09:32] #1426 closed

[2017-04-22 09:51] jkaberg opened #1427 "Add "{ORGINAL}" to folder nameing scheme"
I'd like to see an option where Radarr uses the release name (eg. Torrent/Usenet name) as folder name when creating folders.

Cocuhpotato example:

Deluge
![image](https://cloud.githubusercontent.com/assets/613363/25303390/5acbac20-2752-11e7-82db-9fca6ba09b26.png)

Couchpotato
![image](https://cloud.githubusercontent.com/assets/613363/25303381/1488d4d6-2752-11e7-85ab-566c4278f394.png)

Result
![im

[2017-04-22 09:58] CrispinP commented on #1426
thanks for the tip. I'll try update them all.

Good work on the app!

[2017-04-22 10:03] dYna77 opened #1428 "Added movies keep getting downloaded"
I added my library but now the programm wants to download some of the movies again, although they are recognized as being there.
When i remove them from the queue they keep getting added.
![zwischenablage02](https://cloud.githubusercontent.com/assets/12372255/25303457/a9923f08-2753-11e7-8cd1-62ccaa033b9b.jpg)
![zwischenablage01](https://cloud.githubusercontent.com/assets/12372255/25303458/a9939d8a

[2017-04-22 10:06] galli-leo commented on #1427
This is already working on a seperate branch and should find its way into the nightlies over the next few days. However, I would recommend using this instead: "{Movie.Title.}{.Year.}{.Edition.Tags.}{.Quality.Full.}{.MediaInfo.Simple}{-ReleaseGroup}". This way you can make sure the folder contains all info needed and is representative of Scene Standards. It will also show you whether the movie is f

[2017-04-22 10:06] #1427 closed

[2017-04-22 10:07] jkaberg commented on #1427
Thanks @galli-leo, diden't know! Awesome work 😄

[2017-04-22 10:08] galli-leo commented on #1428
This is because those movies do not meet your cutoff. For example the Cutoff for the default HD Profile is Bluray. Radarr will keep searching & downloading movies that are not yet downloaded in Bluray with that profile. I would set those movies you do not want to be upgraded to unmonitored. This is best done in the Movie Editor.

[2017-04-22 10:38] dYna77 commented on #1428
I changed the profile for every movie in my library to "Any", but they are still getting downloaded; library was updated after that.
![zwischenablage02](https://cloud.githubusercontent.com/assets/12372255/25303690/8c09e2ba-2758-11e7-9a58-736245024461.jpg)
![zwischenablage01](https://cloud.githubusercontent.com/assets/12372255/25303691/8c0c7b56-2758-11e7-96df-57d37c303cbc.jpg)

[2017-04-22 10:56] galli-leo commented on #1428
Since Any still has a default cutoff of Bluray. Radarr wants to upgrade your HDTVs to Blurays.

[2017-04-22 11:45] dYna77 commented on #1428
Even when set to "unmonitored" they are getting downloaded.

[2017-04-22 12:14] j2ghz commented on #1198
The labels are making each line twice as wide as it could be with one less label. It's very annoying.
[![screenshot](http://i.imgur.com/CsW6LjF.png)](http://i.imgur.com/CsW6LjF.png)

[2017-04-22 13:49] galli-leo commented on #1428
@dYna77 Have you tried restarting Radarr.

[2017-04-22 13:56] xandian commented on #1420
@astlaurent Try creating a new list where you select the path before clicking on Save. I had a similar problem the other day and creating a new list solved the problem. It is still an issue, but at least you can work around it.

[2017-04-22 15:14] gibxxi commented on #1303
If running this on Linux (i.e: Linux-based NAS, or full Linux install) make sure Mono is starting before Radarr. You may need to adjust your package load-order to ensure this. As this will likely differ for different flavours of NAS / Linux distro, I won't elaborate on this further, except to say I had this issue on my QNAP TS453-Pro and juggling the Qpkg load-order solved the problem for me.

[2017-04-22 17:25] spuniun commented on #1423
So after collecting my debug logs all night to prove that it was working on automatic searches (which it still is), then retesting the manual add it was suddenly working again in both Sonarr and Radarr... dunno wtf

[2017-04-22 17:25] #1423 closed

[2017-04-22 19:22] seanvree commented on #1409
@galli-leo  - No errors.

[2017-04-22 21:12] SCRPD opened #1430 "Won't Connect to BakaBT via Jackett Using Torznab Custom."
**Description:**
I use BakaBT & Jackett on Sonarr & it works fine. With Radarr it's having an issue. I posted both version & part of the log file below.
Thanks.

**Radarr Version:**
Radarr Ver. 0.2.0.654
Jackett Version 0.7.1308.0

**Logs:**
[v0.2.0.654] System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)
   at NzbDrone.

[2017-04-22 23:25] AzzaG1 opened #1431 "Imported files are set to read only"
Evening all,

After searching the forum I am unable to find any threads with this issue so I am hoping it is just me being thick.

I am running Radarr as a program, not a service and am able to see my networked drive and all my files. I currently download to one of my network drives but then on import, the files are transfered to my second network drive. After updating the nightly build to the lat

[2017-04-22 23:32] AzzaG1 commented on #1431
On further invest, it appears to be only the folder set to read only, not the actual video file.

[2017-04-23 03:29] contherad commented on #800
This worked for me as well.

[2017-04-23 04:09] Quiksmage commented on #1361
I'm surprised no one else has commented saying that they aren't getting PTP working. Is it only me? If so, I've got to wonder what's going on. I've swapped over to nightly to see if any changes there could help, but no change. Is it possible to revert to the develop build 0.2.0.596 - Apr 10 2017.
There is no install option in the GUI for older builds.
I'd like to see if PTP becomes usable again as

[2017-04-23 04:20] Quiksmage commented on #1361
I reinstalled the old version where it was previously still working and it is still not working. Now this is confusing to me even more.

When I first created this issue, it happened on nightly, I reverted to this develop and after my ban had passed, it started working again.

Now, on the current develop it doesn't work and reverting back to the old one doesn't help.

I've now done a fresh install

[2017-04-23 04:36] Quiksmage commented on #1361
Okay.... so I think I've found out what's going on... and it perplexes me even more.

So, I tried to login to the website using my credentials from within the VM that radarr has been installed on. It fails with the correct information the same way radarr does.

I'll have to troubleshoot into this further. I'll keep this updated.

[2017-04-23 04:42] Quiksmage commented on #1361
Okay, I figured it out,

The password I was using was incorrect as the message said in my inbox.

However, PTP is allowing me to login with incorrect credentials on my main computer, the fuck...?

Evidently, even when you click log out, it still caches your information and does NOT require a correct password to be typed in on the login page.

I literally just logged in with 1231251251251245.

I'm

[2017-04-23 04:43] #1361 closed

[2017-04-23 05:11] Quiksmage commented on #1361
For completions sake. I  reported this over to the PTP IRC. They worked with me through it and it appears that my password manager is filling a hidden form between when I input an incorrect password, and when I complete the captcha. After I select the correct captcha, there's a hidden form where it's inputting my correct login data. Hopefully this will help someone in the future.

[2017-04-23 05:38] savaloi commented on #1416
I've set AuthorizedIP in NZBGet to all the appropriate IP addresses on my network (about 10) and then restarted services manually, then a couple hours later, the whole machine.

It doesn't appear to have changed anything :(
Still getting these errors every 2-10 minutes:
`Unable to retrieve queue and history items from NZBGet: Cannot access a disposed object.
Object name: 'System.Net.Sockets.Networ

[2017-04-23 06:04] Quiksmage commented on #1430
I'm getting the same error as above attempting to add the jackett torznab.

I did notice that in jackett, 5070 - TV/Anime is listed as its category.

I attempted to add 5070 to the category line when adding the indexer, but it had no change.

Is it likely that the 5070 category is causing this problem considering it isn't movie related?

If that is the case, the Jackett maintainer would have to ad

[2017-04-23 06:10] Quiksmage commented on #1407
+1 on what @vendeka said.

[2017-04-23 07:28] dYna77 commented on #1428
Yes, several times.
But one movie or so pops up in the Queue everytime .

[2017-04-23 08:20] #1431 closed

[2017-04-23 08:21] AzzaG1 commented on #1431
Appears it may have been my computer being an idiot!!

[2017-04-23 09:14] ptempier commented on #1352
I'd like to be able to set multiple languages in the profiles.
Typically unless usa/uk, a lot of peoples would speak english+their mother tongue.

Optionally sometime download subtitle with multiple language would be a good option.
For English movie with a lot of slang/strong accent, or for example an anime if you dont speak Japanese.

[2017-04-23 14:27] galli-leo commented on #1409
@seanvree Which movie where you searching for with which indexers? then we might be able to repro it.

[2017-04-23 14:29] galli-leo commented on #1416
@savaloi I would wager to say it's the updated NZBGet. Since a lot of users have used Radarr & Sonarr & NZBGet without issues before. Is there a way to downgrade NZBGet?

[2017-04-23 14:31] galli-leo commented on #1352
This will come to fruition in the "profilinator" update. Though we are not sure when that's going to come and how long that's going to take.

[2017-04-23 16:10] Blowy111 commented on #1409
Im getting a very similar error- very odd.
Total coincidence im sure but it started happening right after i updated SABnzbd to the latest version which went 64 bit.
On a manual search, i get the 'connection to backend lost' after about 5 mins and then have to restart Sonarr on the server.
WIll try the nightlies as you suggest and see what happens.

[2017-04-23 16:54] rkmfl opened #1432 "Radarr Created Directory/Paths <> Radarr Named Movies"
I've searched for this issue here in the Issues list and Radarr Problems/FAQ - but don't see it.

This is *not* an issue with file/directory naming, this is a 100% Radarr-controlled issue.

When Radar downloads a movie with a hyphen (dash"-") in the name, the directory name will not match the movie name.  Therefore, Radarr will claim the movie is MISSING.

I'm referring to using the standard varia

[2017-04-23 19:45] helofrends opened #1433 "File named/marked incorrectly on manual import."
When importing a 1080p bluray, the file is incorrectly named with 720p quality at the end of the file name. Media info says 1080p; however, radarr operates as if this is still a 720p file (cutoff not met if set to 1080p or bluray).  Organize will not work to fix the filename unless the 720p component is deleted after which organize then correctly renames and labels the file.

Check first that your

[2017-04-23 20:36] Aesculapius commented on #1406
Correct, but no filter by text string....maybe that is what I'm looking for as feature request then :-)

[2017-04-23 21:34] dzg opened #1434 "In Movie Editor, 'tick all' not working"
If I tick the 'select all' box, only the first item gets selected.

**Radarr Version:** 0.2.0.654

[2017-04-23 21:59] ProphetSe7en opened #1435 "Modify movie files not working in movie screen"
When I press the "modify movie files" button nothing happes.

Running v0.2.0.654

[2017-04-23 22:08] Ta0uf19 commented on #305
If you are still interested I have recently made a scraper for Torrent9.

[2017-04-23 22:38] helofrends commented on #1433
-1- The first part of the issue is that it seems to always label manually imported files as 720p regardless.

-2- Second issue is that it will not "organize" the file name once a quality label, whether false or not, is in the file name.  Basically, if the file name has all the requested attributes, organize will believe it is correct and not provide the option to organize the name properly.

[2017-04-23 23:32] seanvree commented on #1409
@galli-leo  -

Okay, for some reason, it started working TODAY....Here's a screenshot:

http://imgur.com/nZlAaMk

I'll monitor some more.  Up to you if you want to close it.

[2017-04-24 03:17] sgtsquiggs commented on #1245
@galli-leo - this issue resolved itself. Every remaining "missing" movie is legit missing.

[2017-04-24 03:36] theebanka commented on #1421
@galli-leo Swapping it to 500 saving then swapping it back to 1000 worked like a charm! thanks

[2017-04-24 04:39] powertowerpro opened #1436 "Movies incorrectly showing up as CUTOFF UNMET"
**Description:**
Wanted -> Cutoff Unmet shows movies where the cutoff is actually already met

**See unmet movies here:**
![image](https://cloud.githubusercontent.com/assets/5577598/25322564/068b25de-286d-11e7-84e2-5d7d4549b114.png)

**See Profile for select movie here (NOTE: HD-1080p):**
![image](https://cloud.githubusercontent.com/assets/5577598/25322576/114e9fdc-286d-11e7-8306-22ddd33a3cd6.png)

[2017-04-24 05:05] savaloi commented on #1416
I don't think / can't see that there's an easy way to downgrade NZBGet. I think I can only uninstall it and reinstall an older version. But I'll raise an issue on their github and see how it goes..

[2017-04-24 06:47] galli-leo commented on #1436
Qualities are ordered from bottom to top
Currently HTDV is considered better than Bluray in your settings
So naturally Radarr thinks these are cutoff unmet.

[2017-04-24 06:47] #1436 closed

[2017-04-24 07:58] galli-leo commented on #1409
I will wait a few days. If it doesn't pop up, I will close the issue.

[2017-04-24 14:15] galli-leo commented on #1416
Can you still see your queue?

[2017-04-24 14:30] galli-leo commented on #1433
Can you provide a way for me to test the file? Or can you post the complete media info output? Also, what's the full filename? We run mediainfo on importing and correct the quality label. So not sure how that can happen. But yes, once a file is imported into your Radarr library we wont constantly scan it again to verify it has changed.

[2017-04-24 14:33] galli-leo commented on #1420
@astlaurent Can you try what @xandian suggested and report back?

[2017-04-24 16:29] remkovdz opened #1437 "Movies are recognized but set to 'Missing'"
Hi, I just installed Radarr (was already using Sonarr) and I imported my existing movies. This went great at first: Radarr recognized every movie I had and listed them in 'Movies'.

The problem: although Radarr recognized all Movies, it also set some of them to 'Missing'. This is strange behavior of course, since they ARE on in the correct folder etc., which is why Radarr put them in the 'Movies'

[2017-04-24 18:00] galli-leo commented on #1437
Sonarr doesn't handle movies, only Radarr does. Did you mix up the names in your post? If yes what is the naming of those movies Radarr does not recognize?

[2017-04-24 18:15] fryfrog commented on #1416
I'm using 18.1 on Arch Linux w/ Radarr right now and don't seem to be having any issues. :/

[2017-04-24 21:34] 4getit commented on #1420
I had the same issue a few times and had to update the DB manually afterwards. I think it happens when you edit an existing list and then hit save again.
Now, I try to always click the directory again before clicking save and this seems prevent it from happening.

[2017-04-24 22:24] yuljk opened #1438 "Multi-part movies not deleted"
**Running the latest version of Radarr as a Windows service - I have imported my existing movies. When updating a standard definition movie which is in two parts only one part is deleted.:**

Multi-part movie - only one file is deleted after updating to a better quality release.  This means I need to manually delete the file, remove the movie from my library and add back in.

Much appreciated

**0

[2017-04-24 22:58] savaloi commented on #1416
Yes I can still see the queue and everything appears to be working in Radarr, just get a tonne of these errors..

[2017-04-24 23:02] staraxis commented on #1420
I have a similar issue and can't seem to find it elsewhere. I have 2 lists setup with different paths. One should have a folder as A:\Kids Movies the other should have a folder B:\Movies (not real paths). The issues is that whenever I change the folder for one list the other automatically changes as well. I can't seem to have unique folder paths setup. If I change one the other changes and vice ve

[2017-04-25 00:52] yuljk commented on #1438
Example multi-part movies in my library.

Aliens.CD1
Aliens.CD2

Only one file will be deleted after downloading a higher quality release of the movie.

If the movie is a single file Radarr deletes it without issue and replaces with a newer quality release.

Hope that helps!

[2017-04-25 01:36] junestu commented on #1420
I have the same issue as staraxis.
Two TMDB list of the same type (Theaters) the difference being one excludes genre ids 10751,16 while the other includes them.  Unable to set different folders due to the issue described by staraxis above.

[2017-04-25 04:29] fryfrog commented on #1438
FWIW, I think it also fails to move multipart downloads if you accidentally download one :/

[2017-04-25 05:26] remkovdz commented on #1437
Oops, I mixed up the names, I meant Radarr!

Examples are Birdman and American Sniper.

[2017-04-25 06:43] fryfrog commented on #1437
Check the path for the movie. You may have it as "American Sniper" and Radarr is expecting "American Sniper (1928)".

Also, check permissions. Radarr has to be able to read the dirs and files.

And really, provide more details.

What OS are you on? What version of Radarr? What is your setup?

[2017-04-25 08:15] galli-leo commented on #1437
@remkovdz Also for now your movie files need the year in them, so you have to name them American Sniper 2016.mkv

[2017-04-25 08:21] galli-leo commented on #1438
@yuljk Yeah we don't handle multipart movies yet. Flagging this as a duplicate since there's already an issue open for handling duplicate movies at #145

[2017-04-25 08:21] #1438 closed

[2017-04-25 09:47] Grimeton opened #1439 "[FUG] Movies added from RSS-Lists (IMDB) are not shown on the movie page or in search"
Hi,

when movies are added via rss synced lists like this one:

![grafik](https://cloud.githubusercontent.com/assets/2773919/25379226/a248095c-29ac-11e7-9618-0122c67a8371.png)

then the movies are neither listed on the movies page nor are they shown in a search.

So on would figure the movie hasn't been added and when going to the "add movies" page and search for the movie the system offers you to

[2017-04-25 09:56] Grimeton commented on #1439
Hi again,

of course I forgot to add the version number. While checking for it I saw that there's an update available. Installed the update and now the movies are shown.

Not sure if this is caused because it has been fixed in the update or because I restarted Radarr.

If the former, please close the bug.

Current version now: 0.2.0.654 - Apr 18 2017

Sorry.

KR,

G.

[2017-04-25 10:11] galli-leo commented on #1439
@Grimeton Probably caused by the restart. Did you try refreshing the page and then checking again if the movies are there?

[2017-04-25 10:13] galli-leo commented on #1420
@staraxis @junestu This is just a visual glitch. If you change the path on one list and click save the path is correct. The dialog just shows the wrong path.

[2017-04-25 10:32] yuljk commented on #145
This would be a very useful feature as I am in the process of upgrading my movie collection (many are multi-part as they were downloaded yonks ago) and Radarr only deletes one file after downloading, which ultimately ends up showing the files as missing.

[2017-04-25 11:56] Grimeton commented on #1439
Hi,

the movies in the RSS list have been added there days ago. And the page was reloaded several times since then.

The thing is: after the update all the movies from the rss feed are actually shown. Before the update none of them were shown. I had the suspicion that it was caused by pressing the "+" button on the "add movies" page but that's not true.

I also tested. Added new movies to the list

[2017-04-25 12:43] galli-leo commented on #1439
Glad to hear that it's fixed. Will close and you can reopen :)

[2017-04-25 12:43] #1439 closed

[2017-04-25 12:45] LickABrick opened #1440 "Movie name not recognised when using 1/2 or 1.2 instead of ½ in their name are not recognized."
When downloading a movie like Naked Gun 2½ it doesn't recognise movies listed with the name The.Naked.Gun.2.1.2

[2017-04-25 14:25] helofrends commented on #1433
Thanks for the response.  It is only when manually importing a file that doesn't already have detailed in the filename.  For example, if I use makemkv to produce a file and then manually import the file (which has no labels on it), it will always default the file name to 720p even though media info correctly says 1080p.  Radarr will still see the file as not meeting the 1080p cutoff.  I'll see if

[2017-04-25 18:17] jooncheez commented on #1407
I got another example here. It seems to be the accents though?

![image](https://cloud.githubusercontent.com/assets/10760947/25400828/1ab1191e-29f4-11e7-867b-c1f8c83facec.png)

[2017-04-25 18:33] galli-leo commented on #1407
@jooncheez Can you open a new issue for that one? I know what's causing it.

[2017-04-25 18:39] jooncheez opened #1441 "Movies with ä,ö,ü which are not used as german umlauts cannot be parsed."
![image](https://cloud.githubusercontent.com/assets/10760947/25401813/12cd4314-29f7-11e7-9d3a-0775743a30b8.png)

This release is rejected because of "Unknown movie. Movie found does not match wanted movie.". However, title seems to be the same. Only thing I can see is that the accents are missing.

[2017-04-25 18:39] jooncheez commented on #1407
@galli-leo Sure thing: https://github.com/Radarr/Radarr/issues/1441

[2017-04-25 21:25] entropydo opened #1442 "Add Base URL to Deluge Settings"
**Description:**

Check first that your problem is not listed in our wiki section:
* https://github.com/Radarr/Radarr/wiki/Common-Problems
* https://github.com/Radarr/Radarr/wiki/FAQ

Under host, I am trying to add the base folder for deluge to connect via SSL. It states that "must be valid Host without http://"

My set up:
Host: domain.tld/deluge
Port: 443
Password: PW
Use SSL: Yes

The set up wo

[2017-04-25 22:16] mattwbb commented on #1244
+1. Took me way too long to figure out what was going on!

[2017-04-26 02:12] kappaknight commented on #1428
Yeah, seeing the same bug here. It's wasting a lot of bandwidth and CPU processing the same thing over and over again. Maybe set to check it every few days if it'll keep doing this or set to not download the same crappy version if one already exists?

<img width="767" alt="screenshot 2017-04-25 22 10 21" src="https://cloud.githubusercontent.com/assets/1387666/25415174/076443b2-2a04-11e7-9ded-185c5

[2017-04-26 04:30] remkovdz commented on #1437
Thanks!

The folder has the year in it: **Birdman (2014)**. However the filename did not: **birdman.wmv**, I renamed it to **birdman 2014.wmv** and rescanned everything under System > Tasks but that doesn't help. To be honest I'm not sure if this is the problem: I have several files in in the movie map without years in the file name and Radarr managed to process them well.

I now always include ye

[2017-04-26 05:22] letchu22 opened #1443 "a"

[2017-04-26 05:45] #1443 closed

[2017-04-26 07:00] galli-leo commented on #1437
@remkovdz Can you go into System -> Tasks and run the houskeeper task? Also if that does not fix it. Can you try to remove ad readd the movie?

[2017-04-26 12:25] galli-leo commented on #1428
@kappaknight The problem here is that Radarr parses the movie to be a Remux (e.g. Rings) from the torrent info. But when we actually have downloaded the release, Radarr realizes it's only 720p, hence the cycle. I would advise to blacklist these releases, since they just seem badly labelled. There is not that much we can do, though I am thinking of ways to prevent that.

[2017-04-26 13:09] leeramsay commented on #1197
For those suffering this issue, a quick update how to work around on your iOS device, you need a Mac too.

https://webdesign.tutsplus.com/articles/quick-tip-using-web-inspector-to-debug-mobile-safari--webdesign-8787

^^ That guide helps you configure developer menu on Safari & Web inspector in your iOS settings. Once that's done:

1.  Launch Safari on iOS, go to your radarr URL, mine was doing the

[2017-04-26 13:27] galli-leo commented on #1197
@jc00per Can you delete the pageSize key on the latest nightly and try again. Default pageSize should be 250 now.

[2017-04-26 17:31] Davst opened #1444 "Radarr downloading episodes."
Was greeted to an episode of The Flash, s03e19 or something.

Image reference: http://puu.sh/vwYfO/ba5668c147.jpg

Version
0.2.0.654

**Logs:**

[code]

[2017-04-26 18:01] galli-leo commented on #1444
It is extremely likely that your indexer mistakenly tagged that release with the imdbid of the movie you are monitoring. We have had that in the past and it should try to only add if the year matches too. What I suspect is that because it's an episode we couldn't parse the year and therefore matched it anyways. I will try to repro it though if I have time.

[2017-04-26 18:54] Stealthii opened #1445 "Add the audio quality to the Quality Full directive"
Currently missing is the audio quality from rename options. In order to differentiate between different audio format releases a user may have in their collection.

[2017-04-26 19:12] Davst commented on #1444
Probably. I'm thinking that it would likely be safe to check a node for what parts of Sonarr that might be left in Radarr which derives that it might be an episode. (or just vs the pattern of eXX sXXeXX or similar) which would indicate that it is an epsidode, unless the unlikely event that there was a movie named Movie s21e19 or such.

[2017-04-26 21:05] Quiksmage opened #1446 "file name from 4k remaster won't process"
Example file name: Bad.Boys.II.2003.4K.BluRay.Remux.1080p.AVC.DTS-HD.MA.5.1-BMF

4k remaster encodes/remuxes tend to be named such as this. I can get around the problem by manually importing from within radarr.

[2017-04-26 21:23] galli-leo commented on #1445
That's because we don't specifically track audio quality. You can however add MediaInfo Full and get the audio quality in the name.

[2017-04-26 21:23] #1445 closed

[2017-04-26 21:24] galli-leo commented on #1446
Interesting. So is this a 1080p or 4K release? Never seen this before.

[2017-04-26 21:32] Quiksmage commented on #1446
1080p release off of a 4k remaster.

[2017-04-27 02:26] schmittyd opened #1447 "Allow selecting Alternate Name when adding movies"
**Description:**

When adding a movie to Radarr, allow the user to select an alternative title instead of using the main US title. Also, allow the user to edit an already added movie to select an alternative title.

Check first that your problem is not listed in our wiki section:
* https://github.com/Radarr/Radarr/wiki/Common-Problems
* https://github.com/Radarr/Radarr/wiki/FAQ

Provide a descript

[2017-04-27 08:21] galli-leo commented on #1447
What would that accomplish exactly? We already store the alternative titles and use them when checking whether a found movie matches the one you want. The only thing where we could improve, is also searching with the alternative title if your indexer does not support searching by imdbid. For that we already have a feature request open.

[2017-04-27 09:05] galli-leo commented on #1430
Seems more like searching by imdbid is not enabled. You can still add the indexer it just wont search as precise. I would suggest talking to the maintainer and get him to add search by imdbid support.

[2017-04-27 09:05] #1430 closed

[2017-04-27 09:52] eyeofmaat commented on #1393
+1
just found this out after moving a bunch of stuff around. Would love it if I didn't have to update the location of every movie that was moved

[2017-04-27 10:02] eyeofmaat opened #1449 "Email alert"
For a feature request, sending an email when a movie is downloaded would be good.

For example, when adding newly announced movie, this can stay there for large periods of time (years or months)
When it eventually gets released then downloaded for the first time, an email alert to say "xxxx movie has been successfully downloaded" would be nice.

same for times when quality has been updated. I woul

[2017-04-27 12:13] MeltedLux commented on #1449
This is already a thing in both Sonarr and Radarr.
![](https://i.hatethe.uk/qasXhAFMJqGQ.png)

[2017-04-27 12:31] schmittyd commented on #1447
Sorry if I wasn't clear. I meant, instead of using the original title when adding to Radarr, give the option of using the original title or using an alternative, and using that to name the title in the file system. I am from Australia, and find it annoying that it uses the main/US title, both in Radarr and the file system.

[2017-04-27 12:48] #1449 closed

[2017-04-27 15:31] randellhodges commented on #1419
I was thinking of trying my hand at making this modification. Would there be value to make this configurable?

While making this change, would there be value to adding other filtering condition?

category
codec
medium
1 Blu-ray/HD DVD , 3 Encode, 4 Capture, 5 Remux, 6 WEB-DL

I am thinking of implementing medium because I don't do full bluray downloads, only encodes of blurays. Right now, it will

[2017-04-27 15:45] LSL1337 commented on #1419
it would be preferable to put releases into categories based on HDB Meta data (categoria, type, codec), as the current mode, which is based on regex.
So this would be a farily big modification, if you want to support it for profiles.
but i guess a simple checkbox on these dimensions would be better than a hardcoded one, which i descried in the OP.
choice is always better imho

[2017-04-27 15:57] randellhodges commented on #1419
I agree for categories, the real long term solution would be to tie it to profiles. That is probably more than I'd want tackle at the moment.

I wonder if I just do it on a filter approach, what the chance are of getting it merged?

Also, unless I want to create new UI controls, I am somewhat limited to how to select these values. I think each item would need to be a On/Off slider (I believe that

[2017-04-27 16:35] galli-leo commented on #139
#1450 This should help a lot. Also with the db on our server, we can add metadata to all lists, which should allow us to display additional info for all lists.

[2017-04-27 17:41] galli-leo commented on #1447
Gotcha.

[2017-04-27 18:28] nemchik commented on #1447
I would like to second this request, but I don't even think it's about a regional difference, just a user preference. For example; If I'm trying to find `Star Wars: Episode IV - A New Hope` I will only find it under the title `Star Wars`, and similarly `The Empire Strikes Back` and `Return of the Jedi` are not found by searching `Star Wars`. The end result is these files, when downloaded through R

[2017-04-27 18:33] bradmurray opened #1451 "Cookies should have a path of /URLBASE when that option is set"
Cookies are all set to / which makes them collide with other apps that use the same cookie names on the same server. Plus it makes cookies bleed into other apps.

[2017-04-27 18:39] galli-leo commented on #1447
@nemchik I think you should update the titles on TMDB for such series. Maybe also hit up Travis Bell (the creator of TMDB) about keeping titles consistent. That makes way more sense, since then the titles are also consistent for users of TMDB services other than Radarr.

[2017-04-27 18:42] galli-leo commented on #1451
Well the only cookie we use is the auth cookie (named __nfcaradarr). Surely that does not collide with any other software? About bleeding yeah I agree, we should probably add the URL Base.

[2017-04-27 19:37] Jorman opened #1452 "Unable to parse movie info from path"
Hi Radarr succesfully find and downloaded a movie but now can't parse the movie itself, I don't have much details, this is the error

`Unable to parse movie info from path /share/CACHEDEV1_DATA/Download/automatics/complete/radarr/[Xvid - ITA] Deuce Bigalow - Puttano In Saldo.avi`

Any idea?
Tnx, Jo

[2017-04-27 19:39] galli-leo commented on #1452
You need to have the year in the movie filename right after the movie title. Additionally, you cannot have the [...] stuff in front of the movie name. You have to put that after the year.

[2017-04-27 19:39] #1452 closed

[2017-04-27 19:48] Jorman commented on #1452
Tnx for the reply, I've no problem to manually rename the file, but this is the name that the releaser gave to the release, so radarr grabbed that file, and now can't import in the movie.

So, Is maybe a kind of implementation that radarr will have? not all release are correctly formatted when released

[2017-04-27 19:52] nemchik commented on #1447
Fair point. I'll look into that, thanks! (Didn't know I could!)

[2017-04-27 20:34] galli-leo commented on #1452
@Jorman Yeah there should be an issue already open for that. But 99% of the releases are in a format that Radarr understands so it's not really a high priority getting that in right now.

[2017-04-27 20:34] galli-leo commented on #1452
@Jorman Yeah there should be an issue already open for that. But 99% of the releases are in a format that Radarr understands so it's not really a high priority getting that in right now.

[2017-04-27 20:35] galli-leo commented on #1447
@nemchik That's the beauty of TMDB :)

[2017-04-27 20:41] Jorman commented on #1452
Ok, tnx for the clarification! Got it! Actually is an old release, so, I will stop the torrent once the ratio is grantee and I'll import it manually.

Only one things, is possible, on searching phase, to "normalize" all the character? I mean I've a movie that contain the ò character but all the release was made with the normal o not the ò, so any search can't return the movie title. What option I'

[2017-04-27 20:53] the-misterlas opened #1453 "Edition Tags not working on existing media"
**Description:**

Edition Tags do not seem to be working for existing media.  I have adjusted the naming schema as follows, but cannot make use of it yet:

http://i.imgur.com/qNmJ2S7.png

Adjusted the filename manually and attempted a scan, no change.

Deleted and re-added the movie and let it re-scan, and the Edition is not being flagged.

http://i.imgur.com/lwvPUdL.png

Confirmed with a few redd

[2017-04-27 21:00] galli-leo commented on #1453
Can you try naming it The Lord of the Rings The Fellowship of the Ring (2001) Extended Edition etc.?

[2017-04-27 21:02] the-misterlas commented on #1453
Per /u/fryfrog on reddit (and @galli-leo was on the same train of thought), I replaced the underscores with
 spaces in the filename and re-scanned.  This time it worked.

http://i.imgur.com/0awKkF2.png

So it appears to be an issue with using underscores.

[2017-04-27 21:04] galli-leo commented on #1453
@the-misterlas Yeah, I fixed that on the latest nightly. But that's not in the latest develop release. So I am going to close the issue for now :)

[2017-04-27 21:04] #1453 closed

[2017-04-27 21:04] galli-leo commented on #1453
So with the next release you should be able to keep your underscores.

[2017-04-27 21:07] galli-leo commented on #1452
Well Radarr will (IIRC) exchange these characters already, since almost all indexers will return the desired results even if you search with o instead of ò.

[2017-04-28 04:05] ryanmurray opened #1455 "[Feature Request] On Upgrade Output deleted relative movie path like sonarr"
Sonarr outputs to path variables during an upgrade
could radarr be set up to output just like sonarr this would enable me to better write my script which has a cache directory for cloud people and would enable me to delete the real file.
a bonus would be a
$radarr_movie_filename
$radarr_deleted_movie_filename
that would be really really helpful

[2017-04-28 05:42] mattispantone81 commented on #1023
any update on this gents?

[2017-04-28 12:57] Watison opened #1456 "Not Saving Indexers/Lists on Error"
**Description:**

When saving a new list or indexer it tests the connection, then doesn't save if an error is returned. It should save regardless of an error being returned, and shouldn't need to test the connection unless prompted.

**Radarr Version:**

0.2.0.654

**Logs:**

Invalid request Validation failed:
 -- Unable to connect to indexer. Request limit reached (26/25)

[2017-04-28 13:02] Watison opened #1457 "'Downloaded' Sort/Filter Field"
**Description:**

When sorting your movie list by 'Downloaded', it hides the missing movies rather than moving them to the top/bottom of the list. A 'Downloaded' filter button should be added rather than the sort field hiding movies.

**Radarr Version:** 0.2.0.654

**Logs:** Nil

[2017-04-28 13:39] galli-leo commented on #1457
This unfortunately is a limitation of how we filter by downloaded. This should be addressed when we update our UI. However, if you filter by downloaded, surely you don't want to look at not downloaded movies?

[2017-04-28 13:39] #1457 closed

[2017-04-28 14:34] the-misterlas commented on #1453
Thanks so much @galli-leo!   You guys had it fixed before I even reported it... great devs!  Totally earned a second donation from me!

[2017-04-28 14:48] galli-leo commented on #1453
@the-misterlas Well fryfrog already reported that the other day and I quickly patched it, but thank you very much for your support :)

[2017-04-28 16:21] Jorman commented on #1452
Ok, tnx so much for all this info but maybe I'm wrong, but I think there's some kind of problem here, maybe I've to open a new issue?
Look at this:
The movie title is:
`Deuce Bigalow - Gigolò Per Sbaglio`
And on Jacket logs I've this:
[code]
On Radarr logs I've this:
`Searching 9 indexers for [Deuce Bigalow - Gigolò per sbaglio]`

Why I see ò instead o?
On Il Corsaro Nero, with o there's a release

[2017-04-28 16:47] fryfrog opened #1459 "Min Availability doesn't change for all or get remembered"
![screen shot 2017-04-28 at 9 44 54 am](https://cloud.githubusercontent.com/assets/87748/25538417/7b034bd4-2bf7-11e7-914d-e314a5d35042.png)

When adding movies, changing the path, profile or monitor changes it for *all* of them. But for Min Availability, it doesn't. Also, changing these is remembered for future movies. But it isn't for Min Availability.

**Radarr Version:**
Radarr Ver. 0.2.0.676
n

[2017-04-28 16:48] Jorman commented on #1452
A little update for you, that correct a little my previous post:

If I search directly on Il Corsaro Nero, for example, seems that the problem is the year, not the char, correct me if I wrong, but I think that I've saw once, that Radarr search with and without the year, is only one my allucination?

So if I search on Corsaro Nero
[With the year](http://ilcorsaronero.info/argh.php?search=deuce+biga

[2017-04-28 17:07] fryfrog commented on #1459
![screen shot 2017-04-28 at 10 06 52 am](https://cloud.githubusercontent.com/assets/87748/25539115/6d18a8ea-2bfa-11e7-93a8-2cf442c2e966.png)

Big cry. :~(

[2017-04-28 17:08] fryfrog commented on #1456
![screen shot 2017-04-28 at 10 08 13 am](https://cloud.githubusercontent.com/assets/87748/25539146/a627901a-2bfa-11e7-9579-148d95d4fd04.png)

Works fine for me, I changed this one to fail test and saved it over and over and over again.

[2017-04-28 17:09] enz1ey opened #1460 "Notifications Fail Intermittently"
Custom script notifications are failing seemingly every other import. The script has not changed in any way. Error in log is as follows:

**Radarr Version:**0.2.0.654

**Logs:**
17-4-26 09:21:09.2|Warn|NotificationService|Unable to send OnDownload notification to: ConvertMovie.sh

[v0.2.0.654] System.NullReferenceException: Object reference not set to an instance of an object
  at NzbDrone.Common.

[2017-04-28 19:25] remkovdz commented on #1437
Thanks, running Housekeeper does not work.
Removing and adding the movie will definitely work (already tried it with other movies) but I figured that's not the way it should be?

In other words: I'll live with this issue (can fix it by removing/adding) but it looks like a bug?

[2017-04-28 19:37] fryfrog commented on #1432
Radarr removes the `-`. When are  you seeing the folder with a `-` in it get created? Is Radarr doing it? Or is it an existing movie on your filesystem?

I just added Sword of Destiny and you're right about the 2nd path being what it'll eventually create. I don't have Radarr set to create directories until the movie is downloaded and I expect when that happens, it won't be trying to put it into th

[2017-04-28 19:41] fryfrog commented on #1437
I see this same issue occasionally on movies and remove/re-add is the only thing that has fixed it. Haven't had any luck figuring out the actual problem. :/

[2017-04-28 21:33] rkmfl commented on #1432
The _key_ point I was hoping to highlight, was that none of this has anything to do with my configuration or anything I'm doing.

These are folders entirely created by Radarr.  Radarr removes the hyphen in one and does not remove it in the other -- that is the bug being presented here.

[2017-04-29 03:45] NunoVilhenaSantos opened #1461 "Unable to connect to Deluge"
Hi,

Good job by the away and for the Sonarr Team.

I'm using 2 OS Windows 10 with utorrent, it's excellent and the other is a LinuxMint 18.1 with deluge.

On linux when i disconnect the deluge and reconnect the sonarr makes the connection on Radarr i go to the settings of deluge test the deluge config and the the system retrieves the information and continues with the process, in this case was ch

[2017-04-29 10:30] galli-leo commented on #1437
@fryfrog @remkovdz Yeah I have also been able to find the issue on my local dev environment. It should not happen. No idea why it does. I have a few things that could circumvent that, but no real solution yet :/

[2017-04-29 10:31] #409 closed

[2017-04-29 10:32] galli-leo commented on #1437
But this issue was already raised here #657, So I am going to close this as a duplicate.

[2017-04-29 10:32] #1437 closed

[2017-04-29 11:33] toddcurry opened #1462 "Import: one-shot only?"
This is probably an edge case, and I suspect there is a sneaky workaround to resolve.

One-liner:  I selectively imported some movies from main "repo" and now cannot re-import any more from my "repo" as it is being declared a "root folder"

Situation:
- Running Radarr in docker; finally moved it out of test and into prod :)
- Previously monitored movies (~50 or so) were pointing at /testmovies/ -

[2017-04-29 11:45] toddcurry commented on #1462
Restarting the docker container resolved this -- though restarting docker via restart button did not, FYI.

[2017-04-29 11:45] #1462 closed

[2017-04-29 13:40] Tenzinn3 opened #1463 "Could not create SSL/TLS secure channel."
17-4-29 22:14:14.9|Info|NzbSearchService|Searching 4 indexers for [Hwasangorae]
17-4-29 22:14:14.9|Warn|SecurityProtocolPolicy|Disabled Tls1.2 due to remote certificate error.
17-4-29 22:14:15.1|Warn|Rarbg|Rarbg  The request was aborted: Could not create SSL/TLS secure channel.

It also happens with other trackers. When I test them they all connect, this happens on and off, it has worked on other

[2017-04-29 16:38] raspdealer opened #1464 "Notification in Kodi, wrong icon"
Hi guys,

The icon displayed in Kodi is still using the Sonarr one in the last version.

Thanks

[2017-04-29 16:59] raspdealer commented on #1461
You mean they interfer?

[2017-04-29 17:13] calebpaine commented on #1196
Setting a movie that is doing this to Physical/Web stops the behavior. Returning the movie to PreDB does not cause the 404 behavior to return.

[2017-04-29 17:26] raspdealer commented on #1196
Same here

[2017-04-29 17:31] dariosm opened #1465 "Missing MediaInfo parsing after download"
When download is complete and Parser starting doing its work given "Standard Movie Format" expression, fails to process MediaInfo fields, but there aren't neither error on logs nor information that MediaInfo is actually being processed.
I'm using the following expression: `{Movie CleanTitle} {(Release Year)} {Edition Tags} [{Quality Full}] [{MediaInfo Video} {MediaInfo Audio}] [{Release Group}]`
A

[2017-04-29 17:41] raspdealer opened #1466 "Adding Movies from Library"
Hello,

As Sonarr and CP, I was expecting a way to visualize all my collection in Radarr but I can't figured out how.
When I'm using Add buttons, instead of adding them as 'in the collection/downloaded', it's trying to parse them to match to wanted...

How can I do?

Thanks

[2017-04-29 18:02] dariosm commented on #1465
Another movie just got downloaded and correctly renamed automatically: `99 Homes (2014) [Bluray-1080p] [x264 DTS-HD MA] [EPiC].mkv`
I checked out the logs and see a debug msg from `VideoFileInfoReader`. I'm not familiar with the src, but I can guess it is the responsible for getting MediaInfo.
The only think I changed from the first post till now, is turning off hard links, since download path and

[2017-04-29 18:46] raspdealer commented on #1466
Ok a restart made the job!

[2017-04-29 18:46] #1466 closed

[2017-04-29 19:02] gregorij89 opened #1467 "Add Czech language to profiles"
Hi,

please add the Czech language to profile settings. For example, The Da Vinci Code on Czech indexers looks like this:

Šifra mistra Leonarda / The Da Vinci Code (Extended Cut) (2006)(CZ/EN)[1080pHD] (Radarr is unable to recognize the movie name, it says Unknown movie. Movie found does not match wanted movie.)
or
The.Da.Vinci.Code.2006.Extended.Cut.BDRip.XviD.AC3.CZ-Starcross (more convenient n

[2017-04-29 19:04] galli-leo commented on #1467
I already have a PR for the second problem (Radarr would then search with the additional titles as well.) For the first part, yeah I have to think about movies which have both, original and translated title in their name as well.

[2017-04-29 19:21] NunoVilhenaSantos commented on #1461
Hi,

No i don't think so.

When i test the deluge, the system says it's ok, and after that the system start to pick up the files downloaded we managing.

[2017-04-29 19:38] gregorij89 commented on #1467
Oh, I am glad to hear that. The downside of it is that Raddar will do a lot more searching (there are movies that have 4 or more alternative names) but that´s the cost. It doesn´t matter in a torrent part of the world, it could be a problem only with NZB indexers. It could also be reasonable to change every accented character into its ASCII form (eg. á => a, č => c, ü=> u etc.) There is a custom (

[2017-04-29 20:00] galli-leo commented on #1467
@gregorij89 If your indexer is even a little bit smart about it (which I assume most of them are), then they will treat e.g. à the same as a when searching. You could also tell your indexer to make searching by imdbid a thing. Then you don't have to worry about messed up titles :)

Also I made the PR sucht that we query less pages per title, if more titles are used.

[2017-04-29 20:05] gregorij89 commented on #1467
Ok. perfect. You are right about the smartness of the indexers. I somehow forgot about it :).

[2017-04-29 21:46] ghost opened #1468 "Add Collection list in the Trakt Sync"
It would be great if could add items from watchlist (currently ok) and stop to monitor but keep files if it's in trakt collection.

That means as soon as Trakt knows its in the collection through Kodi cor exemple, no need to continue monitoring :)

[2017-04-30 03:56] covername opened #1472 "I need to Purge database"
i cant find any way to purge my whole database.

I removed and reinstalled, still linked to database

Ubuntu 15.10

[2017-04-30 04:00] Watison commented on #1456
Just checked again and it's working for me now too. Guess I'll close this...

[2017-04-30 04:00] #1456 closed

[2017-04-30 04:56] mdback opened #1474 "Radarr Ignoring NAS Mapping"
I recently bulk added over 800 movies. I mapped the location on my NAS and it discovered them all. What I noticed though on about 90 files that it didnt detect the existing location/files. I added them manually.

The location of my files is /Volumes/Hometheatre/Movies/*Moviename*/*FileName*

The location was correct in the settings but for some reason the onne that I had to manually locate has the

[2017-04-30 09:51] raspdealer opened #1475 "Design issue when deleting"
When deleting a movie, if you accept to delete all files, the design is broken.

Minor css issue in Radarr Ver. 0.2.0.654
<img width="608" alt="capture" src="https://cloud.githubusercontent.com/assets/3975358/25563360/4b0f7ea2-2d9b-11e7-91f4-5dc7de2304b6.PNG">

[2017-04-30 10:11] raspdealer commented on #694
Same on Raspberry Pi just to let you know :)

[2017-04-30 10:18] raspdealer commented on #1362
Please not that trakt can do the job, but only removed fron watchlist when watched, not when collected. You should request this feature in tralt in my opinion.

[2017-04-30 10:58] SirSilent opened #1476 "Add option for Auto Search on each List"
Each List should have it's own option to automatically search or not. Adding them to monitored means they can be picked up in the future via both RSS or the Push module, however automatically searching potentially hundreds of movies can kill a torrent users ratio on a private tracker and usenet users API hits.

[2017-04-30 11:21] galli-leo commented on #1432
I will have to investigate this, as I haven't encountered it.

Regarding fuzzy matching logic, we won't be doing that (respectively, we already are kinda doing that in using a clean title (removes all spaces, special chars, accents and converts the string to lower). We wont be doing any more fuzzy matching, since we will get a lot more false positives this way. There are already three movies in 20

[2017-04-30 11:22] galli-leo commented on #1432
Also this might be because we changed the way hyphens are replaced. Can you readd those movies?

[2017-04-30 11:25] galli-leo commented on #1474
Did you add those movies with a list? There's currently no validation when adding / editing the list if the path you supplied there is correct. If it's incorrect it just uses the root path. You can set the correct root folder with the Movie Editor and I would suggest deleting and readding the list and double checking you selected the correct path. (Every time you edit the list you currently need t

[2017-04-30 11:26] galli-leo commented on #1472
Go to the AppData Directory (https://github.com/Radarr/Radarr/wiki/AppData-Directory) and then delete all files there.

[2017-04-30 11:26] #1472 closed

[2017-04-30 11:36] animosity22 commented on #1362
@raspdealer  - that doesn't seem correct as Couchpotato removes when collected. You might not watch something for weeks/months but have it in your library.

[2017-04-30 16:42] Baldrdk commented on #1196
I have the same problem. All links in the wanted section jumps directly to the 404 page.
The strange thing is, when i refresh the movie page showing the 404, it will show the correct movie page for about 3 seconds before jumping back to the 404 page?

[2017-04-30 18:45] rkmfl commented on #1432
I don't follow your question here, can you give me a bit more detail on what you'd like me to do?

To clarify, if it will be easier for you to see these things first hand, it's very easy to re-create this issue, it's consistent and very easy to reproduce.  This does not require some obscure logic, special setup, or intermittent issue.

As far as being low on the priority list, keep in mind that Ra

[2017-04-30 19:27] galli-leo commented on #1432
@rkmfl In that case we already do the fuzzy matching you are suggesting (e.g. articles are stripped).
As for the priority, currently everything is on low - no priority, since I have my first set of finals in the next three weeks 😬 Usually, even low priority bugs are fixed quickly ;). You could also just unmonitor those movies until I have resolved the issue, so bandwidth can be spared.
I meant del

[2017-04-30 21:17] ngeraedts commented on #1442
This issue occurs when attempting to add a Sabnzbd download client as well.

[2017-04-30 21:47] soccermax commented on #1374
Same problem here, I enabled SSL in the config file, but it's not possible to connect.

[2017-05-01 01:38] bobbintb commented on #1302
Ok, I just had this happen again but there was no remux, so maybe that wasn't the issue. So maybe it is a bug after all. I still have it set to not prefer scene releases but it downloaded a scene release over a larger non-scene release. I'm trying to find something in the logs but I don't think the log level is set high enough. Would you like me to send the log? Is there another issue out like thi

[2017-05-01 08:43] HitsvilleUK commented on #1232
Just to add that this is also the case with direct Kodi notifications.
It always uses the blue Sonarr logo.

[2017-05-01 09:02] Alteration commented on #1173
Also had this issue, assuming either because of no year or no quality listed

[2017-05-01 09:54] mtr2014 commented on #494
I also switched from CP to Radarr and this feature is golden. I just realized recently that i was missing like 50% of the trailer for the latest movies, mostly for the lesser known once, a problem i never had before and I seriously thought it was because of my Plex Pass that I had all those trailers. But no, it was CP that got me all those trailers. Apparently also for movies that the Plex Pass di

[2017-05-01 10:12] jkaberg commented on #1362
I agreed with @animosity22, and in addition to what the PR already does I'd love to see Radarr also marking the movie as collected in the same watchlist (untag "watchlist", tag "collected"). Obviously made optional, as not all would like that.

[2017-05-01 10:55] EskaVonGeh opened #1477 "Problems when deleting movies with PLEX ("ignore deleted movies"-flag)"
Hey there,

first of all, amazing work! I changed from PLEX/SABNZB/Couch Potato to PLEX/NZBGET/Radarr (with Sonarr) and i am very impressed.

Im running
- Windows 10 / 64 bit
- Radarr 0.2.0.654 - 18 Apr 2017
- PLEX Version 1.5.5.3634

There is one Problem i have encountered:

When i am deleting movies with radarr itself, it works flawlessly (they are also now ignored). Sadly, when i am deleting th

[2017-05-01 13:05] Wohlraj commented on #1407
Hi,

Stumbled upon this issue.
Example here: English title is Hana yori mo naho (from IMDB), shows up as Hana on Radarr.
![screenshot from 2017-05-01 15-01-30](https://cloud.githubusercontent.com/assets/6720382/25580228/804e1260-2e7f-11e7-9f0a-56de851f4846.png)

[2017-05-01 16:05] D34DC3N73R commented on #1434
Does this happen for you with a cleared browser cache? Your browser probably has an old js file cached which is causing the issue.

[2017-05-01 16:45] raspdealer commented on #1434
but still, selecting only the first page...

[2017-05-01 16:50] raspdealer commented on #1232
https://github.com/Radarr/Radarr/issues/1464

[2017-05-01 17:41] D34DC3N73R commented on #1434
I think a more consistent approach would be to add a 'movies per page' setting similar to the bulk import movies page. The multi-select button ultimately has more control if it's set to select visible results, and the number of results is able to be specified.

[2017-05-01 18:55] soccermax opened #1478 "SSL Error"
Hey guys,

I switched from CP to Sonarr and I've got the problem that I cant connect via ssl to the GUI. My Server is located in a datacenter, therefore without ssl is no way to connect. Anything I can do? Thanks

[2017-05-01 20:08] onedr0p commented on #1478
Try to set up a reverse proxy using nginx, there are a lot of tutorials online.

[2017-05-01 20:52] hoovdizz opened #1479 "Movie editor Does Not Uncheck after Saving changes"
**Description:**
I Recently Migrated from one server to another.
I had to adjust the paths to a network style from the original E: drive
After adding the new root path. I would highlight what needs to be moved via movie editor, use the drop down and click save.
The movies would update with the new path, but stay checked and since I was sorting by path, it would move the movies that got checked 100

[2017-05-01 21:34] soccermax commented on #1478
Is that also possible with apache?

[2017-05-01 22:08] cyberb0b opened #1481 "Radarr stops loading at safari"
**Description:**
Radarr stops loading in Safari. I see the loading screen but thats all I see.
If I check out the source of the page, I see timeouts on

http://192.168.1.2:8310/api/movie?page=1&pageSize=1000&sortKey=sortTitle&sortDir=asc&filterKey=null&filterValue=null

And a timeout error DOM exception 23.

At the moment there are 294 items in my database.
I noticed that in the beginning it worke

[2017-05-02 00:24] Seimann commented on #1357
Fixed?
I have 0.2.0.654 and the Filename is every time german... Foldername english. How can i fix it??

[2017-05-02 11:47] MrLordy commented on #679
this seems too also be related too other lists like trakt. so i assume its also just UI related there also ?

[2017-05-02 12:45] galli-leo commented on #679
@MrLordy correct.

[2017-05-02 19:37] fryfrog opened #1482 "Radarr doesn't properly parse movie with "Final" in the name"
A release like `Resident.Evil.The.Final.Chapter.2016.1080p.BluRay.DTS.x264-PriMaLHD` or `Resident.Evil.The.Final.Chapter.2016.MULTI.BluRay.1080p.x264.AAC-Plex2U English` doesn't properly parse because it thinks "Final" is an addition.

![screen shot 2017-05-02 at 12 24 58 pm](https://cloud.githubusercontent.com/assets/87748/25635745/13db69f6-2f34-11e7-965d-57e9e4248503.png)

[2017-05-02 20:32] silv3r23 commented on #1407
hello, german movies with tags which are not following the scene rules (order) are not matching
Radarr Version: 0.2.0.654
![2017-05-02 22_16_57-der soldat james ryan - radarr](https://cloud.githubusercontent.com/assets/28316411/25637924/e33d90a0-2f86-11e7-8c1c-b0a978645fd2.png)
[1james.txt](https://github.com/Radarr/Radarr/files/971902/1james.txt)

[2017-05-02 21:02] galli-leo commented on #1482
Fixed in nightly.

[2017-05-02 21:02] #1482 closed

[2017-05-02 21:03] galli-leo commented on #1407
@silv3r23 Maybe tell them to adhere to scene rules? Not much we can do here, since we don't want e.g. The Danish Girl or Speaking German to be matched wrongly.

[2017-05-02 23:31] Popsikill commented on #1003
Just want to add that I get this also - exactly as described.

[2017-05-02 23:34] vendeka opened #1483 "Torznab (Jackett) Karagarga - No results found"
Hi,

When I try to search movie through Torznab Karagarga indexer, I always get no results found.

I checked logs in detail and the problem seems like the search query used doesn't include the, of etx and also includes movie year. For example, I added 'The Memory of Justice' and the query string is 'memory justice 1976'.

Radarr Ver. 0.2.0.654

**Logs:**
17-5-3 02:23:26.8|Info|NzbSearchService|Sea

[2017-05-02 23:36] epheterson commented on #1003
I don't think I've cross posted to Sonarr if you'd like to file yours over there and relate.

Sent from my iPhone

[2017-05-03 01:53] pikachukaki opened #1484 "Change backup settings"
For users like myself that making a lot of format in a short period of time backup every week is a long time and also being able to change the directory of backup folder or even sync it to GDrive or other cloud could be very helpful!!

[2017-05-03 01:57] milika opened #1485 "Movie file not recognized"
**Description:**
Bunch of movies are not recognized as present (video files), even thought they are definitely there.
Movie is present in Radarr list, but shown as not downloaded.

**Radarr Version:**
0.2.0.654

**Logs:**
For hatefull 8:
17-5-3 03:53:41.3|Debug|DiskScanService|Scanning 'D:\Share\Filmovi\Hateful Eight, The' for video files
17-5-3 03:53:41.3|Debug|DiskScanService|1 video files were

[2017-05-03 15:32] aptalca commented on #1218
Still having this issue about 20% of the time. Any acknowledgement or suggestions from the team?

From this morning:
[code]

[2017-05-03 15:48] galli-leo commented on #1218
No idea what could be causing this issue other than other programs having the database open / directory or something. Can you make sure no other programs are using the db?

[2017-05-03 15:57] aptalca commented on #1218
Do you mean the radarr database? Nothing else, really. It runs in docker so radarr is the only process running in that container. The only thing that is integrated with radarr is the android nzb360 app, which I believe uses the api so no direct access to the database.

Do you think it could be two separate radarr processes trying to access the database? I am using the renamer, which successfully r

[2017-05-03 17:13] raspdealer commented on #1484
As this request is already a request for Sonarr, I guess it's better to wait for it on Sonarr side and grab it after :)

[2017-05-03 18:22] ksya opened #1486 "Crash, cannot load interface, error 500 on loading api/movie"
**Description:**

I cannot get in the interface after login. In the browser log I see a 500 error on api/movie. In the radarr.log file I see the same error as return by the 500 response, shown below.

**Radarr Version:**
v0.2.0.654
Mono version: v4.2.1-0088

**Logs:**
[code]

[2017-05-03 18:36] ksya commented on #4
@galli-leo, I use PassThePopcorn a lot. Is it possible to add this indexer again?

[2017-05-03 18:56] galli-leo commented on #4
@ksya It's already added?

[2017-05-03 19:27] Vildibuks commented on #1352
+1 just donated to keep motivation on the subject.. will again when fixed :)
thx

[2017-05-03 20:44] Miloune commented on #1407
Hello,

Same problem with this if it can help you:
![image](https://cloud.githubusercontent.com/assets/8145119/25680686/f6f240fc-3051-11e7-9751-a89678ca0651.png)

[2017-05-03 21:24] galli-leo commented on #1407
@Miloune Same problem: Not adhering to scene roles. Year needs to immediately come after the title.

[2017-05-04 01:59] werkkrew commented on #1407
A couple more examples:

![example1](https://cloud.githubusercontent.com/assets/838837/25688293/d1a00600-304b-11e7-9a8c-b6b5b2409ac7.png)

![example2](https://cloud.githubusercontent.com/assets/838837/25688295/d6e683d2-304b-11e7-81af-fabd2ff2ba47.png)

[2017-05-04 02:38] werkkrew commented on #1420
In my case the path does not visually disappear and it always appears correct, but anything added from certain lists gets downloaded into a different path regardless of how I set it.  In the docker image this seems to default to /opt/radarr/ instead of /movies/

[2017-05-04 06:59] silv3r23 commented on #1407
@galli-leo

I think it is necessary that we came up with another method of parsing. The [year] tag is optional in some [cases](https://scenerules.org/t.html?id=2013_DE_SDX264.nfo)

[2017-05-04 09:12] toddcurry commented on #1350
You could accomplish the same thing by running two instances of radarr -- one for HC subs and the other for, well other.  Each will point to a different movie repository and download client.  Then when you are ready to transition, you need only to import or re-create a movie on your "other" instance and delete the original on HC Subs.

If you are using docker, this is super, super simple to do!

[2017-05-04 13:44] Webreaper commented on #1196
I had this too - I was doing a mass-import of 300+ movies after first installing Radarr, and (probably stupidly ;)) went into the profiles screen and deleted 'Any' from the list. I think what happened was that all of the movies were imported with 'Any' as the profile, but because that'd been deleted, it failed.
I did a mass-update and set the profile correctly for all movies, and they all started

[2017-05-04 17:27] galli-leo commented on #1196
@Webreaper That could be it, though I suspect it's more because the full collection of movies is failing to load
@Baldrdk @raspdealer @leeramsay The next time this happens can you open the dev console in your browser and see if there are any errors?

[2017-05-04 17:36] galli-leo commented on #1407
@silv3r23 The problem here is that we do not know what when the movie title stops / when the other stuff starts without the year. We kinda use the year as an anchor to determine things. Additionally, you really want the year or else you are gonna get movies downloaded you don't want, e.g. Beauty and the Beast (2017 vs 2016 vs 19something)
AFAIK 98% of releases are fine, and the other ones just nee

[2017-05-04 17:38] galli-leo commented on #1407
@werkkrew Fanboys seems the TMDB date is wrong (In cinemas February 2009). Maybe correct that on TMDB itself? The other one I don't really know what could be causing that. I will have to check it out.

[2017-05-04 17:41] galli-leo commented on #1407
@silv3r23 Interesting read the thing you linked. I think that's really stupid as Radarr cannot know whether German is part of the title or part of the language tag. IMO they should change it to scene standards.

[2017-05-04 19:16] werkkrew commented on #1407
@galli-leo

Actually, it seems that the scene might be wrong in this case.  IMDB, Wikipedia, and TMDB all agree on the release being in 2009 but every single scene release says 2008.  Interestingly RT also uses 2008.

I am not familiar enough with the scene naming rules to know exactly what date they use on a release.

I am also not sure how to rectify a situation like this other than to allow a m

[2017-05-04 19:18] ghost opened #1487 "BAD, Radarr import non wanted movies!"
Hello,

As soon as I mapped it with my deluge label previously used for CouchPotato, it imported EVERYTHING...
30 movies not in my wanted list :(

Thanks for fix

[2017-05-04 21:11] florian-lemiere commented on #1407
Hello everyone!!! And first of all thank you to the developers for the work.

I encounter the same problem with the french torrent9 provider. All titles do not comply with the scheme and are therefore impossible to download. Is it possible to override this problem?

[2017-05-05 00:15] Fiala06 opened #1488 "Movie Editor | Change All Movies To Monitored Not Working"
I'm trying to bulk edit my movie collection and change every movie to monitored. Right now I have some that are not monitored and some that are.

When using the movie editor, it doesn't seem to be working and I'm not seeing anything the log files. It does work on random files but a majority of the time it doesn't.

Would be nice also if you could see what each movie is currently set to on this pag

[2017-05-05 07:12] Twanislas commented on #1407
+1 for Torrent9
And +1 for the thanks ! ;)

[2017-05-05 08:29] ChibiTomo opened #1489 "Invisible movie"
**Description:**
I have added a movie, Returner, and Radarr downloaded the wrong file, .hack//GU Returner.
Since I wanted this movie too, I have manually moved the file to the correct folder.

Now there is a weird bug:
The movie, Returner, is no longer in my library (I cannot search it, edit it or anything else), but when I try to add it with `add Movies`, Radarr tells me that it already exists.
I

[2017-05-05 13:32] galli-leo commented on #1407
@werkkrew Scene should be using imdb date. So indeed they are wrong :)
@florian-lemiere @Twanislas I do have some plans for overwriting the movie matching decision, but that will have to come at a later date. I could enable downloading for those movies, though Radarr wouldn't be able to import them then.

[2017-05-05 13:46] galli-leo commented on #1487
So it imported movies that you have not added to Radarr?

[2017-05-05 13:47] galli-leo commented on #1483
Can you copy the query url and delete the year and see if it works that way?

[2017-05-05 13:50] galli-leo commented on #1486
Can you try opening Radarr in an incognito window?

[2017-05-05 13:50] galli-leo commented on #1485
You need to add the year of the movie to the filename or folder name (best is both)

[2017-05-05 13:50] #1485 closed

[2017-05-05 13:52] galli-leo commented on #1489
Can you try and restart Radarr?

[2017-05-05 13:53] galli-leo commented on #1357
@Seimann Either update to nightly or preferably wait until the folder renaming feature is in the latest release.

[2017-05-05 13:57] galli-leo commented on #1478
@soccermax Yeah should be similar.

[2017-05-05 13:59] galli-leo commented on #1479
Well a lot of people want to keep the movies checked when they change something. So I don't think we are going to change that anytime soon. Anyways, you can just refresh the page.

[2017-05-05 14:02] galli-leo commented on #1434
@D34DC3N73R You control the page size of the movie editor by the page size set in Settings -> UI. I don't think we want to select all items on all pages. That would only confuse users.

[2017-05-05 14:03] galli-leo commented on #1434
@dzg Can you verify that you still experience the issue (even in incognito mode)?

[2017-05-05 14:06] galli-leo commented on #1477
Yeah ignore deleted movies should do that. Seems like it does not work. I will have to check again.

[2017-05-05 14:08] ksya commented on #1486
That seems to work! I also see that there is no problem in Chrome. I am currently using Firefox.
Do you also know how to solve this? I already tried clearing cache and cookies,.

[2017-05-05 14:09] galli-leo commented on #1302
Nah it's fine. Probably, something to do maybe with propers again.

[2017-05-05 14:10] galli-leo commented on #1486
Cache and cookies it must be. Try clearing all browsing data for your radarr website. If that's possible in Firefox.

[2017-05-05 14:12] vendeka commented on #1483
Hi,
Movie name: The Memory of Justice

Original query made through Radarr is (w/o 'the', 'of' and with 1976)
[URL]&q=memory%20justice%201976

The query works is (with 'the', 'of' and w/o 1976)
[URL]&q=the%20memory%20of%20justice

To sum up, when I search manually with 'the' and 'of' and without year, it works.

[2017-05-05 14:17] ChibiTomo commented on #1489
Already done... I tried incognito, clear cache but no result...
My problem is quite similar to [#1196](https://github.com/Radarr/Radarr/issues/1196).
It is not the first  time I see this problem, but I could not identify what I have done before now.

[2017-05-05 14:41] bobbintb commented on #1302
There was no proper this time though. It downloaded:
x264 / MKV / Blu-ray / 1080p / Scene / Extended Edition
Movie.1988.Extended.Edition.1080p.BluRay.x264-Group 8.72 GiB

instead of:
x264 / MKV / Blu-ray / 1080p / Extended Edition
Movie.1988.EXTENDED.BluRay1080p.DTS.x264-AnotherGroup 13.06 GiB

I dunno. I have a lot of ratio so I suppose I could reproduce the error but I'd still rather not waste i

[2017-05-05 15:12] galli-leo commented on #1489
@ChibiTomo Can you open the dev console of your browser and see if there are any errors?

[2017-05-05 15:12] galli-leo commented on #1489
@ChibiTomo Can you open the dev console of your browser and see if there are any errors?

[2017-05-05 15:13] galli-leo commented on #1483
@vendeka Can you verify that searching with the and of, but no year still works?

[2017-05-05 15:17] ksya commented on #1486
I still can't get it to work.. Also, I don't think this should be closed yet as the client side should never produce an unhandled exception on the server side.

[2017-05-05 17:06] vendeka commented on #1483
**WORKING Queries:**
[URL]&q=memory%20of%20justice
[URL]&q=the%20memory%20of%20justice

**NON-WORKING Queries:**
[URL]&q=memory%20justice%201976
[URL]&q=memory%20of%20justice%201976
[URL]&q=the%20memory%20of%20justice%201976

[2017-05-05 18:12] darknessgp opened #1490 "rutorrent movies always "pausing""
I've got radarr setup to point to my rutorrent. But anytime it grabs a movie, whether manual or automatically, the torrent is stuck in "pausing" in rutorrent. It is labelled correctly. Stopping, starting, force recheck, update trackers, saving to a different location, or doing file recreation never gets it able to actually download. I have to just delete it and manually add it to rutorrent.

The r

[2017-05-05 21:46] raspdealer commented on #1487
Not in the wanted list!

[2017-05-05 23:43] D34DC3N73R commented on #1434
@galli-leo Awesome I didn't know setting existed. Over the last couple of versions my results page has been swinging from 10-1000. I'm assuming the separate setting in the bulk importer is for ease of use? I can see the benefit considering it's most used by new users with new installations that may not have seen the settings yet.

[2017-05-06 00:57] animosity22 commented on #1478
My proxy with apache is pretty straight forward:

[code]

You can lock it down via a login as well. I personally use a forms based page, but that's me.

[2017-05-06 04:53] Quiksmage opened #1491 "PassThePopcorn Jackett Torznab only processes 1 movie"
Hi, I have a Github issue open with Jackett on this, but I thought I could give it a shot here as well.

for reference,
https://github.com/Jackett/Jackett/issues/380

Radarr only processes the first output from the PTP Jackett query. Jackett itself has no problems displaying all the items when you do a manual search in its own interface.

I should also note that this is the only Jackett Indexer I

[2017-05-06 06:48] soccermax commented on #1478
@animosity22 I used this settings too, the problem was that when I call the Radarr Webinf  a lot of files are missing. Then I passed also http://127.0.0.1:7878/Content via the proxy,  which resolve a lot of errors but there are also a lot of files which are locate in the root directory (https://my.dyndns.org/(missingfile)) The right URI must be (https://my.dyndns.org/radarr/(missingfile)) because

[2017-05-06 10:27] galli-leo commented on #1491
Looked at that issue a few days ago. It will be difficult to debug that without an account, since I can see nothing wrong in the logs.
@onedr0p Can you take a look at this?

[2017-05-06 10:27] galli-leo commented on #1491
Btw. any reason you are not using the built in indexer for PTP? I think it makes much more sense, since it allows for the indexer flags (such as Golden or Approved) to be in Radarr.

[2017-05-06 10:29] galli-leo commented on #1478
@soccermax You have to set the base url in the settings of Radarr, IIRC under Settings -> General. Then restart Radarr. Then you do not have to proxy pass the Content dir.

[2017-05-06 10:30] #1464 closed

[2017-05-06 10:32] galli-leo commented on #1434
@D34DC3N73R Yeah exactly. Also Bulk import you probably want to be low, since it takes a lot of time for even a small amount of movies. However, if you have a good connection, page size can be relatively high.

[2017-05-06 12:52] animosity22 commented on #1478
So sorry, yes I have Base Url:

[code]

As I have multiples apps reverse proxied.

[2017-05-06 15:17] gregcbrown opened #1493 "When deleting movie the files still exist"
When deleting a movie from RADARR, the movie is deleted from database, but the files still exist on disk. The movie I deleted is La La Land.
RADARR Version; 0.2.0.654
Log:
17-5-6 10:55:12.0|Error|DownloadedMovieImportService|Import failed, path does not exist or is not accessible by Radarr: I:\Users\Greg\SABnzbd\Complete\A.Kind.of.Murder.2016.BluRay.1080p.DTS-HD.MA.5.1.AVC.REMUX-FraMeSToR.cp(tt272

[2017-05-06 15:20] gregcbrown commented on #1493
I believe the movie was originally downloaded via couchpotato and sabnzb, but imported into RADARR...

[2017-05-06 15:27] Quiksmage commented on #1491
I am using it and having no issues. It's more so that I want it fixed in
case it's no longer supported or breaks. Think of it more as a backup. As
long as the built in works, I'll be using it.

On May 6, 2017 3:27 AM, "Leonardo Galli" <notifications@github.com> wrote:

[2017-05-06 15:46] florian-lemiere commented on #1407
Ok. Since the scheme used by Torrent 9 to name all its files seems to be always the same, it might be possible to integrate a feature that would cut the filename into a regular expression, match it to the schema requested, and would rename?
Let me know if I can help

[2017-05-06 17:14] galli-leo commented on #1493
Yeah known issue, I did not yet implement that. But there's already an issue open on here for that :)

[2017-05-06 17:14] #1493 closed

[2017-05-06 17:20] galli-leo commented on #1407
@florian-lemiere We are already using regular expressions for matching movie titles. The problem is that if we do not have the year immediately after the movie title, we cannot know (though any regular expressions) what is in the movie title and what is just additional tags. An example might be "XXX: Extended 2017". Is Extended there for extended edition? Does it belong to a movie title? We cannot

[2017-05-06 17:28] silv3r23 commented on #1407
@galli-leo I think I have a solution for all these movie parsing problem. almost finished. how can I contact you or someone of the developer team?

[2017-05-06 17:30] rtm135 opened #1494 "Ignoring Subfolders"
My file structure follows Plex guidelines and looks like this:

    /Movies
        /Awesome Movie (2017)
            Awesome Movie (2017).mp4
            /Behind The Scenes
                Awesome Movie (2017) - Making Awesome Movie.m4v
            /Deleted Scenes
                Awesome Movie (2017) - Not Awesome Scene 1.m4v
                Awesome Movie (2017) - Not Awesome Scene 2.m4v

[2017-05-06 19:21] florian-lemiere commented on #1407
@galli-leo
Okay. Thank you for that clear answer. It is true that I had not thought of these particular cases. I will look for my part in the configuration of Torrent 9 for Jackett. Also, maybe the silv3r23 solution will be the right one? To follow! ... Thank you and again congratulations for the work.

[2017-05-06 19:30] bchobrut commented on #1359
disconnect your vpn

[2017-05-07 04:57] nriley2 opened #1495 "Movie import will not work"
**Description:**
No matter what I change any movies in the drone factory folder won't work and causes an error on rescanning the drone factory, as well as import and bulk import don't do anything at all whereas downloading movies works perfect, the error is always the same and is below.
Message
`Request Failed: Sequence contains no matching element`

Exception
[code]

**Radarr Version:**
0.2.0.654

[2017-05-07 07:56] linds1234 opened #1496 "Sorting Order- Wanted List / Physical Release Date"
**Description:**

Within the "Wanted" section, if the titles are sorted by "Physical Release" in ascending order. As in, the title that is due out soonest is at the top of the table, titles with no release date  *i.e. blank* are at the top of the list.

I think it would make more sense to list these at the bottom? Might be differing views though.

**Radarr Version:**

0.2.0.654

[2017-05-07 08:26] soccermax commented on #1478
Thank you guys. Perfect, I didn't know that this option is available. Anyone knows where the relevant configfile is located because I cant reach the webinf at the moment.

[2017-05-07 08:36] galli-leo commented on #1478
@soccermax Depends on your system. See radarr.video/config for the location of your config and database files.

[2017-05-07 08:38] galli-leo commented on #1495
For bulk import, how is your movie folder structured?

[2017-05-07 08:43] galli-leo commented on #1407
@vendeka Sorry for the late response. But we wont probably be removing the year check from PTP, since it's at a much lower level than PTP (making it difficult to separate those two). Additionally, before we had the year check with imdbid matching, often releases from indexers returned a wrong imdbid. For example, Beauty and the Beast 2013 would return the imdbid of Beauty and the Beast 2017, hence

[2017-05-07 08:43] galli-leo commented on #1407
@silv3r23 Either hop on discord, open a new issue detailing what you would suggest or if you are already integrating it into Radarr, create a Pull Request.

[2017-05-07 12:50] hashworks opened #1497 "Movie import isn't scanning recursivly"
**Description:**

When importing existing Movies using "Bulk Import Movies" or "Import Existing Movies On Disk" Radarr will only see first-level folders in the folder structure, collection sub-folders are getting ignored:

[code]

**Radarr Version:** 0.2.0.654

[2017-05-07 13:18] nriley2 commented on #1495
Fur the bulk import they're structured just freely out of folders but I've tried putting 5 in folders with the proper naming scheme, and when I do a manual import from the wanted tab every movie comes up but all are unknown movie

[2017-05-07 13:19] some-guy-23 commented on #1385
I'm having this same issue occur. In my case, the problem seems to be that the sample file's metadata (incorrectly) shows the full movie runtime.

[2017-05-07 13:27] vendeka commented on #1491
@galli-leo Here is search screenshot using Torznab PTP:
![image](https://cloud.githubusercontent.com/assets/3618229/25781207/65002ede-333f-11e7-81af-10370950fba2.png)

I believe there is a parsing error as number of leechers is displayed as -19 which is 0. As @Quiksmage mentioned, only 1st item in XML output is parsed and shown in results.

Here is Jackett output log for URL:

http://localhost:911

[2017-05-07 13:39] galli-leo commented on #1491
@vendeka I will have to check once I have more time to see what's the issue. Though the -19 leechers is a clear misunderstanding of whoever maintains the Jackett tracker. We get back seeders & peers from Jackett. From that we deduce leechers (peers-seeders). However, according to your xml, the PTP Jackett indexer gives us the leechers (0) instead of peers, although it says peers. So we calculate a

[2017-05-07 13:40] galli-leo commented on #1385
@some-guy-23 We maybe should do something like that, though not sure why a sample would report a false runtime. Seems kinda dumb to me.

[2017-05-07 13:42] galli-leo commented on #1495
@nriley2 For bulk import movies have to be in seperate folders each. For manual import, what was the naming scheme of those movies which showed up unknown?

[2017-05-07 13:44] galli-leo commented on #1497
There is already an issue open for this one (#1170).

[2017-05-07 13:59] nriley2 commented on #1495
For the bulk import I always tried it with movies I put in folders with the naming scheme Movie Title (Year) for folders and the same but with quality for the files, and for the manual import/the drone factory folder 90% of them go by Title (year) (quality) and after the 90% process I would make sure the others were named correctly and found

[2017-05-07 14:37] vendeka commented on #1491
@galli-leo

I see. I will report it to them.

[2017-05-07 14:49] some-guy-23 commented on #1385
@galli-leo yeah, seems to be an issue with how they encoded the sample or something? Not sure, but it has happened a couple of times.

[2017-05-07 15:05] hashworks commented on #1497
Ah, I missed that one. Thanks!

[2017-05-07 15:05] #1497 closed

[2017-05-07 17:17] atwright147 opened #1498 "Need an Add All button"
**Description:**

I think you need an "Add All" button at the bottom (maybe top too) of the **"Import Existing Movies On Disk"** screen. For anybody with an sizeable existing collection, clicking each add button in turn is no fun.

For anybody who also found this problem, you can open the dev tools in Chrome (probably other browsers too) and type the following after everything has downloaded and i

[2017-05-07 17:32] atwright147 commented on #1498
Hmmm, or did I use the wrong screen?

What is the difference between **"Bulk Import Movies"** and **"Import Existing Movies On Disk"**?

[2017-05-07 17:45] galli-leo commented on #1498
Import Existing Movies On Disk Is kinda deprecated. (Button is removed on the latest nightly). Correct way would be to use Bulk Import. There you can have a nice overview over x items, so you can verify everything is correct for them and then import them.

[2017-05-07 17:45] #1498 closed

[2017-05-07 19:25] galli-leo commented on #1461
Not sure what error you are getting? So after you restart? deluge, Radarr cannot connect unless you test it in settings?

[2017-05-08 04:53] stuntguy3000 commented on #1359
@bchobrut Not an option

[2017-05-08 11:06] ChibiTomo commented on #1489
Sorry for the late reply.
There is a HTTP 500 error when I try to access the page:

***Stack Trace***
[code]
***Request***
[code]
***Response***
[code]

And I don't know if this is useful, but here is the response from Radarr when I search for the movie (There is both movies, Returner and .Hack//GU Returner):
[code]

[2017-05-08 14:16] nriley2 commented on #1495
@galli-leo Any updates on a solution yet? I am hopeful to get this up and working finally

[2017-05-08 16:26] galli-leo commented on #1495
@nriley2 Can you try it on a different browser or in an incognito window? I cannot reproduce the issue, for me the command is executed fine. Also what exact issues are you having with bulk import?

[2017-05-08 16:46] galli-leo commented on #1489
Can you download the latest nightly and try again?

[2017-05-08 17:13] xybydy commented on #1489
+1
The problem fades away when browsing with different browser. But as @ChibiTomo says, clearing cache or cookies doesn't solve the problem.

[2017-05-08 17:24] galli-leo commented on #1489
@xybydy That would however, imply the cache has some kind of problem of your browser. What browser are you using? Have you tried using other browsers? Can you also try the latest nightly and see if Radarr throws the same error?

@ChibiTomo What browser are you using?

[2017-05-08 20:15] Enf0 commented on #1461
Hi, I'm also having problems with Radarr and Deluge. It was working fine earlier today, but for some reason Radarr can't send movies to Deluge anymore. Hitting the "Test" button says connection succeeds.

Here's the error message:
[code]

Sonarr is running on the same system and can send torrents to Deluge successfully.

[2017-05-08 20:18] nriley2 commented on #1495
@galli-leo I've tried it via my dynamic DNS from many different locations and different browsers, and have even just installed it on my laptop to test it out and the 'Rescan Drone Factory' button throws that error in the log and the manual import will list all movie files but refuses to match any of them to movies with the 'unknown movie' on all of them, Bulk import started working but intermitten

[2017-05-08 20:19] galli-leo commented on #1495
@nriley2 Can you try and update Radarr to the nightly version. Maybe the fix I am thinking of is not yet in the develop release.

[2017-05-08 20:20] galli-leo commented on #1461
@Enf0 Did you recently update Deluge?

[2017-05-08 20:22] Enf0 commented on #1461
I updated to 1.3.14 not too long ago.

On 8 May 2017 22:20, "Leonardo Galli" <notifications@github.com> wrote:

[2017-05-08 20:47] nriley2 commented on #1495
@galli-leo after updating to the nightly the error has not occurred, however for the video files (not in individual folders) in the drone factory folder still come up as unknown movie for all of them, I believe I just have to put them in folders but was unsure if it's supposed to be intended or not as they're all labeled to format

[2017-05-08 20:48] galli-leo commented on #1495
@nriley2 It should theoretically work, though drone factory is not really the recommended work flow.

[2017-05-08 21:06] nriley2 commented on #1495
@galli-leo I assume the recommended workflow is to have them put into folders then bulk import?

[2017-05-08 21:19] lostandlost commented on #1477
I think this is a new-ish behavior from the PLEX side.  It used to just delete the file when deleting within PLEX.  Now it tries to tidy up as much and possible and deletes the entire folder and parent folders if you are deleting the only file in that folder.  This has been an issue in Sonarr for a while now (caused by the change PLEX made).  The workaround for both Sonarr and Radarr is to set the

[2017-05-08 22:10] jonfroese55 commented on #1495
I'm having the same issue with drone factory how do I update to nightly edition? It was working before?

Request Failed: Sequence contains no matching element

System.InvalidOperationException: Sequence contains no matching element
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source, Func`2 predicate)
   at NzbDrone.Api.Commands.CommandModule.StartCommand(CommandResource commandResou

[2017-05-09 01:40] gthrift commented on #1214
I'm having the same issue

[2017-05-09 01:42] Thayios commented on #1214
Not happening on Server 2016.

[2017-05-09 01:47] Thayios commented on #1214
Scratch that, happening on Server 2016 after rebooting as well after a reboot. I originally lost contact with NZBget (putting files in the queue but not tracking activity) and Radarr wouldn't reboot.

KB4015217, KB4013418 were installed on 4/7 and the VM didn't get rebooted until just now.

[2017-05-09 06:32] Jorman opened #1499 "Update status for Qnap"
Hi, just an information.

I installed the qnap qpkg of sonar, I set it up to autoupdate and to use the develop branch

I've the 0.2.0.654 version and I see some commit after the version that I've, so I checked the update log but no trace of any logs, so I manually downloaded the qpkg and I decompress it into a folder and I noticed that I my installation miss one folder NzbDrone.Update. So I copied

[2017-05-09 07:16] ChibiTomo commented on #1489
@galli-leo I use Chrome 58.0.3029.81. I have tested with Firefox 46.0.1 and Edge, but there is the same problem.

[2017-05-09 08:22] GenericPolarBear commented on #1196
I am also having this issue and have recorded me trying to look at the movie page for Logan.
A weird part is that I'm unable to search for the movie within my library in Radarr, but when I try to add it manually, it says it's already added.

I am pretty sure this movie was added through Ombi, otherwise it would have been added automatically using the StevenLu list. This does happen with other movi

[2017-05-09 10:55] soccermax commented on #1478
I set the the Base URL to
`<Config>
  <LogLevel>Info</LogLevel>
  <Port>7878</Port>
  <UrlBase>/radarr</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>8989</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>b7c6c975c73b42169900b050b9e39484</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>develop</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <SslCertHash></SslCertHash

[2017-05-09 15:04] xybydy commented on #1489
@galli-leo Well I'm using Chrome 57.0.2987.133. The problem only occurs on same computer with the same browser. By the way it seems nightly build solved the issue. Thanks for the suggestion.

[2017-05-09 16:37] CInk-Ibrahim opened #1500 "Importing from TMDB gives number instead of root folder"
**Description:**

I have added my movie list from themovidedb and also made sure to set correct root folder in list settings. Whenever I import a movie, it writes `/1/` instead of my root folder (`/volume2/CInkstone/Videos, Movies`) depending on which selection I did. (I have 4 root folders and it puts different number for each folder.)

Trakt list import is working correctly so this only happens

[2017-05-09 16:47] chuckkay commented on #1407
![zodiac](https://cloud.githubusercontent.com/assets/10617746/25862317/9aeffd54-34b5-11e7-9d5b-3b192003c8cb.JPG)

[2017-05-09 17:33] Quiksmage commented on #1407
hover over the red !. it will tell you why you can't download it. Or at least, why it thinks it shouldn't.

[2017-05-09 18:51] galli-leo commented on #1407
@chuckkay **In Cinemas: December 2016**. TMDB apparently has the wrong year there. I would suggest you go ahead and correct it there, so all of us can benefit :) But there is nothing much we can do in this situation.

[2017-05-09 18:54] galli-leo commented on #1500
Can you please go into your list settings (for TMDB lists) select another path for each list, save, then edit again, select the correct path, then save again? This is probably because of a known UI issue where the list paths are very finicky (Basically you currently have to deselect and then reselect the list path every time you view them). This will only apply to new movies, so could you try and

[2017-05-09 18:55] galli-leo commented on #1196
@GenericPolarBear Are you on the latest nightly? If not, can you please go ahead and update?

[2017-05-09 18:56] galli-leo commented on #1499
Currently 0.2.0.654 is the latest stable version, so you are not missing something. We do have nightly versions, but those can be a bit unstable sometimes. I do not know much about qnap, but maybe you could ask the package author to add the nightly versions?

[2017-05-09 18:58] galli-leo commented on #1214
@gthrift Maybe it's a permission issue? Were you able to start Radarr once or was it from the beginning like this?

[2017-05-09 18:58] thezoggy opened #1501 "Radarr updater flagged as ransom ware"
![radarr](http://zoggy.net/SavUI_2017-05-09_13-55-58.png)

Using: Symantec Endpoint Protection 12.1.6

[2017-05-09 19:01] galli-leo commented on #1501
Well our updater definitely is not Ransomware. Could you submit it to them here: https://submit.symantec.com/false_positive/?

[2017-05-09 19:04] gthrift commented on #1214
I don't believe it is permissions because it has been working great for
months and I have not made any system changes other than automatic windows
updates.

When uninstalling and reinstalling, it will work on the first run but not
again after.  I have it installed and running as a service now but I have
not rebooted or restarted since the first run.

On Tue, May 9, 2017 at 2:58 PM, Leonardo Galli

[2017-05-09 19:06] Jorman commented on #1499
Tnx for the info, you mean also the develop version, right?
I think, but for more info I need to ask to owner of qpkg, that the qupk install only the Radarr and don't interfere with the normal update process.

I ask this because I set develop into the settings -> general -> updates
with automatic and built-in process, and on system -> updates I've this
0.2.0.654 - 18 Apr 2017  develop Installed

B

[2017-05-09 19:09] CInk-Ibrahim commented on #1500
Ok, tried two ways;

- I opened each list and set them to something else. Then one by one I set them to correct paths. (By the way I realized the selection seems to say same going from one list to another. Is that what you are talking about?)

- I opened the tmdb set it to something else. Then opened and set it back to the correct path.

In both cases adding new movie from the list ended up with `

[2017-05-09 19:15] galli-leo commented on #1499
Yeah latest stable is the same as develop. If you would use nightly, you would get the commits as they pour into the repo.

[2017-05-09 19:20] galli-leo commented on #1500
@CInk-Ibrahim Ok, maybe it's something else then. Would you be able to open the Radarr database using an sqlite browser (e.g. sqlitebrowser.org, located in AppData directory (http://radarr.video/config) and named nzbdrone.db) and post a picture of the NetImport table?

[2017-05-09 19:21] thezoggy commented on #1501
submitted for review

[2017-05-09 19:21] Jorman commented on #1499
Ok tnx, so don't matter how many commit I'll see, for example this is the last you made into the develop
Latest commit fccd02a  32 minutes ago @galli-leo galli-leo Merge remote-tracking branch 'origin/develop' into develop

I've to wait the release.
Sorry but I don't know how the update process works, I always thought was a kind of git pull on develop branch

[2017-05-09 19:23] galli-leo commented on #1501
Thank you very much :)

[2017-05-09 19:27] Thayios commented on #1214
I went ahead and did an entire reinstall due to the issues I was having today (I was on nightly, but my other half is complaining about Plex being "crazy").

I think I narrowed it down to following because after I logged in, I could actually go back to the root port/index page and be able to get back into Radarr without an error (almost as if the login script is sending the redirect to the wrong U

[2017-05-09 19:34] galli-leo commented on #1499
Correct. This way we can ensure that our commits do not break anything major.

[2017-05-09 20:24] CInk-Ibrahim commented on #1500
Here:

<img width="1302" alt="screen shot 2017-05-09 at 23 22 41" src="https://cloud.githubusercontent.com/assets/1660681/25870899/6ea3e39c-350e-11e7-945a-e527341f0b8c.png">

Right now the TMDb set folder name as `/5/`. I guess it cannot convert it properly.

[2017-05-09 20:43] galli-leo commented on #1500
@CInk-Ibrahim That's kinda bad :/ I will have to investigate that.

[2017-05-09 20:57] Quiksmage commented on #1491
Jackett has updated to fix the leecher issue

I re-ran the same URL vendeka did above.

https://pastebin.com/hpZkxSeC

[2017-05-09 23:55] GenericPolarBear commented on #1196
@galli-leo I am on the latest nightly. And it is still an issue. (v 0.2.0.691)

It actually seems to be with most requested movies, if needed I can do more tests.

[2017-05-10 01:22] sm1ddy opened #1502 "Mark download as failed if no video file is found."
Hi All

I'm sure others have encountered this but I can't find a way to fix it.

I've noticed that Radarr has a behaviour where when a download successfully completes (but a video file isn't found), the files will just be left in the download folder. One example is where I had a movie sitting in my download folder but it was a whole bunch of .par files.

I know in Couchpotato that this doesn't occ

[2017-05-10 07:25] winno opened #1503 "Bulk Import uses GB's of memory and does not release"
When bulk importing 100 movies the memory usage jumps up to 3GB.
Attached image shows the memory increasing as the import runs. It is only released when I restart Radarr.

I am running this under Docker on Synology NAS

Radarr Version 0.2.0.691 - clean install
![2017-05-10](https://cloud.githubusercontent.com/assets/10085583/25927409/6c913bde-3628-11e7-8cab-fa4a49a77a1f.png)

There is only one err

[2017-05-10 07:39] seanvree opened #1504 "Can't launch radarr.console: " The data field contains the error number." [windows]"
OS:  Windows 10

**Description:**

Cannot launch radarr.console.exe

Not sure why this started, but randomly I saw the service was stopped, so I tried to restart and it fails. I didn't change any settings.

**Radarr Version:**

Version 0.2.0.691 - Nightly

**Logs:**

From Windows Events:

[code]

[code]

[2017-05-10 08:27] galli-leo commented on #1503
I have added a cache to the bulk import, so that could lead to increased memory usage, but certainly not that high. Was this screenshot taken immediately after bulk import?

[2017-05-10 08:32] galli-leo commented on #1504
Can you try and launch the Radarr.Console.exe with admin rights (So right click, launch as admin).
https://technet.microsoft.com/en-us/library/cc727839(v=ws.10).aspx According to this it fails to bind to the ip you set.

[2017-05-10 08:35] galli-leo commented on #1502
IMO and after having this discussed with other people, your download client should be responsible for clearing up files not used by Radarr (I don't know which one you use, but pretty much everyone has this feature). It knows best about the files it downloaded and thus should be responsible.

However, we should look into marking the download as failed, if we do not find a video file and thus try an

[2017-05-10 08:37] galli-leo commented on #1196
@GenericPolarBear Can you also open the dev console of your browser and see if any errors appear there?

[2017-05-10 08:54] seanvree commented on #1504
@galli-leo  - it's always been running as admin.  Also, it doesn't matter what I put as the IP, it always errors:

[code]

[2017-05-10 09:03] sm1ddy commented on #1502
I disagree.

As far as the download client is concerned, it has successfully downloaded the file that Radarr requested. It is then up to Radarr to handle post-processing including the scenario that the files are incompatible and should be discarded.

[2017-05-10 09:06] seanvree commented on #1504
also, what's weird, is that in the console window - it still running?  But I don't know how to access the GUI?

[code]

[2017-05-10 09:27] Jorman opened #1505 "Special char during search phase"
Hi, in my country we use some extra char like ' so a movie like

In my country the title is

Radar during a search remove the : but remove also the ' and don't insert a blank space so the search this

But need to search

or

I don't know what is better

Chry

[2017-05-10 09:29] galli-leo commented on #1504
@seanvree Seems like the port is already in use? Maybe Radarr is already running or it does not have access to to use that port?

[2017-05-10 09:32] galli-leo commented on #1505
When you search on Demonoid yourself do you get the same results with allied un'ombra nascosta 2016 and allied un ombra nascosta 2016?

[2017-05-10 09:35] galli-leo commented on #1502
AFAIK Sab certainly has that feature. You can set those Sab settings just for the Radarr label as far as I am aware.

[2017-05-10 09:37] Jorman commented on #1505
Yep, same results with or without ' not only on Demonoid.
Demonoid was just an example :D

So : is removed and ' must be replaced with a space?

[2017-05-10 09:38] seanvree commented on #1504
@galli-leo  - I thought that too, but it doen'st matter what port I change it to, same error. I can ping that port, and nothing is using it.  It's not running and  there's nothing even close to that .exe running, and nothing around that port range running.

[code]

[2017-05-10 09:43] galli-leo commented on #1505
@Jorman Yeah I should probably add that ' is replaced by a space

[2017-05-10 09:43] galli-leo commented on #1504
@seanvree Can you try and restart your pc?

[2017-05-10 09:45] seanvree commented on #1504
will do.

[2017-05-10 10:14] Jorman commented on #1505
Tnx man!

[2017-05-10 10:39] seanvree commented on #1504
@galli-leo  - wow, that was weird.  Always a REBOOT!

THANKS

[2017-05-10 10:39] #1504 closed

[2017-05-10 10:44] galli-leo commented on #1504
Then it was probably a rogue process, still occupying the port, but not actually doing anything.

[2017-05-10 10:59] seanvree commented on #1504
Yeah, strange, never seen that before.

[2017-05-10 14:59] sm1ddy commented on #1502
I've taken a look inside Sab and can't find it.

On the movies category, I've set Processing to +delete but it doesn't seem to remove the files. Maybe there is something else but I can't think of what the logic here should be?
Are we trying to remove any files that aren't video files? Or maybe force sab to completely delete all files after post-processing (which doesn't seem to work)?

Just my 2 c

[2017-05-10 16:38] Voteax commented on #1407
I have one with matched Year Dates:
![2017-05-10 18_34_15-der herr der ringe - die ruckkehr des konigs - radarr](https://cloud.githubusercontent.com/assets/12576956/25910099/82677d8e-35af-11e7-8be1-ab73e4e80ef2.png)

Maybe because of the "ü" and "ö" in the Movie Title?
Only a DVD Release is found. I don´t know why.

[2017-05-10 16:43] galli-leo commented on #1407
@Voteax Actually the ö's should be correctly replaced with oe, so not sure why they do not match.

[2017-05-10 16:53] davidbonnici1984 opened #1506 "Movie List - Empty"
I filtered the movies to Missing and I deleted the only one I had and this happened.

![image](https://cloud.githubusercontent.com/assets/905774/25910743/c05275ac-35b1-11e7-9a0c-4698a16c7c14.png)

Version: Radarr Ver. 0.2.0.654

Logs: No logs related to this issue...

[2017-05-10 17:00] davidbonnici1984 commented on #1506
![image](https://cloud.githubusercontent.com/assets/905774/25911083/d9412774-35b2-11e7-9569-666789af2709.png)

I fixed it by deleted the entry in the local storage set as "Missing".

![image](https://cloud.githubusercontent.com/assets/905774/25911113/f462e236-35b2-11e7-8fd4-ef5ac3e31094.png)

[2017-05-10 20:17] champs777 opened #1507 "Deleted Movie Added Back to my list"
**Description:**
I add a movie I want.  I click add and search.  Radarr finds it.  Perfect!  Movie is downloaded.  I move the movie to another location.  I open Radarr and delete the movie from my list.  I no longer need it ( i now have it) .  Later that day it just gets readded back in.

Question:
Once I get a movie I want, how do i remove it so it no longer downloads?  I think I am doing somethi

[2017-05-10 20:17] champs777 commented on #1507
Radarr is really amazing BTW!  I love it!

[2017-05-10 20:59] Parkie opened #1508 "Cant Update App - Looks to be Permission?"
I am trying to do an update on the app. I am using the nightly updates. I am currently on Radarr Ver. 0.2.0.654 and trying to go to the latest nightly. When I go to do the update I get the following in my logs and the app never updates.

[2017.05.10-16.52.txt](https://github.com/Radarr/Radarr/files/991217/2017.05.10-16.52.txt)

[2017-05-10 23:01] ChrisColotti opened #1509 "Renaming existing files does not change folder name"
**Description:**

I am playing with the latest release and as a fan of Sonarr it's great to have TV and movie apps look and feel the same!

I am testing renaming existing files and the re-name works, but it stays relative to the original folder name.  Unlike a new download where the folder name and file name are re-written existing ones only re-write the movie file.  It would be great if it also u

[2017-05-11 00:51] Grimeton commented on #1508
Hi,

yeah that's a permission problem. The updater should be run as root (admin) with elevated rights or else it is not able to overwrite the files.

Where did this app package come from? Can't you just update the package and go on?

Cu

[2017-05-11 00:52] Grimeton commented on #1507
Hi,

are you pulling in some rss lists containing movies to be downloaded? Maybe it's on one of those lists?

Is the movie still in the list of your movies? And if yes, is it still monitored? If that's the case and the file vanishes, radarr downloads it again.

cu

[2017-05-11 01:35] Parkie commented on #1508
I downloaded this from GitHub, for OS X and moved it into the Applications folder. I am an admin on the computer. Now sure what you mean update the package and go on? I am trying to update it and getting the errors. Sorry I am a bit new to this.

[2017-05-11 01:50] Grimeton commented on #1488
Hi,

if in doubt, use the force:

[code]

cu

[2017-05-11 01:52] Grimeton commented on #1508
Hi,

I meant you just download the new release and copy it to your Applications folder.

Also. Just being admin on OS X doesn't mean the process runs elevated. That only happens when the username/password window pops up when you start something.

Cu

[2017-05-11 02:07] Parkie commented on #1508
I downloaded developer, then changed it to the nightly branch. I am trying to update now that way but it won't... where can I just grab that update manually? I didn't see it under branches on the GH site.

[2017-05-11 02:55] exchronos opened #1510 "Multiple Size Limits for Quality Definitions"
Hello! Thank you for your work on such a great tool. I'd like to submit a feature request / enhancement for you to consider.

As it is now, quality definitions can be assigned a single cutoff for min/max size limits for that defintion. Ideally, there could be multiple size limits per quality definition.

So...

BluRay-1080p: (0-10gb)
...could be...
BluRay-1080p: low (0-3gb) high (3-10gb)

...this

[2017-05-11 06:15] thezoggy commented on #1501
So far their test came back inconclusive, they want me to submit more Radarr related files now to inspect.

[2017-05-11 10:20] galli-leo commented on #1501
@thezoggy Can you maybe send them a link to this github page? I mean it's open source so it should be no problem to scan if we do anything bad (which we don't)

[2017-05-11 10:21] piejanssens opened #1511 "Radarr can't browse network drive even though UNC is used"
Radarr Version: v0.2.0.654
Platform: Windows
Running as a service

When doing Bulk import or import all existing movies I cannot use my network path.

![image](https://cloud.githubusercontent.com/assets/829098/25944641/53714d4e-3644-11e7-89ea-4e76c2b96896.png)

[2017-05-11 10:21] galli-leo commented on #1510
I have this planned for the "profilinator", where you could specify different quality size definitions for different profiles and mark certain size ranges as needed / some as preferred.

[2017-05-11 10:22] piejanssens commented on #1511
https://github.com/Sonarr/Sonarr/wiki/FAQ#why-cant-nzbdrone-see-my-files-on-a-remote-server

[2017-05-11 10:22] #1511 closed

[2017-05-11 10:26] galli-leo commented on #1506
Yeah this is a known issue, there's an issue already open on here (can't currently find it though :/), so gonna close this as a duplicate.

[2017-05-11 10:26] #1506 closed

[2017-05-11 10:28] galli-leo commented on #1509
Are you on nightly or develop branch in settings? We had to introduce this as a new feature, since Series folders (Movie folders) aren't supposed to change in Sonarr.

[2017-05-11 11:25] ChrisColotti commented on #1509
Since I am using the Docker version it was set to "Develop" with a warning about not using that for docker  LOL!

I can update to develop or should I wait for a new docker image and then update?

BTW I think this branch is an awesome idea to have UI/usability synergy between movies and TV apps!

[2017-05-11 11:36] galli-leo commented on #1509
@ChrisColotti You would have to switch the Docker image. The problem with docker is and the reason for the warning, that every time you restart the image, it resets the executable files to the version of the docker image. So if you update the docker image the exes get updated, but stay that way only until you restart your image. Normally this would not be that big of a deal, but if we change the d

[2017-05-11 11:36] #1509 closed

[2017-05-11 11:47] exchronos commented on #1510
Oh cool!

Sorry if this request was redundant then.. I looked around but not enough I guess.

I have a bit of coding experience, I'd like to help on this one if I could. I can't make any promises though, I'm buried in a renovation for another month or two.

[2017-05-11 12:05] Grimeton commented on #1508
I'm not sure if it's part of the bigger plan to update the .app package in place.

You could try to run the .app elevated and then start the updater. Let's see how that goes.

cu

[2017-05-11 12:11] galli-leo commented on #1510
@exchronos Well I don't plan on implementing that anytime soon, since I have to completely rework how profiles work :)

[2017-05-11 12:25] ChrisColotti commented on #1509
Cool....I can just wait a bit for the develop update.  Currently I loaded the "latest" docker image so not sure if that is updated based on the regular "develop" branch which would = latest docker.

[2017-05-11 12:35] Parkie commented on #1508
I tried that, I used terminal and ran it with Sudo I still can't seem to update this, it used to work I really don't know what I am missing here.

[2017-05-11 13:13] Grimeton commented on #1508
Hi,

frankly: me neither.

Cu

[2017-05-11 14:08] champs777 commented on #1507
All good questions!  Thanks for the follow up!

1.  The only place I am pulling movies from is my IMDB watchlist.  The movies that I have been having issues with are old movies.  Nothing that are on the IMDB watchlist.
2.  I don't have any other RSS feeds.
3.  As soon as the movie finishes downloading, I go to my Radarr folder.  I cut and move the movie from here to my movies folder.  As soon as I

[2017-05-11 14:18] galli-leo commented on #1507
@champs777 In that case Radarr is working as intended. The movie get's added back because it is on one of your lists. Radarr does not know which movies you don't want imported from the lists unless you tell it to exclude specific movies (which you can do via 3.).

[2017-05-11 14:18] #1507 closed

[2017-05-11 14:53] champs777 commented on #1507
Ok.  Let me make sure I understand this.

**Scenario 1**
I add, MovieA. IMDB watchlist
MovieA gets imported (automatically).
MovieA gets downloaded.
I move MovieA to my movies folder.
Do I need to now remove it from my IMDB watchlist so it doesn't get imported again?
I guess my other option is to Exclude movie from Auto List Import?

**Scenario 2**
This movie is not added to my IMDB Watchlist
I ad

[2017-05-11 16:55] Parkie commented on #1508
I appreciate your help... anyone else having this? What permissions should I make the app? I am half tempted to install this on a linux virtual instead of dealing with OS X.

[2017-05-11 17:34] ChrisColotti opened #1512 "Automatic Search Does Not Appear to Be Running"
**Description:**

I am trying to figure out if the automatic backlog search is or is not working.  I added some new movies, some released and others not.  It only found the released ones after I went into the "wanted" section and forced a search.  After that they were grabbed, but I do know that Sonarr I have running for TV does manage the auto searches pretty well.  Is this something as a known i

[2017-05-11 19:50] fryfrog commented on #1512
There is no automated backlog search. Go to Wanted -> Missing and/or Wanted -> Cutoff Unmet and trigger some searches.

[2017-05-11 20:04] ChrisColotti commented on #1512
Thanks.  That would make it much more like Sonarr in that way when you add a new release that's off in the future or one that's already been released.  Would make sense to just start searching I would think that's what "Monitored" would have done :)

[2017-05-11 20:05] #1475 closed

[2017-05-11 20:11] galli-leo commented on #1512
@ChrisColotti Yeah of course it's like Sonarr because we forked them :) When you add a movie you can click add and search. This way an old movie get's downloaded immediately while a not yet released movie is prepared to be downloaded via the RSS sync. Not sure if a backlog search is particularly useful in this case. Since either the movie will be downloaded immediately when you add it to Radarr or

[2017-05-11 20:11] #1512 closed

[2017-05-11 20:18] galli-leo commented on #1508
@Parkie Can you try and move the Radarr app to your Applications folder in your home directory? (So under /Users/yourusername/Applications). Then start it from there and try to update?

[2017-05-11 20:19] galli-leo commented on #1508
Maybe your /Applications folder has some strange permissions

[2017-05-11 21:37] Parkie commented on #1508
Tried it, I moved it to just my user folder. I am back these errors:

17-5-11 17:34:59.7|Trace|DiskProvider|Checking path /Users/~/Radarr.app/Contents/MacOS/Sonarr for symlink returned error ENOENT, assuming it's not a symlink.

[2017-05-11 21:53] Grimeton commented on #1508
Is it just me or does /Users/~/ look odd?

[2017-05-11 21:58] Grimeton commented on #1507
The basic idea here is that Radarr manages the folder that contains all the movies you have and that those movies are marked in Radarr as available and remain in that folder and in Radarr's database.

So if you use Radarr in a totally different way and move the file out of the way, then just delete the movie from Radarr's database. Once that's done and it shows up again then we either have a bug -

[2017-05-11 22:01] Parkie commented on #1508
Sorry I used ~ in place of my real username. /Users/admin/....

[2017-05-11 22:05] Grimeton commented on #1502
![grafik](https://cloud.githubusercontent.com/assets/2773919/25973814/0de92744-36a6-11e7-9b64-889be75343b1.png)

So according to Radarr the job should fail as there is no video. Then the job should be removed from history and the files should be gone.

If that doesn't work, you want a post processing script.

Cu

[2017-05-11 22:15] Grimeton commented on #1508
Can you please provide a fresh log?

[2017-05-11 22:19] Grimeton commented on #1486
Go to abrogating history, right click on an entry pointing towards Radarr , choose "Forget whole site".

Reload page

[2017-05-11 22:48] Parkie commented on #1508
[2017.05.11-18.45.txt](https://github.com/Radarr/Radarr/files/994604/2017.05.11-18.45.txt)

[2017-05-11 23:04] Grimeton commented on #1508
So there is something going on here.

When stuff is downloaded it's placed in /var.
When the updater checks for the files it checks in /private/var.

Not sure if that's a symlink or something but this cannot work.

[2017-05-11 23:16] Metigoth commented on #1317
This would be helpful since I only want to see monitored released movies or upcoming dvd/blu-rays.

[2017-05-12 03:23] sm1ddy commented on #1502
Thanks for the tip mate.

I do have Completed Download Handling on (with no post-processing script) but it doesn't seem to do the cleanup in some circumstances.

Still, I think Radarr could handle this more elegantly than mucking around with downloader settings or a custom post-processing script. Never had this problem in Sonarr or CP.

Instead, I've just opted to create a scheduled script that wi

[2017-05-12 10:28] galli-leo commented on #1508
@Grimeton Shouldn't be as the call that fails is only at the very end, when it tries to set the execute flag for the OSX binary.

[2017-05-12 10:28] galli-leo commented on #1508
@Parkie Can you try and run this in a terminal?:
`sudo chmod +x /Path/To/Radarr.app/Contents/MacOS/Radarr`

[2017-05-12 10:50] Sparh4wk commented on #1058
have the same problem with Ghost in the Shell (2017) Im using PTP indexer.. yet it downloading older version. have latest radarr installed.

[2017-05-12 11:05] galli-leo commented on #1058
@Sparh4wk What was the exact release name as appearing on PTP of that Torrent?

[2017-05-12 11:08] Sparh4wk commented on #1058
@galli-leo

one was Ghost.in.the.Shell.1995.1080p.BluRay.FLAC.x264-Section9
second was Ghost in The Shell 1995 1080p Remux Blu-Ray AVC DTS DTS-MA - BluDragon

[2017-05-12 13:51] GenericPolarBear commented on #1196
@galli-leo I have figured out how to reproduce the issue. Request a movie through Ombi, then it won't show up at all in Radarr unless the URL is manually typed, which is pretty easy to figure out because they all follow the same pattern.

New Video: https://www.youtube.com/watch?v=G1AZOc57qI0
After a few seconds it will show 404, no errors in the console as shown in the video.
As you can see in th

[2017-05-12 14:26] Parkie commented on #1508
I tried, however, I don't have a "radarr" in the MacOS Directory, I know they are EXE's but this all runs when I double click radarr.app... I have:
Radarr.exe
Radarr.exe.config
Radarr.exe.mdb

I do have a "sonarr" file with no extension in that directory, should I run it on that?

[2017-05-12 14:28] galli-leo commented on #1508
@Parkie Yeah try running it on that (I thought we renamed the binary before the release you are currently on)

[2017-05-12 14:36] Parkie commented on #1508
I did that, I attached the new log file. It didn't update.

[2017.05.12-10.33.txt](https://github.com/Radarr/Radarr/files/997015/2017.05.12-10.33.txt)

[2017-05-12 14:56] galli-leo commented on #1196
@GenericPolarBear Oh wow. That is really strange.
Regarding the second point. It's the responsibility of the program you use to add movies to send us the correct Minimum Availability settings.

[2017-05-12 16:12] Pingblue commented on #1490
A paused torrent in rutorrent normally indicates a problem with the specified download folder.

Right click the paused torrent in rutorrent and choose the "Save to" option to check the download location.

[2017-05-12 18:56] Vortec4800 commented on #1508
FWIW I am having a similar issue. I've attached my log file as well. Seems to be the exact same problem.

[2017.05.12-13.54.txt](https://github.com/Radarr/Radarr/files/997663/2017.05.12-13.54.txt)

[2017-05-12 21:54] desimaniac opened #1513 "{Original Title} as Movie Folder Format does not work as expected"
**Description:**
Was expecting the folder name to be `The.Space.Between.Us.2017.1080p.BluRay.H264.AAC-RARBG` like in the example shown, but instead it was `The Space Between Us 2017` (the format tag does work for filenames).

![image](https://cloud.githubusercontent.com/assets/5501908/26018425/b1021e72-3723-11e7-80c7-f725b8c6a4a9.png)

**Radarr Version:** 0.2.0.696

**Logs:**
Both debug and trace

[2017-05-12 23:13] psi70y commented on #1508
I have a similar problem.  MacOSX and have v0.2.0.654 installed.
Trying to install 0.2.0.696 on develop branch and here is my log which fails

17-5-13 09:07:29.3|Info|InstallUpdateService|Downloading update 0.2.0.696
17-5-13 09:07:40.2|Info|InstallUpdateService|Verifying update package
17-5-13 09:07:40.5|Info|InstallUpdateService|Update package verified successfully
17-5-13 09:07:40.5|Info|Install

[2017-05-13 00:51] ChrisColotti commented on #1509
I just installed the update and the rename preview does not appear to be changing the folder name while I am testing.

See below it shows the Folder naming pattern but it is not adjusting the folder name to be as indicated.  I'm not sure if this is actually working or not

Your movie may be moved; see the paths below
Folder Naming pattern: {Movie Title} ({Release Year})
Naming pattern: {Movie.Titl

[2017-05-13 00:55] ChrisColotti opened #1514 "Folder Re-Naming not working as expected"
**Description:**
I just installed the update and the rename preview does not appear to be changing the folder name while I am testing.  The previous question I had on this was closed but it does not appear to be working.

See below it shows the Folder naming pattern but it is not adjusting the folder name to be as indicated. I'm not sure if this is actually working or not

Your movie may be moved;

[2017-05-13 01:10] ChrisColotti commented on #1514
Forget it....did not see the "Static Path" option....

[2017-05-13 03:19] GenericPolarBear commented on #1196
@galli-leo Wouldn't it be possible to set a default minimum if those programs don't specify a minimum themselves? I think this also happens with the StevenLu list, although I'm not entirely sure on that one.

[2017-05-13 04:10] desimaniac commented on #1514
You can click "close ticket" at the bottom if you figured it out.

[2017-05-13 05:04] desimaniac opened #1515 "Empty folders not being removed and incomplete renames"
**Description:**
Two issues here but related:

1. With "create empty folder" option selected, a temporary folder (`Get.Out.2017.-Radarr`) is created. But after download occurs to another folder (`Get.Out.2017.720p.Bluray.x264.AAC-RARBG`), the first folder is not removed.

2. Decided to tweak the movie folder format a bit and ran a rename on the same movie. During rename function, a new folder (`Ge

[2017-05-13 05:52] jun6lee opened #1516 "RSS Feed Handling"
Attempting to parse an rss feed [e.g.; zooqle search results], the below error is encountered. I don't know if it's the feed not being shaped right, or an error, but the feed looks okay.

Some of the log shows reference to directories that don't seem right (not relative paths).
Since I'm running Radarr on a QNAP, this too may be adding complication.

For the below example, I've added a search of v

[2017-05-13 08:30] Taloth opened #1517 "Updater uses Sonarr logentries token"
**Description:**

The Sonarr updater pipes the update logs to LogEntries. I noticed Radarr log events, while I was monitoring the recent Sonarr deployment. This is because the [token](
https://github.com/Radarr/Radarr/blob/520836f475cd5ed79e72b663c8b3cceb820a5f4f/src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs#L66) is still the same. I've created a token for Radarr (2b9dd69e-1b30-411c-9ce7-f

[2017-05-13 10:55] galli-leo commented on #1513
You need to enable a few things for that to work:
1. Automatically Rename Folders
2. And change the Movie Paths of these movies to dynamic
(optional, but preferable) 3. Disable Movie Paths Default to Static
This way new movies have automatically dynamic paths.

[2017-05-13 10:55] #1513 closed

[2017-05-13 10:56] galli-leo commented on #1509
@ChrisColotti You have to change the path of the movie to be dynamic. You can do that when you edit the movie.

[2017-05-13 10:59] galli-leo commented on #1508
@psi70y @Parkie @Vortec4800 Pretty sure what's happening now. We changed the binary name (from Sonarr to Radarr) in .692. This causes osx to be confused because it's still searching for the binary called Sonarr. The only current workaround is to redownload the application bundle from the releases page. I will try to come up with a fix, but I don't know if that's possible. Sorry about the inconveni

[2017-05-13 11:01] realdannys opened #1518 "The application “Radarr” can’t be opened."
I'm getting "The application “Radarr” can’t be opened." on macOS. Have tried turning off gatekeeper and resetting permissions of app but neither having any affect. Found old reports for this but stated it was fixed.

I have tried the last two releases

[2017-05-13 11:01] galli-leo commented on #1516
I don't see the error with the RSS feed? the only error I see is that the TorrentFile is broken, which would explain why it couldn't get added.

[2017-05-13 11:02] galli-leo commented on #1518
@realdannys Can you open a terminal and run the following command:
`sudo chmod +x /Path/to/Radarr.app/Contents/MacOS/Radarr`.

[2017-05-13 11:04] galli-leo commented on #1515
@desimaniac Regarding 1., did you have any other files besides the video file in the original folder? We do not delete folders unless they are empty.
Regarding 2., the two folders seem to be the same?

[2017-05-13 11:05] #1514 closed

[2017-05-13 11:06] galli-leo commented on #1196
@GenericPolarBear For the list you can set it yourself when you edit the list. We could make an option for the default, but IIRC ombi should be patched pretty soon.

[2017-05-13 11:11] #1517 closed

[2017-05-13 11:15] galli-leo commented on #1517
Thanks a lot, didn't even know we / Sonarr does this :) I used the token you created for us. How would I be able to look at the logs in that case?

[2017-05-13 11:28] Taloth commented on #1517
It's tied to our free account on logentries. I'll ask @markus101 when he gets online to see if we can add an login, coz I just noticed that the free tier doesn't have the ability to restrict logins to specific logs.
Advantage is that I can see which Update problems affect Radarr and Sonarr separately. Most of it is just crappy permissions. But some of it can be fixed or at least detected.

[2017-05-13 11:42] realdannys commented on #1518
That got it, thanks Leonardo!

[2017-05-13 12:50] galli-leo commented on #1518
Sorry about that, but our build system sometimes doesn't add the executable permissions to the osx binary :/

[2017-05-13 12:50] #1518 closed

[2017-05-13 12:52] galli-leo commented on #1517
Ok, that sounds like something very useful. You could probably also make an issue on the Lidarr GH. Additionally, if you were seeing permission issues yesterday for Radarr logs on OSX, it was most certainly related to us changing the OSX binary name from Sonarr to Radarr, resulting in OSX not being able to find the executable anymore :/

[2017-05-13 13:30] milika commented on #694
any ETA on this. Without deleting files/folder it is really cumbersome to organize...
Delete here, and then there, folder checking manually, well you know...

Thanks

[2017-05-13 14:17] Taloth commented on #1517
I asked markus, he thinks that it might be better if you guys have your own logentries account, meaning you'll have to change the token again. Sorry, I should've checked that first.
Here's a [referral link](https://logentries.com/learnmore?code=22477985) (The free plan has 7 days retention, 5 GB max per month, we average below 700 MB and that's including the skyhook error log).

[2017-05-13 14:29] champs777 commented on #1507
Thank you Grimeton for your assistance.  I really do appreciate you answering my questions.

So what you are saying above it point Radarr to my "Movies" folder.  Have it download, put in this folder, and manage it?  Here is a question then.  If I download a movie and have it saved to this folder.  I watch the movie and then no longer want it, do I then remove it from Radarr?  If I just delete it,

[2017-05-13 16:32] Vortec4800 commented on #1508
The weird thing is that I actually did download the latest bundle from the releases page and installed it directly and I'm still having the error launching the app. Is there a launchd cache I need to clear or something?

[2017-05-13 16:33] roquemore92 opened #1519 "Add G_Scene to indexer flags. Makes it possible to ignore / require or even upgrade to scene releases"
I'm using Radarr to grab movies primarily from PassThePopcorn. I prefer to get P2P releases, since they are typically better quality and eventually can become Golden Popcorn, while Scene releases almost never do. The problem is that Scene releases usually come out before P2P releases, but since Radarr has already grabbed the Scene release, it will completely ignore the P2P release.

Looking at the

[2017-05-13 16:43] lyrad87 commented on #1508
@Vortec4800 May not be related at all but have you tried clearing your local storage? It sounds like an issue I've encountered in the past and that fixed it for me. But once again, I have no idea if that is even the issue you are having.

[2017-05-13 18:12] galli-leo commented on #1508
@Vortec4800 Oh yeah, the latest two bundles got slightly corrupted by our build system, so the binary is missing the executable permissions. You have to execute: ’chmod +x /path/to/Radarr.app/Contents/MacOS/Radarr’

[2017-05-13 18:33] galli-leo commented on #1517
@Taloth No problem :). I am guessing those unsuccessful attempts are all on osx?

[2017-05-13 18:38] galli-leo commented on #1519
There is an option to not prefer scene, but if it's the only release it will be downloaded regardlessly. Your best bet is to add a delay profile (Settings -> Profiles, in combination with not prefer scene), so that Radarr waits x amount of hours before downloading the scene release regardlessly.

[2017-05-13 19:04] roquemore92 commented on #1519
I would like to ask that this not be closed, and added as a feature request. Sometimes there can be delays of hours, or sometimes days or weeks between Scene and P2P releases. It is not something that can easily be fixed by adding the delay to the profile since there is no set time that it would need to wait. Manually downloading everything would be a better option than setting a delay.

Radarr is

[2017-05-13 19:10] Taloth commented on #1517
Most of em are on OSX yes, and could be multiple attempts on the same system. But not due to Radarr.exe rename:

Most seem related to it being unable to set the [permissions](https://github.com/Sonarr/Sonarr/blob/develop/src/NzbDrone.Update/UpdateEngine/InstallUpdateService.cs#L119) on the folder after having copied in the files.
My guess is that it doesn't have ownership of the folder.

190 failu

[2017-05-13 22:24] lisinge opened #1520 "Hardcoded korean subs for Ghost In The Shell on TorrenLeech"
**Description:**

Radarr doesn't properly interpret a movie with hardcoded korean subs;
https://www.torrentleech.org/torrent/881992
With the torrentname "Ghost In The Shell 2017 720p SUBBED HDRip V2 XViD-26k"
Filename "Ghost.In.The.Shell.2017.720p.SUBBED.HDRip.V2.XViD-26k.avi"

**Radarr Version:** 0.2.0.692

[2017-05-14 02:32] lunarboy opened #1521 "Radarr thinks 1080p movies are 720p"
**Description:**
Radarr is not detecting movie resolution correctly. It's labeling 1080p files as 720p, and then wants to--of course--download another 1080p release, which it won't detect correctly either, resulting in many, many downloads of the same movie. Has happened in the last few days to at least 2-3 movies.

**Radarr Version:**
0.2.0.696

[2017-05-14 02:50] DaveAlton commented on #494
This is the one feature that prevents me from switching 100% from CouchPotato.

[2017-05-14 04:41] wolffstarr commented on #1244
As a note, this ALSO occurs when you have "Missing Only" selected, and the last missing movie gets completed and imported. Only way around that is to add a new movie to Wanted.

[2017-05-14 06:02] hartleigh commented on #694
Subscribing to thread. If the function doesn't exist then perhaps the option should be removed from UI. It's just causing unnecessary confusion.

[2017-05-14 06:32] galli-leo commented on #1521
@lunarboy Are you sure they are not actually 720p files? Radarr uses media info to read the dimensions of the file and guess quality based on that. Could you give examples of such movies (file name, logs and media info of the video files in question)?

[2017-05-14 06:34] galli-leo commented on #1519
Gotcha. Sorry I though you meant it to work across all indexers not only PTP.

[2017-05-14 06:41] Ginotuch opened #1522 "Movie editor only selects a maximum of 37 movies"
**Description:**

When on the Movie Selector page, when loaded more than 37 results, when clicking the select all button, it only selects 37 results.
(I have also set the amount of movies to be loaded to 1000 on the UI settings page)
Video: https://www.youtube.com/watch?v=BLsW8UDY6ow

p.s. I did try to search to see if this issue is already known but couldn't find anyone else mentioning it, sorry

[2017-05-14 08:24] galli-leo commented on #1522
Can you try a different browser / incognito window? Works fine for me.

[2017-05-14 09:00] galli-leo commented on #1517
Thank you for the detailed response! Pretty sure the first two are related to the name change though :/ The permissions issue only seems to be happening when trying to start the Radarr client (Which seems kinda weird, as permissions have worked during the update or else it would have failed earlier). I am just assuming OSX gives back a permission error when it cannot find the binary, which is why

[2017-05-14 09:03] galli-leo commented on #1517
Yeah Just looked and I forgot to change the binary name when the updater tries to set the executable flag.

[2017-05-14 09:10] galli-leo commented on #1508
@Vortec4800 @Parkie @psi70y I fixed the updater problem on the latest nightly. If you do not want to manually download the new update, set branch to nightly in Settings -> General and then update to the new version (live in a few minutes).

[2017-05-14 09:10] #1508 closed

[2017-05-14 09:16] jun6lee commented on #1516
Interesting.
 https://zooqle.com/download/w3daz.torrent
For that example, I've tested manually that the torrent in the RSS feed is valid.

[2017-05-14 09:43] Taloth commented on #1517
Awesome, another problem fixed.

Btw. In our log entries I had these configured tags, you might find them useful:
![image](https://cloud.githubusercontent.com/assets/6383890/26032720/78ff4360-389a-11e7-8241-c8b4d8b8b272.png)

[2017-05-14 10:15] galli-leo commented on #1517
@Taloth Thank you very much, those are very helpful :)

[2017-05-14 15:46] kotysoft commented on #1398
Radarr Ver. 0.2.0.696 (develop)
Jackett Version 0.7.1397.0 (as torznab indexer)

**Issue:**
- Radarr translating the original title to the language of selected _PROFILE_ and searching for that translated string only.
- Also NOT searching for original (US) title
- Unfortunately all movie releases using the original title in their name
- so simply: **no search result**

So basically it should search

[2017-05-14 16:05] galli-leo commented on #1398
@kotysoft I have a pr open for searching for more than one language (if indexer does not support searching by imdbid). Blame @onedr0p For not responding on that one 😜

[2017-05-14 16:08] alneven commented on #1398
+1 from myself. 👍
I would really need this too, atm I'm not using radarr because of this missing feature.
I'm still using flexget to transfer torrent for my DL-client. :-(

[2017-05-14 16:22] roquemore92 commented on #1519
Thank you very much!

[2017-05-14 16:36] Grimeton commented on #1507
Hi,

when you delete a movie in radar you can also delete the files. They're either thrown away or end up in your recycle folder (if set). Anyway. They're gone. The thing is: If the movie is again pulled in via RSS sync, it will show up again, so it's a good idea to either delete the movie from the rss list, OR delete the file from the disk, and mark the movie as unmonitored and leave it in Radarr

[2017-05-14 16:52] mrasstits opened #1525 "Feature Request - Single Directory"
I see that the support for this is planned on being implemented in the final release, but I and I assume many others, are unable to help develop this software without supporting this feature. Typically the average user may have hundreds and even thousands of video files in their library and if my directory structure is only a single folder with thousands of files, it is extremely unlikely that I a

[2017-05-14 17:19] Ninjouz opened #1526 "Feature Request : Archived status"
Hey guys,

In order to reduce api calls on external cloud storage services, it would be nice to have an archived status for movies that will prevent the automated RefreshMovieService from scanning for files and analyzing them daily.

Or consider that a "Downloaded" movie with cutoff met should not be scanned / analyzed.

then would only have to tweak this https://github.com/Radarr/Radarr/blob/7db9

[2017-05-14 17:27] galli-leo commented on #1525
It is certainly a priority, though since Sonarr relies so heavily on Series in their own folder, it's just taking a long time to implement it. There's already an issue open for this, so I am closing this as a duplicate. Btw. a lot of users switched their structure around just to use Radarr (so the alternatives don't seem to be that good ;)). It's really painless if you use a program and often a ma

[2017-05-14 17:27] #1525 closed

[2017-05-14 18:19] Grimeton commented on #1519
What about using certain keywords in the "must contain" and "must not contain" sections of the indexer?

[2017-05-14 18:46] stemwinder commented on #1525
Do you have any recommendations on a good script to handle the renaming/restructuring of an existing movies library folder?

[2017-05-14 18:48] roquemore92 commented on #1519
Whoops...hit the close button instead of comment.

For the "must not contain" list, I do have a bunch of groups in there, but I can't seem to find a fully up to date list anywhere. Even if I did, the "must not contain" list would probably have to be manually updated every week or so. Since most private trackers have a special flag if a release is Scene, that is probably the easier method.

[2017-05-14 19:06] galli-leo commented on #1525
@stemwinder https://github.com/Radarr/Radarr/wiki/Create-a-Folder-for-Each-Movie

[2017-05-15 00:39] eriksneff commented on #1025
I know I'm a bit late to the party in this discussion, but thought I'd throw my $0.02 in on the topic of how to implement a select-all/clear selection that spans pagination: Gmail does this the best I've seen. Here's how I'd prescribe it for Radarr:

When the select-all button in the upper right is clicked, a new first row in the table shows that says:
All XX movies on this page are selected. _**S

[2017-05-15 01:18] lunarboy commented on #1521
Yup, sure. Plex says they're 1080p.

[2017-05-15 01:22] GenericPolarBear commented on #1522
@galli-leo It seems to be only with chrome, I did try it with firefox and it works fine. I'm thinking there might be something cached on my chrome that is causing some issues, but even when doing a hard reload it still doesn't fix it. I'll do some more testing.

[2017-05-15 06:37] JimboMonkey1234 opened #1528 "Radarr behaves poorly with mono 5.0"
**Description:**

Doesn't work well with mono 5.0. Downgraded to 4.8 and issues went away.

Issues included page load failures and indexer failures.

Got downgrade hint from fryfrog's comment today: https://aur.archlinux.org/packages/radarr/

**Radarr Version:** 0.2.0.696, develop

**Logs:**

Some exceptions from journalctl:

[code]

[code]

[2017-05-15 07:40] #983 closed

[2017-05-15 07:56] galli-leo commented on #1521
@lunarboy Do you have Analyse video files disabled under Settings -> Media Management.

[2017-05-15 08:18] galli-leo commented on #1528
I am using Radarr under mono 5.0 fine on my MacBook. Can you install libcurl3 / libcurl4 for the first error?

[2017-05-15 08:34] estimadarocha opened #1529 "Radarr doesn't download movies"
I have been having some problems with Radarr not downloading movies already release and in predb...

Taking the example of "The Great Wall" if i make a manual search i have this results:

http://prntscr.com/f7z18f

but the filme doesn't get download automatic... any hint?

by the way i have the Minimum Availability set to predb!

this are the logs

 Refresh  Clear Logs
Component	Message	Time
Movie

[2017-05-15 09:30] galli-leo commented on #1529
The problem is predb is currently not working so it's the same as Physical / Web. However, to Radarr the Physical copy is not yet out, so it won't download it. Please see this wiki page: https://github.com/Radarr/Radarr/wiki/Minimum-Availability and use the recommended settings from there.

[2017-05-15 10:03] estimadarocha commented on #1529
@galli-leo will predb return in a near future?

and thanks for the help

[2017-05-15 10:59] petwri opened #1530 "Problem with postprocessing: Unknown movie"
Radarr sends an nzb to nzbget which then is downloaded properly, but postprocessing fails. Manual import shows "Unkown movie".

Radarr version 0.2.0.654

![image](https://cloud.githubusercontent.com/assets/7779420/26054587/70ff9bdc-396d-11e7-96d3-b37c4c72ec51.png)

Debug log not showing any usable info

`17-5-15 11:14:19.0|Debug|QualityParser|Trying to parse quality for Foo_Fighters_-Live_at_Wembl

[2017-05-15 11:14] galli-leo commented on #1530
What is the name of the movie you want it to match to? Also you can just select the movie and manually import it, so not that big of a deal.

[2017-05-15 11:14] galli-leo commented on #1529
@estimadarocha No concrete plans yet, they just straight out blocked us :/

[2017-05-15 11:14] #1529 closed

[2017-05-15 11:32] petwri commented on #1530
It is http://www.imdb.com/title/tt1321823/
I know that I can manually add it, but that is not really the idea behind
an automated downloading software, is it?

On Mon, May 15, 2017 at 1:14 PM, Leonardo Galli <notifications@github.com>
wrote:

[2017-05-15 11:39] galli-leo commented on #1530
@petwri Yeah but that normally does not happen only with really obscure movies ;). Can you post a screenshot of how the movie looks like in Radarr (With full title in Radarr, etc.)?

[2017-05-15 12:48] galli-leo commented on #1528
After further searching, this might not be an issue with Radarr but with mono overall. See here on Sonarr Github issues for how to fix it: https://github.com/Sonarr/Sonarr/issues/1928

[2017-05-15 13:43] petwri commented on #1530
There you go:
![image](https://cloud.githubusercontent.com/assets/7779420/26060381/30042798-3985-11e7-9183-abc0c9da44fa.png)

[2017-05-15 13:48] galli-leo commented on #1530
Yeah the problem here is that Radarr expects the title to be Foo Fighters: Live At Wembley Stadium, while the title parsed from the File is Foo Fighters: Live At Wembley. This causes Radarr to think they are not the same movie. Nothing we can really do unfortunately. You have two options though:
1. Either manual import (since this is a very obscure movie I wouldn't worry too much about this happen

[2017-05-15 13:48] #1530 closed

[2017-05-15 16:27] fryfrog commented on #1528
I switched the arch package to use the legacy tls provider just now, should have done that last night.

[2017-05-15 21:14] lunarboy commented on #1521
I do not. It's on.

(Sent you PM btw.)

[2017-05-15 21:31] nibble4bits commented on #1196
I get this 404 Error only in Chrome. When I view the same movies using Opera, I am experiencing a page reload a few seconds after the initial page appears to load.  I'll go to the movie, start looking at the results of a search, and Radarr flashes like a page reload and goes back to the History tab. But only once. If I do a 2nd search, I don't experience this page reload.

[2017-05-15 22:49] D34DC3N73R commented on #1522
@GenericPolarBear I've had varying results when attempting a hard refresh in chrome. Try an incognito window to rule out your local cache, or actually delete your cache. It's most likely an old js file.

[2017-05-15 23:32] delphiactual opened #1532 "Make "Add IMDB URL to notifications (#1531)" - Optional"
**Description:**
While a nice addition for some, it is more than is needed for me.

![screenshot 2017-05-15 17 34 13](https://cloud.githubusercontent.com/assets/4798491/26083900/a2c60e6c-3995-11e7-9a86-e15b5e6448b9.png)

Optionally, if the `http://` is removed slack will not unfurl the URL at all but it will still be able to be clicked.

[2017-05-16 03:17] JDIacobbo commented on #1407
I would like to add my case to the thread. It looks like the name and the year match and there are not special characters involved.

![screenshot 2017-05-15 at 110939 pm](https://cloud.githubusercontent.com/assets/7070260/26088347/b08bc896-39c4-11e7-9cd1-e4b84025ba5c.jpg)

[2017-05-16 03:27] iFlip721 commented on #153
I have been using Plex since 2008 and since then I've always had a flat movie folder structure. I've never had a single issue. I've been using CP since 2008 as well and just recently came across radarr - I love the UI and all the features but I can't get over how there's no support for flat folders. Please implement this so I can keep track of downloaded movies. Currently I have to just delete the

[2017-05-16 06:05] galli-leo commented on #153
@iFlip721 As I have explained countless oder times :), I really want to support this. The main blocker is not my concern for subtitles, etc. but rather the difficulty in implementing such a feature. We are a fork of Sonarr. And a lot of Sonarrs and thus our code is heavily dependent on movies being in one folder. I have no idea what stuff would / can break even, when we start implementing it. You

[2017-05-16 07:15] bobbintb commented on #153
Sonarr already has a setting to disable seasons folders. Isn't this essentially the same thing, just reworked a little?

[2017-05-16 07:18] mmozeiko commented on #153
He meant that Sonarr requires each show to be in separate folder. Radarr simply replaces "show" with "movie". Can you have multiple shows in same folder in Sonarr?

[2017-05-16 07:19] Darkaspo commented on #153
No, as far as I know you will still have a folder for each series

[2017-05-16 09:00] galli-leo commented on #153
@bobbintb @mmozeiko That's what I meant (Sorry if that was unclear, I typed it on my phone :)).

[2017-05-16 13:12] Jleagle commented on #1167
This is in the latest version, marked as alpha. Thanks.

[2017-05-16 13:12] #1167 closed

[2017-05-16 14:18] webersnet commented on #121
Would also like to see an option to copy/move srt files in post.

[2017-05-16 14:39] bobbintb commented on #153
Right, but instead of replacing "show" with "movie", perhaps it should replace "season" with movie and eliminate "show". Conceptually, this is essentially trimming Sonarr down to handle only one "show", with each movie being an episode, the only episode in the season. This is strictly from a hierarchy perspective. That's kind of what I meant when I said it seemed like Sonarr had this ability in th

[2017-05-16 14:57] galli-leo commented on #153
@bobbintb Yeah it's kinda too late for that now. We already implemented all the code related to that, so no turning back now. But I don't think it would have been easy to integrate it that way anyways. A Season in Sonarr is practically nothing more than a list of episodes (AFAIK). Thus it wouldn't have really been feasible to get the complexity of movies by redoing the Seasons in Sonarr. And belie

[2017-05-16 14:58] galli-leo commented on #121
@spacecabbie Rough ETA is release date of 0.2 😛

[2017-05-16 15:05] bobbintb commented on #153
Ah, fair enough. It works great even in this early stage and I'm excited for the future. Hard links are good enough for the time being.

[2017-05-16 15:05] mattmac24 commented on #1455
This would be great to have.

[2017-05-16 21:46] iFlip721 commented on #153
I can respect the difficulty in moving from the Sonarr folder structure to a flat structure. Currently I have the renaming feature turned off and I allow SABNZBD to handle all the renaming (for the time being). The naming structure follows the exact syntax/regex as Radarr would've handled the renaming (if I was allowing Radarr to rename) = [Title - (year).%ext] and so forth. So after renaming the

[2017-05-16 22:00] gregcbrown opened #1533 "Movies Display Page shows only 10 movies per page"
When first accessing the "Movies" page, when I switch to "table" mode, it only displays 10 movies per page even though I have it set to 250 per page in UI settings.. I have to go to UI settings and "save" without changing anything and then it works properly.
I am using Firefox 53.0.2 on Windows 10.

[2017-05-16 22:13] eriksneff commented on #745
And I've updated the PSA to align with the renaming of the main executable that changed from a file called "Sonarr" to one called "Radarr".

Note: I also just confirmed by downloading the latest mac package:
Radarr.develop.0.2.0.696.osx-app.zip
That the main executable in the Radarr.app container is still now executable by default, as seen here:
![image](https://content.screencast.com/users/eneff1

[2017-05-17 02:15] 4getit opened #1534 "Feature request: Ability to add predb.me as list"
Hello,

It doesn't seem to be possible to add https://predb.me/?cats=movies&rss=1 as custom rss list. If I try, it gives an error.

I think it would be an interesting addition for people that simple want to add everything released.

[2017-05-17 02:23] Loafdude opened #1535 "Not all files deleted when replacing multi-cd movies"
My file structure is
/movies/Heartbreakers (2001)/vite-divx-hb.cd1.avi
/movies/Heartbreakers (2001)/vite-divx-hb.cd2.avi

Radarr is replacing the movie with a new version

Log:
[code]

As you can see I am left with
/movies/Heartbreakers (2001)/vite-divx-hb.cd1.avi
/movies/Heartbreakers (2001)/Heartbreakers.2002.1080p.BluRay.x264.mkv

which is bad

[2017-05-17 04:39] qazero opened #1536 "ENHANCEMENT - Plex Refresh/Scan"
Once a newly downloaded movie has finished being post processed, it triggers a plex library scan. Instead of rescanning the entire library and all sections, would it be possible to have Radarr only trigger a scan for the directory of the newly added movie (similar to how Sonarr triggers plex)? Scanning the entire plex library including all sections is extremely inefficient especially when dealing

[2017-05-17 07:27] colfin22 opened #1537 "An error occurred while processing feed."
Radarr 0.2.0.696 on windows server 2012

I'm having trouble with my indexer disappearing. If i go to add the index it sometimes takes a few seconds to appear in the tab and when i do a test it works for the next search but stops working after about 2 searches. This is the error:

An error occurred while processing feed. https://nzbs.in/api?t=movie&cat=2000,2010,2020,2030,2035,2040,2045,2050,2060&e

[2017-05-17 07:37] Quiksmage commented on #1519
It'd be great to integrate "scene" into the profiles eventually. So that someone could make a custom profile that uses scene as a quality, with a cutoff of goldenpopcorn, for instance.
web-dl (hc subbed) < 720p BluRay <scene 1080p bluray < P2P 1080p bluray < 720p Goldenpopcorn < 1080p Goldenpopcorn

@galli-leo Is this a possibility with the new profile manager i saw a video of a while back?

[2017-05-17 08:09] warbrd opened #1538 "Completed downloads not always getting moved"
**Description:**

Movies are not always getting moved from NZBGets completed dir to the movie dir.
Radarr settings:
http://imgur.com/P1Ql9FW

**Radarr Version:**
v0.2.0.696

**Logs:**
https://pastebin.com/TS5ZRt9u

The error from line 15 and downwards keeps repeating over and over

[2017-05-17 10:04] galli-leo commented on #1519
@Quiksmage Yeah that is the idea. (I also want to integrate scene as an indexer flag.) With rhe profilinator you could maybe add scores for the individual flags an set a minimum score before cutoff is met.

[2017-05-17 10:56] blackwhattack opened #1540 "Do not allow profile to be deleted if in use with lists."
**Description:**
I add a movie in Trakt. I get home and it gets loaded, no problem. But the profile is null, there is nothing under the profile category. Because of that the movie can't be found, searched; it just doesn't work. That's probably because I deleted the 'Any' profile. Why? Well I hoped that the first profile in the list would be set as the default so I changed the 'Any' profile for ano

[2017-05-17 12:16] AeonLucid commented on #745
@eriksneff Can you confirm if it's fixed since 0.2.0.710?

[2017-05-17 13:03] seanvree commented on #1409
@galli-leo  -

Hey wanted to update you on this issue -

So I found out that I cannot see the results on a manual search when accessing the WebUI via my reverse proxy (hostname.com/radarr).  Everything else works just fine in the UI. it IS searching, it just sits there and spins and never shows the results.

When doing the same search directly:  xx.xx.xx.xx:7878/radarr then I works fine and it dis

[2017-05-17 13:44] galli-leo commented on #1409
@seanvree Seems like a caching issues (cache is different for domain and ip address). Can you try both in an incognito window?

[2017-05-17 13:45] galli-leo commented on #1538
@warbrd Have you verified that the file actually exists?

[2017-05-17 13:49] galli-leo commented on #1535
Yeah we currently do not handle multi disk movies very well.  But there's already an issue open for that :) #145

[2017-05-17 13:49] #1535 closed

[2017-05-17 13:49] galli-leo commented on #1534
Currently Radarr is blocked from predb.me as an application. I don't think we will implement this anytime soon.

[2017-05-17 13:58] galli-leo commented on #1540
@blackwhattack We already use a default profile value, namely the one you set in the list. After you delete that profile, Radarr cannot find it anymore and thus uses no Profile. I agree we maybe should just use the next available profile in that case.

[2017-05-17 14:09] francesco2013 commented on #159
This is NOT fixed I get the same problem and a lot

[2017-05-17 14:35] Quiksmage commented on #1519
I'm excited for that scoring idea :)

[2017-05-17 15:07] BzowK opened #1541 ""Import failed, path does not exist or is not accessible" for items that do not exist"
Good Morning -

Thanks for all of your hard work!  I am wanting to completely migrate over from CP to Radarr so this past weekend bulk imported 3,000+ movies in my collection as the sync I set up with CP failed to import anything but the Wanted ones which took a while.  When having an issue afterwards, I was looking in the logs and found the below error:

Import failed, path does not exist or is n

[2017-05-17 17:30] warbrd commented on #1538
@galli-leo yes I did. I also manually created a "Das Boot (1981)" folder, moved the file into it and refreshed in radarr, upon which it was recognized. The file in question is pretty big, 24.8 gb, Don't know if that is relevant.

[2017-05-17 17:36] warbrd commented on #1538
Here are the complete logs
[radarr.txt](https://github.com/Radarr/Radarr/files/1008609/radarr.txt)
[radarr.0.txt](https://github.com/Radarr/Radarr/files/1008610/radarr.0.txt)

[2017-05-17 17:43] eriksneff commented on #745
@AeonLucid unfortunately that didn't do it. I think this may be the solution - if you'll give my github username permissions, I'll submit a pull request with the solution - have a look:
![image](https://cloud.githubusercontent.com/assets/6926543/26168067/b3a8039e-3aed-11e7-863b-254da8f4ba39.png)

[2017-05-17 17:56] seanvree commented on #1409
@galli-leo  - Nope, same issue.

[2017-05-17 18:16] galli-leo commented on #1538
@warbrd What are the permissions on this file? Maybe Radarr cannot read it.

[2017-05-17 18:34] warbrd commented on #1538
@galli-leo I'm on windows, and all users have read access. The file in question was marked read-only though

[2017-05-17 20:51] darknessgp commented on #1490
Yep... That's exactly what it was... Though around casing. part of my path was "/movies" but the real folder is "/Movies"

[2017-05-17 20:51] #1490 closed

[2017-05-17 22:50] jdchandler opened #1543 "Radarr can't see my NAS via UNC or Mapped Drive"
**Description:**
I have tried running it as a service and the application as an Administrator.

The movies file share I have is mapped at Z:\ but can also be found at \\LeetBox\Movies

Neither work when trying to import into Radarr. It shows both formats with 0 bytes available and says there are no file there. Sonarr which is running as a service can see this same exact path with both formats.

**

[2017-05-17 22:59] ginjohn5snaps opened #1544 "Couldn't import movie"
I just startes getting this error.
The log tells me that it could not import because the destination already exists. When I check the destination folder, in fact the folder does exist, and the movie is also there and renamed correctly.
In the downloads folder, the file is also there still, not renamed.

Why is this?

[2017-05-17 23:06] AeonLucid commented on #745
@eriksneff Wait I think I know whats wrong. I'm doing chmod on the wrong file at the moment.

[2017-05-17 23:09] AeonLucid commented on #745
@eriksneff Didn't mean to close this yet, can you check again if it's fixed with **0.2.0.711** once it's done building?

[2017-05-17 23:24] theebanka opened #1545 "Cant install latest update"
Hey guys I am hoping this is something stupid that i am missing but for some strange reason I have been unable to install the latest update. I have been using Radarr for months without many issues (definitely not with the update process) but suddenly with this most recent one it is having trouble. Here is a bit of the Update Log that i was able to grab. If you need any more info from logs just let

[2017-05-18 01:07] Geezus42 commented on #1545
I've have the same problem. I'm stuck on version 0.2.0.707.

[2017-05-18 03:34] bobbintb commented on #1282
This seems to be fixed in my docker, which is v0.2.0.696.

Unfortunately, my script is now broken and I have to figure how to query PTP to see if the torrent is GP. Any chance of adding a GP variable to the custom processing variables? I realize it is a special case for one tracker but it's pretty much THE movie tracker and there are already similar variables for other aspects of quality.

[2017-05-18 04:19] theebanka commented on #1545
oh wow I am even behind that. I am on 0.2.0.692  of the develop branch.... 0.2.0.696 is what I was having issues updating to and it doesnt show anything newer for me

[2017-05-18 04:43] Geezus42 commented on #1545
I'm on nightlies, the develope branch is behind that.

[2017-05-18 05:56] ochompsky commented on #1536
What does this have to do with Radarr?

You need to setup Plex properly.  Look at server->library.  There is an option:

Run a partial scan when changes are detected
When changes to library folders are detected, only scan the folder that changed.

[2017-05-18 06:15] ginjohn5snaps commented on #1544
My Radarr is running under Windows 10. It worked perfectly up until yesterday. Sonarr is also still working great.

The destination for my files are a NAS drive, set up with UNC paths in Radarr.

The only thing I did in between it not working is change a bit in my network environment. (NAS and Windows PC were both connected directly to my internet  modem/router, now my Windows PC is connected to a

[2017-05-18 06:50] janipewter opened #1546 "Create wiki page detailing how static / dynamic paths work"
Can someone please explain what Static Path does and the importance of the "Automatically Rename Folders" option please?

[2017-05-18 12:01] bumperboy commented on #1374
Same problem here. Different ports but I cannot connect using the SSL port.

[2017-05-18 12:55] silentmiles commented on #334
Any chance we can get the priority of this bumped up? I'd think it would be easy to implement, and it's probably affecting a lot of people (those who often search for foreign language films).

[2017-05-18 15:21] onedr0p commented on #781
@mechanimal82 I am getting this as well, while I have that reproduced on my server. I cannot get it reproduced on my dev machine.

[2017-05-18 15:58] extrobe commented on #153
Looks like there's already been a fair bit of discussion on this, but thought I'd contribute nonetheless :)

I use a films/decade/title (year).ext structure - no major reason for that other than when I first started collecting them, the folders were getting too big to display them all in one folder.

I actually don't have a problem per se moving to /films/title (year)/title (year).ext structure.
T

[2017-05-18 17:27] fryfrog opened #1547 "Movie The Space Between Us has two years"
The movie `The Space Between Us` is listed with 2016 in trakt and themoviedb, but 2017 on imdb and scene releases. What do? :/

[2017-05-18 17:31] fryfrog commented on #1544
Probably just a random failure during the move/copy. I'd double check that the source and destination file match (md5sum? sha? file size? whatever) and then just nuke the download and move on.

[2017-05-18 17:32] fryfrog commented on #1546
Do you want the folder names your movies are in to change? If you're using dynamic information in the folder name template, you do. If not, you can choose either way. If you *really* don't want them to change, don't let them be static. Is there a little hover ? w/ a tool tip to help explain it?

[2017-05-18 17:33] fryfrog commented on #1546
![screen shot 2017-05-18 at 10 32 55 am](https://cloud.githubusercontent.com/assets/87748/26215487/61639ddc-3bb5-11e7-8599-ac1e3834043c.png)

[2017-05-18 17:34] fryfrog commented on #1545
Check permissions of the directory, looks like Radarr isn't able to modify its own permissions from your error message.

[2017-05-18 17:36] fryfrog commented on #1543
Make sure the service is running as *you*, not SYSTEM. Check your Sonarr service to confirm. Are you sure Sonarr is running as a service? It might just be running at startup which would make it naturally run as you.

I also assume your UNC paths are correct and github is just eating your missing `\`. Should be `\\server\share` of course.

[2017-05-18 17:37] fryfrog commented on #1541
My guess is you're running Radarr as a service and haven't changed it from running as SYSTEM to running as yourself.

Also, can you put your log in \` \` back ticks so github doesn't swallow all the `\`?

[2017-05-18 17:59] #1536 closed

[2017-05-18 18:46] bobbintb commented on #153
@extrobe
If you want to keep your custom folders and can script a little, you can try this:
https://forums.ombi.io/viewtopic.php?f=20&t=27
You can adapt it for your purpose. Have a main download folder, then use an on-grab script to query the year of the movie and change the download location before it downloads. I do something similar with qualities.

[2017-05-18 18:52] jdchandler commented on #1543
Thanks for the response.

I do have the service running as ME (local administrator user), the SAME user the Sonarr service is running as and has no issues finding my files using the \\server\share format. You were correct GitHub truncating the other \.

I try to go to the logs page under System and it never loads. I got the previous error when running it in a command window and I was able to copy

[2017-05-18 19:09] jdchandler commented on #1543
Ok I found the logs in the GUI, I was on that Table section that was loading forever.

17-5-18 14:07:33.3|Warn|SkyHookProxy|Couldn't map movie 1960s to a movie on The Movie DB. It will not be added :(

[v0.2.0.696] System.Net.WebException: The underlying connection was closed: The connection was closed unexpectedly.
   at System.Net.HttpWebRequest.GetResponse()
   at NzbDrone.Common.Http.Dispatche

[2017-05-18 20:34] arddor commented on #1455
I would also appreciate it

[2017-05-18 21:00] jdchandler commented on #1543
Well that didn't work either, I now added a folder where ONLY movies are beneath that parent and still says, "No movies found in folder \\leetbox\movies\2000s\. Have you already added them?

There was also no new log output (I cleared before it).

It shows how much free space there is, and as I type a path, it auto suggests folders.

I am not sure why it can't see the files.

With Sonaar I literal

[2017-05-18 21:02] jdchandler commented on #1543
To clarify, I am trying to do the Bulk Import.

[2017-05-18 23:29] Popsikill commented on #1547
I also have this - I believe it's causing Radarr to search on the 2016 year, where all of the releases are 2017, thus Radarr displays the message "Unknown movie. Movie found does not match wanted movie." and won't allow a grab.

[2017-05-19 01:07] eriksneff commented on #745
Just left a comment on your commit - if you'll give me pull request perms I'll push the solution I have waiting.

[2017-05-19 04:35] eriksneff commented on #745
Argh - #1548 didn't help either... since I'm really foreign to most of the technologies involved in the build process, it'll take me a while to dig into this. @AeonLucid - have a look at what I did - I suspected the issue was a typo in the cygwin call with an errant @ symbol, and when I cleared that out, the appveyor build process bombed out saying the windows backslash was an incorrect escape cha

[2017-05-19 05:20] lilbrimstone commented on #895
I have the same issue

[2017-05-19 08:10] sheepsskullcity opened #1549 "Import of downloaded movie failed"
I have local web server with generated rss feed items: {Movie_Title} ( {Year} ) + download torrent link.

Radarr successfuly grab release and send it to torrent client.

If downloaded movie have not standart name (h6sdh8sfadh.avi for example) Radarr parser will not process file.

If i manually move movie file to "/path/to/download/{Movie_Title} ( {Year} )" folder during download then parser can pr

[2017-05-19 10:47] Geezus42 commented on #1545
Just had time for a quick look but everything shows radarr:radarr and the one has rw on files, rwx on folders. I could change to group permissions to match the owner but that shouldn't be necessary.

[2017-05-19 13:00] janipewter commented on #1546
I still don't understand. Why would folder names change?

[2017-05-19 13:40] AeonLucid commented on #745
AppVeyor runs on a window machine, that's why the path was using `\`. You can read about the `@` symbol [here](https://msdn.microsoft.com/en-us/library/aa691090(v=vs.71).aspx). The tools available in AppVeyor can be found [here](https://www.appveyor.com/docs/build-environment/).

I'll have a go at fixing it too. 😅

[2017-05-19 13:43] RlndVt opened #1550 "Add ability to remove root folder e.g. from add move list"
**Description:**
When you add a movie at the path selection, you can add extra root folders, but you can not remove old ones.

(Sonarr has a small cross next to the paths for this.)

**Radarr Version:**
0.2.0.696

[2017-05-19 15:05] galli-leo commented on #1550
<img width="815" alt="screen shot 2017-05-19 at 17 04 33" src="https://cloud.githubusercontent.com/assets/5339762/26253941/450b723a-3cb5-11e7-8f49-c3e336f450d6.png">
We do have that as well?

[2017-05-19 15:05] #1550 closed

[2017-05-19 15:08] galli-leo commented on #1546
@janipewter If you want to have the quality of the current file in the folder name for example: {Movie Title} {Year} {Quality Full}. Here the folder name could change from e.g. My Movie 2016 WEB-DL 720p to My Movie 2016 Bluray 1080p when Radarr e.g. upgrades the file. However, this will only happen if the path of the movie is set to be dynamic (not static). Automatically Rename Folders auto rename

[2017-05-19 15:08] galli-leo commented on #1546
I want to add a wiki page describing all this in more detail, so leaving this open for that.

[2017-05-19 15:10] galli-leo commented on #1545
@Geezus42 Yeah we changed the way the osx app is structured which messed with the updater :(. You can either redownload the latest app package or update to the latest nightly build where we fixed auto updating for osx.

[2017-05-19 15:10] #1545 closed

[2017-05-19 15:12] galli-leo commented on #1549
Could you elaborate a bit more on what you mean with that. I don't quite understand what happened :/

[2017-05-19 15:13] galli-leo commented on #895
@lilbrimstone Have you verified Radarr knows about the file?

[2017-05-19 15:16] galli-leo commented on #1541
See https://github.com/Radarr/Radarr/wiki/Common-Problems#why-cant-radarr-see-my-files-on-a-remote-server for more info

[2017-05-19 15:17] galli-leo commented on #1544
@ginjohn5snaps This ^. Maybe also check if Radarr correctly identified the new file there (does it show up under the files tab?)

[2017-05-19 15:19] galli-leo commented on #1374
@bumperboy Have you tried running Radarr as admin once (after the change)?

[2017-05-19 15:20] galli-leo commented on #1282
@bobbintb Yeah sure. We definitely should pass those flags which we capture along to the script (There are now even some for other trackers or just general freeleech, etc.)

[2017-05-19 15:21] bumperboy commented on #1374
Noob here. How do you run Radarr as admin?

[2017-05-19 15:22] galli-leo commented on #1538
@warbrd Well that may explain it. Can you set permissions to windows equivalent of 777 and try again?

[2017-05-19 15:23] galli-leo commented on #1374
@bumperboy If you are running windows, right click -> run as administrator on the exe. If you are not on windows, something else is causing a problem.

[2017-05-19 15:23] galli-leo commented on #159
@francesco2013 Can you post an example release name / error of this issue? Without that we won't be able to help much.

[2017-05-19 15:26] bumperboy commented on #1374
Ok thanks. Going to check that later.

[2017-05-19 15:30] janipewter commented on #1546
Thank you, it makes sense to me now.

[2017-05-19 15:35] Geezus42 commented on #1545
I'm running Linux not OSX, though I understand there is some similarly with both being Unix-like. Do you consider the entire in-app update process the auto-updater? I don't have auto updates turned on, I go to task and click update.

[2017-05-19 15:43] galli-leo commented on #1545
@Geezus42 Well in that case, it's something different (since this issue is osx specific). Can you open a new Github issue for that?

[2017-05-19 15:56] Geezus42 commented on #1545
Yeah

[2017-05-19 16:00] Geezus42 opened #1551 "Unable to update on Linux."
I am on nightlies and unable to update past 0.2.0.705. In app update immediately fails. Could this be related to the mono 5 issues? I am running CentOS 7.3 to be specific.

[2017-05-19 16:02] galli-leo commented on #1551
Can you post the updater logs? (They are found under System -> Logs -> Updates)

[2017-05-19 16:07] bobbintb commented on #1282
Sweet, looking forward to it. Thanks.
:)

[2017-05-19 16:10] james-fry commented on #159
I'm seeing the same - this is my very 1st download with radarr having just installed today (docker on ubuntu, movies dir is a samba mount)
Message against the item in the activity log is:
_No files found are eligible for import in /mnt/scratch/sabnzbdplus/complete/movies/Rogue One 2016 1080p BluRay x264-SPARKS_

In the dir I have the following files:
htpc@ubuntutv:/mnt/scratch/sabnzbdplus/complete

[2017-05-19 16:19] Geezus42 commented on #1551
It isn't creating a new update log. This is what is in the standard log:

CommandExecutor	Error occurred while executing task ApplicationUpdate: Error: SecureChannelFailure (Object reference not set to an instance of an object)	11:17
HttpClient	Failed to get response from: https://ci.appveyor.com/api/buildjobs/cpof8qjqoobh2qnf/artifacts/Radarr.develop.0.2.0.711.linux.tar.gz Error: SecureChannelFai

[2017-05-19 16:19] fryfrog commented on #1551
If the update is trying to pull from an https address, it probably is the tls handler in mono 5. Have you added `MONO_TLS_PROVIDER=legacy` yet? Not sure what distribution you use, but you can do it via systemd or just on the command called.

https://www.reddit.com/r/sonarr/comments/6b3ifc/sonarrs_crashing_because_of_something_to_do_with/dhjnlf2/

[2017-05-19 16:21] Geezus42 commented on #1551
I tried adding that to the Systemd service file yesterday but it didn't seem to make a difference.

[2017-05-19 16:21] fryfrog commented on #1547
It *seems* like the right fix is to get tmdb and trakt to match imdb, is that feasible? There wasn't any real way to do that via edit on tmdb. :/

[2017-05-19 16:24] fryfrog commented on #1543
When you import, you should aim it at `\\leetbox\movies\2000s`. And in this directory should be a bunch of folders named after the movie like `Movie Title (Year)` and inside the directory should be the movie file, hopefully w/ quality in it like `Movie Title (Year)/Movie Title (Year) [1080p-Bluray].ext` so Radarr can get the quality right.

[2017-05-19 16:25] fryfrog commented on #1540
Or maybe lists w/o valid profiles should disable and show an error in System?

[2017-05-19 16:28] fryfrog commented on #1521
Do you have `libmediainfo` package installed? Can you pastebin an `mkvinfo` on the file?

[2017-05-19 16:48] sheepsskullcity commented on #1549
Transmission execute post processing script which create folder with correct name and move torrent data inside ( /media/download/radarr/Beauty and the Beast(2017)/ ). But import will never happen.

Here some log.

[code]

But if i move torrent data before DownloadCompletedEvent radarr parser will check parent folder name of downloaded file, import it to library and clear Transmission history.

[2017-05-19 17:07] jdchandler commented on #1543
It looks like my problem then is that Radarr expects each movie to be in its own folder?

Where I have everything organized by decade folder, and have each movie file beneath it, in bulk.

Does this REALLY have to have this directory structure?
I don't maintain multiple quality video files (as Plex can maintain that for me, but don't really use that feature often anyway).

I find it redundant to p

[2017-05-19 17:17] RlndVt commented on #1550
I meant in the pop-down menu where, when adding a movie, you choose where the movie needs to be saved to.

Good to know you can do it there though, thanks!

[2017-05-19 17:35] MikeBlom commented on #1196
I had this issue in Chrome. Resetting the cookies fixed this.

[2017-05-19 19:30] james-fry commented on #159
Actually radarr did copy the file eventually, but the error message is still shown in the UI

[2017-05-19 20:45] fryfrog commented on #1551
Do your indexers work? Are any of them https? If they aren't, make one https and see if it works. Until you get the above working, https won't work. How did you add it to the systemd unit file? As an override? Directly in the file? Did you `systemctl daemon-reload` and then `systemctl restart radarr`?

[2017-05-19 20:47] fryfrog commented on #1533
That setting is client side, so when you save it... it kicks in. When you update, your local cache will get flushed and you'll have to do it again. :/

[2017-05-19 20:49] fryfrog commented on #1487
Where they maybe in the Wanted -> Cutoff Unmet?

[2017-05-19 21:42] Geezus42 commented on #1551
I added it directly to the file, did the reload and then stopped and started Radarr.

[2017-05-19 21:47] theebanka commented on #1545
@galli-leo So i swapped over to the nightly build and was able to update no problem (Thank you) so now if I switch back to the Develop branch will I be able to download the most recent? or do I need to stay on nightly for a little while?

[2017-05-19 22:48] galli-leo commented on #1545
@theebanka Well the nightly is the most recent. And no you won't be able to download the latest develop update, since it's considered to be a downgrade to the current version. I would advise to set it back and wait on the latest develop release.

[2017-05-19 22:53] galli-leo commented on #1547
@fryfrog Yes and no. IIRC you said that the Australia release date was in 2016? We should improve the logic which handles which date we pick for the cinemas release date.

[2017-05-19 22:54] galli-leo commented on #1550
@RlndVt Yeah, but Sonarr doesn't have one there either. I want to add root folders to one of the settings pages anyways, so that should help with that.

[2017-05-19 22:55] galli-leo commented on #1540
@fryfrog That may also be an option. Or just prevent profiles that are set for a list to be deleted (How it's done for series in sonarr.

[2017-05-19 22:58] RlndVt commented on #1550
👍

On 20 May 2017 00:54, "Leonardo Galli" <notifications@github.com> wrote:

[2017-05-19 23:38] gregcbrown commented on #1533
Not sure what this comment is supposed to mean, it's an issue. I don't have this issue with SONARR...

[2017-05-20 00:58] Geezus42 commented on #1551
I tried that fix again and this time it worked. Idk what I did different. Is that something that is going to get changed to use the new method in a future update?

[2017-05-20 03:05] GenericPolarBear commented on #1522
I deleted my old cache, along with all history of Radarr, and all cookies. This seems to have solved the issues for now. But I do wonder what caused it in the first place.

[2017-05-20 03:06] GenericPolarBear commented on #1196
What @MikeBlom did also worked for me.

[2017-05-20 06:14] gamesbe opened #1552 "DTS-HD, TrueHD as final download"
Hey everyone, hoping someone can help me out here (Or if it doesn't exist, a feature request)

Basically I have it set on two qualitys, web-dl and 1080p bluray as the cutoff. It works great other than I love having my movies with DTS-HD, TrueHD codecs.

I have tried using preferred tags but if the standard 1080p version with just DTS is available, it will get snatched and it ignores the future DTS

[2017-05-20 10:18] galli-leo commented on #1552
Currently the only way to do this is with preferred tags and a delay profile. (See https://github.com/Sonarr/Sonarr/wiki/Delay-Profiles for more details). With delay profiles, Radarr will keep waiting x amount of minutes for a release with your preferred tags to appear. So you could wait say another 4-5 hours for them to appear. However, a feature to require preferred tags for the cutoff to be met

[2017-05-20 10:19] galli-leo commented on #1551
@Geezus42 I don't think we can change that for ourselves. I will have to investigate this some more.

[2017-05-20 10:21] galli-leo commented on #1533
@gregcbrown Sonarr also doesn't have paging. Are you on the nightly branch?

[2017-05-20 10:23] galli-leo commented on #159
@james-fry Hmm. Can you make sure the copied file are one and the same? (md5 or something). Also can you go to that movie in Radarr and see if the file shows up under the files tab?

[2017-05-20 10:31] galli-leo commented on #1549
Yeah seems like transmission does not give us the folder name after the script executed but only the filename. (Which is obfuscated, so of course Radarr cannot parse it) I don't think there's much we can do here.

[2017-05-20 11:32] fsign commented on #1547
Well its finding releases in search, but you get the error message "Unknown movie. Movie found does not match wanted movie." instead of the button that forces the download. If it were just able to be forced, it would solve the problem.

[2017-05-20 12:00] gregcbrown commented on #1533
No, I am on develop.

[2017-05-20 12:42] sheepsskullcity commented on #1549
Is there any way to get hash for grabbed torrent except api/history because it's give me "unauthorized access" error with all paging an token parameters?

[2017-05-20 13:59] theebanka commented on #1545
Okay thanks!

[2017-05-20 14:02] galli-leo commented on #1547
@fsign If you were to download the movie, Radarr would just have problems at the import, because it still cannot match it. That's why downloading is disabled for these movies. However, someone fixed the date on this movie, so it should be good to go now.

[2017-05-20 14:14] SP3NGL3R commented on #353
This is the only thing currently in Radarr that's frustrating me :( ... +1 for sure.

[2017-05-20 15:26] tusharbhutt opened #1553 "Issue: When movies are filtered, sorting by download reverts to all movies showing"
Whenever I filter movies to show just the monitored ones, and then sort by downloaded quality, Radarr reverts to showing all movies.  The filter for showing monitored, missing, or announced, et cetera no longer functions in Firefox until I quit.  The logs do not show any activity regarding this, and this action is repeatable in both Firefox and MS Edge.

Radarr Ver. 0.2.0.712 nightly build

[2017-05-20 15:52] adamgoldberg commented on #376
I have the same problem.

Interestingly, "remove spaces" is NOT in the Advanced Settings.  I wonder if that might have something to do with it (the remove spaces option is not part of the advanced options, and only the advanced options are saved [under some conditions??])

[2017-05-20 16:01] adamgoldberg commented on #376
Ok, I don't know WTF I'm doing, but::
/src/NzbDrone.Api/Config/MediaManagementConfigResource.cs

makes mention of the "advanced options", but does NOT make mention of anything to do with "remove spaces."  Is something missing in this file?

[2017-05-20 16:16] galli-leo commented on #376
@adamgoldberg These settings are client side and I finally found out why they aren't saving. We actually never implemented the non advanced options 😬

[2017-05-20 16:22] galli-leo commented on #1533
@gregcbrown In that case we should not clear out the paging parameters. I will have to investigate this further.

[2017-05-20 16:44] adamgoldberg commented on #376
Ha.  Well, I hope I helped.

[2017-05-20 17:02] AnoNunga opened #1554 "Offer To Add Sequels To Wanted List"
**Description:**
When using TMDB's [get movie details](https://developers.themoviedb.org/3/movies/get-movie-details) method, check the **belongs_to_collection** field and if the movie does belong to a collection, call the [collection details](https://developers.themoviedb.org/3/collections/get-collection-details) to get the other films from the collection. Add any IDs that are not already in Radar

[2017-05-20 18:31] sheepsskullcity commented on #1549
So i stopped on Drone Factory folder + Radarr On Grab scripts method.

[code]

[code]

[2017-05-20 19:48] yigit007 opened #1555 "UI not loading, database possibly corrupt"
I had a few movies in my library before installing Radarr, and I imported all of them. Then, I was able to download a couple of movies without any issues concerning the database. As of today, I was no longer able to access the web UI, with only the grey dancing dots. Debugging with Chrome showed that there was an SQLite exception. There are similar problems in the issues, but none of those have a

[2017-05-20 19:58] fletchto99 commented on #1547
Perhaps it would be possible to add a force manual download button for issues like this?

[2017-05-20 20:28] james-fry commented on #159
Hi Leo.
I checked and the movie is showing in the movies tab as downloaded - all looks good.
I didnt go as far as using md5, but from file size compare it looks like the files were copied to movies dir correctly + (new) metadata added:
-rwxrwxr-x   1 htpc dialout     2101179 May 19 17:53 Rogue One A Star Wars Story-fanart.jpg
-rwxrwxr-x   1 htpc dialout      247921 Mar 19 15:08 Rogue One A Star Wa

[2017-05-20 20:30] galli-leo commented on #1547
@fletchto99 See my above comment. That wouldn't work as Radarr couldn't import it anyways afterwards. I am thinking of adding a better system, so Radarr remembers bad matches and thus should be able import it.

[2017-05-20 20:32] galli-leo commented on #1555
There should be a backup of the database in the AppData directory (https://github.com/Radarr/Radarr/wiki/AppData-Directory) Can you try restoring that? If that does not work, can you try opening the file in a sqlite editor (like sqlitebrowser.org)?

[2017-05-20 20:37] galli-leo commented on #1554
I think a big part of this is covered in the new discovery feature. It will automatically recommend you films based on others you have in your library. (e.g. If you have a lot of bourne and james bond films, it will probably recommend you more bourne and james bond films along with mission impossible, etc.). However, we also want to add collections as a whole to Radarr. This would allow a user (si

[2017-05-20 20:37] #1554 closed

[2017-05-20 21:44] yigit007 commented on #1555
I have backed up the AppData directory, and removed the whole .config folder from /home/radarr. But, weirdly, I am still not able to get past the grey load screen, with the same error. Is there any other leftover files that might have caused this issue? I even reinstalled the release from scratch, but the issue remains.

[2017-05-20 21:53] yigit007 commented on #1555
I think the previous issue was due to my Chrome. Clearing site information from the console has let me through the initial page.

[2017-05-20 22:08] #1555 closed

[2017-05-20 22:30] brenosabino opened #1556 "Unable to communicate with Transmission"
I'm getting this error on both Radarr and Sonarr after installing Radarr on my Ubuntu 16.04 server (didnt check but I belive mono was not updated to 5.0 before that).

Unable to communicate with Transmission. Cannot access a disposed object. Object name: 'System.Net.Sockets.NetworkStream'.

Log:
[code]

[2017-05-21 00:28] jdchandler commented on #1543
Is there anyway to customize the path Radarr expects?

Look for direct movie filenames rather than a parent folder?

[2017-05-21 01:33] ghanjaemu commented on #1543
No, each movie has to have its own root directory.  This is standard "release group convention" anyway.  The answer is in the Wiki as well as the solution.

[2017-05-21 04:23] tusharbhutt commented on #1553
Fair enough. However, the wanted tab only shows missing movies, not movies that exist but need to be upgraded. At least there was an issue already open for it :)

[2017-05-21 07:30] bizen-ya opened #1557 "Add customisable field for categories"
Van you allow a new box in indexer settings ( i use Torznab with Hackett ) to specify the category list ?

I simply want to download animes asweel as movies ( catégories 2000 and 100455

[2017-05-21 08:08] galli-leo commented on #1543
We plan to change that, though it's not very easy as we are a fork of Sonarr.

[2017-05-21 08:08] galli-leo commented on #1557
You can already do that. Just turn on show advanced settings :)

[2017-05-21 08:08] #1557 closed

[2017-05-21 08:17] bizen-ya commented on #1557
Oh ! Really sorry

[2017-05-21 12:28] sstretchh commented on #1336
I am having the same problem. I have an AVI file and it radarr shows the file as missing

[2017-05-21 15:22] Hossy commented on #229
I agree with @kieranlee1970.  I'm using sonarr and radarr and with "recent" set to high, all movie downloads get priority over sonarr.  Recent movies should definitely be prioritized over non-recent like @fryfrog suggested.  Not just for usenet, but torrent age/seed availability too.

[2017-05-21 16:06] galli-leo commented on #353
This is actually in the latest release.

[2017-05-21 16:06] #353 closed

[2017-05-21 16:10] #376 closed

[2017-05-21 16:11] galli-leo commented on #1553
@tusharbhutt It does show exactly that under Wanted -> Cutoff Unmet :)

[2017-05-21 18:26] colemanfuel commented on #1551
Adding "Environment=MONO_TLS_PROVIDER=legacy" to my radarr.service file fixed this issue for me on CentOS 7.