[2017-03-29 13:53] onedr0p commented on #853
@chromerobv what are the full movie filenames for the movies not found?

[2017-03-29 14:23] zero77 opened #1286 "[Request] Automatic Search"
Can you please add the option for automatic searches on selected films, where you can enable automatic searching on selected films to search every set number of hours.
So that once a film is available in the desired quality it is automatically downloaded because, it doesn’t always show up in the RSS feed when it’s available in the desired quality.
Thanks

[2017-03-29 14:38] onedr0p commented on #1286
This is a duplicate issue and also on feathub.

[2017-03-29 14:38] #1286 closed

[2017-03-29 15:02] kappaknight opened #1287 "[Feature Request] Fix incorrect matches on existing collection"
**Description:**

I'm having Radarr scan my current selection so it can figure out which ones are okay to leave, vs. ones it should find better versions of. However, when a film is incorrectly matched, there's no way to "fix" it in the system.

It'd be nice to be able to fix an incorrect match; something like what Plex offers.

**Radarr Version:**

**Logs:**

Please use the search bar and make sur

[2017-03-29 15:25] galli-leo commented on #1285
Fixed on latest nightly version.

[2017-03-29 15:31] zero77 opened #1288 "[Request] Indexers https://zooqle.com and https://torrentz2.eu"
Can you please add support for these two sites as indexes https://zooqle.com and https://torrentz2.eu I have been unable to add them with RSS or the other provided methods.
Thanks

[2017-03-29 16:24] fryfrog commented on #1288
Install and use Jackett instead. If they don't support these already, make this request to them. Jackett does a great job of interfacing with torrent indexers and providing a torznab interface to them for Sonarr/Radarr (or anything else) to use.

[2017-03-29 16:26] darknessgp commented on #1283
I'll address the first issue that seems to appear, the way cutoff works is it is the minimum quality (lowest on that list) that must be obtained before Radarr stops grabbing. So, in your setup, if it grabs a blu-ray 720p, it'll keep downloading.  It won't stop until it gets that WEBDL-1080p.

The second issue, under those selected qualities, Radarr should not have grabbed a blu-ray 1080p or a Remu

[2017-03-29 16:26] fryfrog commented on #1287
Make your feature request at http://feathub.com/Radarr/Radarr so it can be voted on.

[2017-03-29 16:30] Quiksmage commented on #284
where is the "custom script in the connection settings" in radarr?

Or am I misreading what you said there? It seemed like your message implied to handle it in the torrent client or somewhere else.

What or where is this "custom script in the connection settings" if not in the torrent client?

Thanks!

[2017-03-29 16:45] fryfrog commented on #1273
I don't have my profiles from the install anymore, but I agree with @majora2007. I think Bluray 720p is the cutoff for the HD720p profile, so the behavior you're describing sounds correct.

Can you screenshot your HD720p profile and add it here?

[2017-03-29 16:49] Jleagle commented on #1273
My cutoff is indeed Bluray-720 - Does that mean it will stay in ‘cutoff unmet’ until it reach this quality.

I was thinking any of the qualities ticked in the profile would be acceptable.

[2017-03-29 16:51] fryfrog commented on #1273
Yup, that is how cutoff works. You set it to the quality you want to stop looking at. If you have ones defined above it, they'll be fetched in a search or if they show up in rss.

https://cdn.discordapp.com/attachments/264388019585286144/296687510786932739/unknown.png

[2017-03-29 16:55] fryfrog commented on #1273
The qualities ticked in the profile are *all* acceptable, but the one defined in the cutoff drop down is what is considered good enough to stop upgrading. So if you're okay w/ HDTV and/or WEBDL, just set your cutoff to the lowest one and leave the other ticked. If needed, you'll grab any of them, but once it has one, it'll stop.

[2017-03-29 17:00] fryfrog commented on #1276
Make this in http://feathub.com/Radarr/Radarr :)

[2017-03-29 17:23] adamgot commented on #1141
I'm running into this error in the latest nightly (0.2.0.571) with the Net Import Sync task :

[code]

[2017-03-29 17:30] #1273 closed

[2017-03-29 17:53] fonzie24 commented on #494
Definitely would be a nice addition.  I also agree with jscottdouglas that having a bulk trailer grab for preexisting movies would be great.  That would allow some of our older movies with low-quality trailers to get an upgrade

[2017-03-29 18:28] bobbintb commented on #1288
Cardigann is another option.

[2017-03-29 19:42] onedr0p commented on #494
You guys can use other tools like https://www.tinymediamanager.org/ and others until then. Maybe we don't even need this functionality in Radarr since other tools can do this for you.

[2017-03-29 19:53] onedr0p commented on #284
![image](https://cloud.githubusercontent.com/assets/213795/24473586/c8e31b62-1497-11e7-895f-ceec13d7f2e2.png)

[2017-03-29 19:58] onedr0p commented on #1285
@galli-leo I believe this problem is still happening. Occured for me yesterday with Beauty and the Beast. I think we need to move up the logic that is search by imdbid and also pass the year to a overloaded `FindByImdbId(imdbId, year)` method.

[2017-03-29 22:15] Quiksmage commented on #284
Thanks for pointing that out for me :)

On Mar 29, 2017 12:53 PM, "Devin Buhl" <notifications@github.com> wrote:

[2017-03-29 23:54] fryfrog commented on #1288
Did Radarr start supporting Cardigann? I think there was an issue w/ supporting it that they needed to resolve and I haven't seen anything since.

[2017-03-30 00:22] bobbintb commented on #1282
As a side note, this bug actually improved my script. Previously, I was connecting to the PTP API and parsing the JSON to see if the grab was golden popcorn, since that information is not retained in Radarr and passed to the custom post processing script. However, once I noticed this bug, I simply just had to see if that character was in the variable to determine if it was golden popcorn or not. S

[2017-03-30 00:28] bobbintb commented on #1288
I'm not aware. I use Cardigann with Sonarr but have not used it with Radarr. Just giving you more options.

Also, why did @onedr0p thumbs down that comment? Unnecessarily rude.

[2017-03-30 02:39] onedr0p commented on #1288
Cardigann isn't being actively developed anymore, it doesn't support Radarr.

[2017-03-30 02:52] bobbintb commented on #1288
Oh ok. Thanks for the clarification. Sorry if I offended. Intent is hard to convey.

Somehow I was under the impression the opposite was true. I thought Jackett was no linger being developed and someone forked it to Cardigann. I'll have to look at that. I don't need either for Radarr but as I mentioned I use Cardigann for Sonarr for one particular tracker. I had issues with the Jackett docker, whi

[2017-03-30 03:18] onedr0p commented on #1288
Cardigann is only getting definition updates, the core app isn't getting much love.

[2017-03-30 06:29] Grimeton commented on #1285
Yeah or at least check the year in the filename. The file looks like Beauty.and.the.Beast.encoding.quality.fuzz.1991.[mp4|nzb] and is considered anyway.

[2017-03-30 08:35] galli-leo commented on #1285
@Grimeton we are doing that on the latest nightly.

[2017-03-30 09:09] tsubus opened #1289 "Cannot parse "2in1" titles"
"2in1" movies (movies with alternative endings that include both) cannot be parsed, for example a movie title could be: Gladiator 2000 2in1 1080p BluRay DD5.1 x264-RlsGrp

The issue is that the parser does not like anything that starts with a number after the year. I have resolved by changing the line below, but I am not sure this is not going to break something else, so I won't push it as a pull

[2017-03-30 12:34] zero77 commented on #1288
So to clarify, the only way to use other torrent Search engines other than with RSS is to install another third party app.

Also, is there any plans to change this, maybe by using the torrent Search engines URL as this should work for most if not all for example, https://torrentz2.eu/search?f=[Search input] and https://zooqle.com/search?q=[Search input]

[2017-03-30 13:40] onedr0p commented on #1288
@zero77 you may think it's that simple, but we will need to continue support for those indexers and it's not something I am thrilled about upkeeping since Jackett does all that for us.

[2017-03-30 14:39] aswieton opened #1290 "Radarr don't detect movie files"
**Description:**
Radarr don't detect movie files without year in (). For example: 'Movie Title.mkv' it's doesn't detected but when I change filename to: 'Movie Title (2016).mkv radarr detects this file.

Check first that your problem is not listed in our wiki section:
* https://github.com/Radarr/Radarr/wiki/Common-Problems
* https://github.com/Radarr/Radarr/wiki/FAQ

Provide a description of the f

[2017-03-30 14:41] galli-leo commented on #1290
This is intentional. There are a number of issues already open on this discussing why, but the gist of it is, that without a year, we cannot certainly decide which movie it is. Beauty and the Beast for example has multiple versions, in 2014, 2017 and one in 1980 something.

[2017-03-30 14:41] #1290 closed

[2017-03-30 14:47] aswieton commented on #1290
Ok but when I add existing movie to the library I can manualy decide witch version of the movie it is. So from my point of view (maybay I'm wrong) it is better detect file and manualy assign good movie version from few propositions then not detect file at all.

[2017-03-30 14:50] galli-leo commented on #1290
I agree, though Radarr should recognize the movie file if you have the year in the folder name. Also it's a good idea to add the year to all your movie files, since it will be easier for other applications or yourself to identify the movie.

[2017-03-30 22:01] lobianco opened #1291 "Movies not appearing in list but do exist"
**Description:**

First off, Radarr is awesome and I'm super appreciative of all the work put into it!

Today, all of a sudden, my movies stopped appearing in the home page list. But they do exist (as you can tell by the footer stats) and I can still navigate directly to individual movie pages. The only change I made surrounding the event was an update to the movie folder syntax in Settings.

Scre

[2017-03-31 01:32] chromerobv commented on #853
a couple examples that are from the above image
Animal House/Animal House.mkv
Anomalisa/Anomalisa.mkv

that's pretty much how all my movies are.

[2017-03-31 01:34] jscottdouglas commented on #1285
I am on the latest nightly and have the same issue.

[2017-03-31 02:51] 19wolf commented on #1219
I'm also having this problem

[2017-03-31 02:55] onedr0p commented on #853
Try adding year to at least the folder, if not.. the folder and filename.

[2017-03-31 02:56] akizzle opened #1292 "[Feature Request] Replace normal versions of movies with Unrated or Extended versions when released."

[2017-03-31 03:39] weirdcrap commented on #1292
This would have to be a toggle-able option. Not everyone wants the release they have replaced with a different edition.

[2017-03-31 03:41] KruyKaze opened #1293 "[Feature Request] Use movie poster in notification instead of Radarr logo"
I am referring to push notifications through Join ( the service I use) and Pushbullet etc... Is that possible?
Thank you.

[2017-03-31 03:46] akizzle commented on #1292
I agree or it could be implemented in a profile.

[2017-03-31 05:21] sickboy2137 commented on #1292
I'd like the option to keep multiple versions of some movies, if possible.

[2017-03-31 05:37] vexersa commented on #376
Same issue here.

[2017-03-31 05:58] theCheek commented on #1291
@lobianco could you post a screenshot of the movie folder syntax that you made?

[2017-03-31 06:43] 4getit opened #1294 "2 list import bugs"
Heya,

I ran into 2 issues when importing lists:

1: The list import for the StevenLu format is broken.

2: When importing lists, it often happens that Tmdb returns a 404. When looking up the item number on the Tmdb site, it says 'Oops, we can't find the page... etc.' but the slug in the Url shows that the ID is know.

Try for example: https://www.themoviedb.org/movie/310149

The list import itsel

[2017-03-31 06:54] mikey2p22 opened #1295 "Movie already added but not accessible"
I saw, that there was already an issue and this should be solved in the nightly branch.
(Bug: Radarr says movie already added but not searchable via search bar #1136)

I reopened this issue because I am on the nightly branch but I have some movies that still have this bug.
When I search the movie in the app (Sonarrlink for android) the Movie appears.

Can't add Movie because it already exists:
![i

[2017-03-31 08:41] Nyghto commented on #673
Still, the minimum imdb votes required from CouchPotato was very very useful, and would really like to see this filter option added to all list sources. New movies tend to have high ratings so chance is bigger 'crap' movies get on wanted list. Seeing this now with Radarr and havent found a way yet to work around it.

[2017-03-31 11:46] simkin commented on #694
Same here on Latest Debian. Radar user is owner of folders/files but none are deleted

[2017-03-31 14:49] Mushin opened #1296 "[Feature Request] Bulk import search subfolders"
**Description:**

I currently have my movies organised by year, e.g. \Movies\2016\Arrival (2016)\

When I try to use the bulk importer to add my movies to Radarr, it only works if I add the year folder, not the main Movies folder.

Would it be possible to make the bulk importer search subfolders?

**Radarr Version:** 0.2.0.535

[2017-03-31 15:02] adgoudsmit commented on #1197
For me it does not even load on my Iphone 6S. So i see all the data is loaded, but the UI is never drawn. So i'm unable to change the configuration for my phone. Is it possible to just have the default "1000" to be changed to for example
"25"?

[2017-03-31 15:57] havanahjoe commented on #557
Just had this problem with "A Monster Calls" TMDB ID 258230. File downloaded was "Monster Calls" so I renamed the nzbget download to include the A and it worked. I added the alternate title to TMDB.

A manual match option would be nice

[2017-03-31 15:58] dVIAN13 opened #1297 "after RSS/Indexer Sync, Radarr does not download available title"
Description:

I have added a title as monitored, and after adding, it shows missing, but available. My understanding was that after the rss/indexer search, if the title was available, it would automatically download the title.

After adding the title, I clicked on RSS sync, and it does not automatically download the title. If i look at the manual search, it shows as being available to download. If

[2017-03-31 16:51] darzur opened #1298 "[Feature request] Allow hiding of deleted movies."
Please allow hiding movies that were downloaded and then deleted. Now such movies have "Not monitored" status but there is no way of removing them from main movies screen.

[2017-03-31 18:04] DaLuke opened #1299 "Keep seeding after moving a movie."
I can't find something on the site or in the issues. But after moving a movie, the movie keeps seeding for like 24 hours but after this the local data seems to be missing.

How is Radarr handling the move? Does it make it possible to keep seeding the torrent until the required seed ratio is met or does it delete the torrent completely after moving the movie?

Sorry, not really a bug I know, it's m

[2017-03-31 20:29] fent commented on #1299
Use the hardlink option.

[2017-03-31 21:44] seanvree commented on #557
This is happening with EVERY download for me now.  Happens with Jackett and NZBHydra.  It NEVER shows the status of the download.

However, after it finishes from the downloader, it WILL import it.

Weird.

[2017-03-31 23:52] phynias commented on #853
i will but not sure why the year is needed to find a file. the imdb is already found from the above image. so finding a file shouldn't need a year. i could see this being needed if it was being identified wrong. not to mention if this is the case, i have no desire to redo all my movie folders/files. it would screw up so many other things.

[2017-04-01 06:37] theCheek commented on #1299
The default should be as @fent suggested above, found it Settings - Media Management under Importing section - 'Use Hardlinks instead of copy'. If this is switched on and not working for you, then please describe your platform/setup.
An alternative is to use the reverse symlinking script, as detailed at the bottom of this page https://github.com/Radarr/Radarr/wiki/Custom-Post-Processing-Scripts

[2017-04-01 09:44] Snookieboy opened #1300 "NZBGet - Get added to the Queue twice."
Running latest build of Radarrr on Mac OSX

Version
0.2.0.535
Mono Version
4.2.1 (explicit/6dd2d0d Tue Nov 10 18:01:18 EST 2015)

Using Downloader NZBGet connected.

When it goes to add an NZB to it, it always adds every movie twice regardless of source.

Example in log:

17-4-1 09:19:19.1|Info|Nzbget|Adding report [Movie.2009.1080p.BluRay.DTS-ES.x264] to the queue.
17-4-1 09:19:19.6|Info|Nzbget|A

[2017-04-01 10:20] DaLuke commented on #1299
It seems to work with the 'Use Hardlinks instead of copy' but doesn't Radarr leave the entire file in the download folder? And then after the ratio is met he delete's the entire file from the download folder?

It would be a nice setup if he moves the downloaded movie and adjusts the Torrent client so it states the movie has been moved. Because my download Folder is limited in space I always try to

[2017-04-01 10:24] theCheek commented on #1299
A hard link is a reference to the actual data of the file, so when a downloaded file is hard linked you can access the data from the new location without taking up extra space. Therefore you can tell your download client to remove the torrent (with data) and have no affect on the new location.

[2017-04-01 10:52] galli-leo commented on #1299
As theCheek explained Hardlink does exactly what you need. You can keep seeding, but no extra space is taken up.

[2017-04-01 10:52] #1299 closed

[2017-04-01 10:52] galli-leo commented on #1300
Known issue. Partially fixed on the latest nightly.

[2017-04-01 10:52] #1300 closed

[2017-04-01 10:54] galli-leo commented on #1298
Just filter by monitored?

[2017-04-01 10:55] galli-leo commented on #1296
There is an issue open for this already. We will not support such folder structures in the near futures, since it will require a rewrite of a lot of code.

[2017-04-01 10:55] #1296 closed

[2017-04-01 10:55] galli-leo commented on #694
Yeah, I know, code for deleting files is not implemented yet.

[2017-04-01 10:56] galli-leo commented on #1295
Can you restart Radarr?

[2017-04-01 10:59] galli-leo commented on #1291
@lobianco Did you filter by something where the movies where not included (e.g. filtered by monitored?)

[2017-04-01 11:02] darzur commented on #1298
Then see all monitored regardless if downloaded or not. My goal is to see missing (never downloaded) only.

[2017-04-01 11:43] galli-leo commented on #1298
IIRC there's a filter for that too.

[2017-04-01 11:43] galli-leo commented on #376
@vexersa Can you try and set a page size under Settings -> UI?

[2017-04-01 12:13] zero77 commented on #1288
Well if you think that jacket is a good option then, Is there any way that you could look at integrating Jackett.

[2017-04-01 12:39] vexersa commented on #376
Soted it out. Some sort of issue with Chrome. I was able to save
successfully in Edge....

On 1 April 2017 at 13:43, Leonardo Galli <notifications@github.com> wrote:

[2017-04-01 12:51] darzur commented on #1298
No, there isn't. Or at least have no idea how to enable it.

[2017-04-01 13:24] galli-leo commented on #1298
<img width="258" alt="Missing Only" src="https://cloud.githubusercontent.com/assets/5339762/24579118/3cb11798-16ef-11e7-9b62-bcbfcef4160e.png">
Did you try this one?

[2017-04-01 13:24] galli-leo commented on #376
@vexersa Gotcha. Works fine for me though on Chrome. Strange.

[2017-04-01 13:26] galli-leo commented on #1288
@zero77 Not sure what you mean exactly? Just add those indexers in Jackett and then add a Torznab indexer pointing to Jackett within Radarr.

[2017-04-01 13:27] galli-leo commented on #1219
The problem here is that we only get the IMDb Id after we already have created the folder. We have a branch working where folders are renamed, but need to test it some more before it can be merged.

[2017-04-01 13:27] #1219 closed

[2017-04-01 13:28] darzur commented on #1298
That is the setting I was referring to. It shows all missing movies including those deleted and therefore not monitored. I'd like to see here only those not yet downloaded.

[2017-04-01 16:46] geogolem commented on #1298
a feature like this was requested in the past: http://feathub.com/Radarr/Radarr/+56

The issue is, you want "Monitored & Missing"....  I believe you can filter by this currently by going to "Wanted --> Missing" and Filtering by Monitored....

but I get what you mean.

[2017-04-01 17:17] 4getit commented on #1298
This works with the second button from the left 'Monitored Only'. Not the 3rd.
When a movie is downloaded and then deleted (and you have the 'Ignore Deleted Movies' option turned on), they're not there anymore after the next disk scan.
After the disk scan, Radarr sees that the movie is no longer there and flips it from the download status to 'Not Monitored'.

[2017-04-01 17:23] 4getit commented on #1294
Thank you! :)

[2017-04-01 17:31] 4getit commented on #1261
IMDb rss feeds only contain 250 entries. Try to load them manually so you can see what the issue is.
CP parses the IMDb webpages. Radarr doesn't.

[2017-04-01 17:35] 4getit commented on #1297
Does the RSS feed actually contain the movie?
RSS feeds normally show you the latest additions of whatever indexer or site. I think you want a 'search'.
If you want a full sweep search of everything you have monitored, go to the Wanted tab and select 'Search All'.

[2017-04-01 18:13] darzur commented on #1298
Still not what I want. "Monitored only" shows all monitored movies whether they were downloaded or not. I want to see only missing movies and by that I mean movies that were never downloaded.

@geogolem what do you mean by "going to "Wanted --> Missing" and Filtering by Monitored...."?

[2017-04-01 18:16] 4getit commented on #1298
No they don't.
If you have the 'Ignore Deleted Movies' option turned on in Settings -> Media Management, all downloaded movies will change to Not Monitored once removed from disk.
I think that is what you asked in your initial question.

[2017-04-01 18:17] geogolem commented on #1298
![image](https://cloud.githubusercontent.com/assets/23205277/24581247/e25b42f4-16e5-11e7-81da-c8dab162d82e.png)

[2017-04-01 18:19] geogolem commented on #1298
@4getit: The monitored status does change... but if you filter by "Monitored only" You will see all monitored movies regardless of if they have been downloaded or not, downloaded and deleted or not..

@darzur wants to be able to see only movies that are monitored and missing, that werent previously downloaded and subsequently deleted... I believe the only way to accomplish this currently is via th

[2017-04-01 18:25] 4getit commented on #1298
I guess I'm confused.
His original question says that his deleted movies show as 'Not Monitored'. So it seems he has 'Ignore Deleted Movies' turned on.
He wants to hide those. The second button does that.

[2017-04-01 18:26] darzur commented on #1298
Now I feel completely stupid. I meant "Movie" tab and didn't even noticed "Wanted" tab. It looks like it is what I was looking for so this request can be closed.

@4getit you're right - I have  'Ignore Deleted Movies' turned on. In my ignorance just didn't noticed "Wanted" tab. Sorry for that.

[2017-04-01 18:28] geogolem commented on #1298
@4getit : yes -- According to his original post --> its not as clear. By the 7th post in this thread it is more clear --> he wants to be able to filter "Missing Only" but excluding any movies that were previously downloaded.

Using the "Ignore Deleted Movies"option marks those deleted movies as "Not Monitored" .... but, even after enabling that he would still need to use a filter "Missing and Moni

[2017-04-01 18:29] geogolem commented on #1298
Great -- I'll close this issue --> If more discussion is required about making the filters more flexible we can refer to: http://feathub.com/Radarr/Radarr/+56

[2017-04-01 18:29] #1298 closed

[2017-04-01 18:45] cody00 commented on #1291
Same exact issue.  None of the movies are showing although are there and showing in stats

[2017-04-01 20:31] evenwebb commented on #934
Ive been getting exactly the same issue for months, tested again today and still getting the same error as @madmanali93. Running the latest version.

@madmanali93 Did you get yours working?

[2017-04-01 22:04] JamzTheMan opened #1301 "Movies results incorrect, "Downloaded" header un-filters results"
In the Movies view, when you have Missing filter clicked, and then you click the "Downloaded" header to filter, it shows ALL movies again. Clicking on other sort headers correctly filters the results again.

--Sort by Downloaded
![image](https://cloud.githubusercontent.com/assets/8051654/24582782/f0e730be-16fc-11e7-97a5-ee1e1c306956.png)

vs

--Sort by Date
![image](https://cloud.githubusercontent

[2017-04-02 05:37] bobbintb commented on #1292
One problem I see with this is movie databases don't yet support this. TMDB is supposed to be adding support later this year but it might be difficult until then. Just my 2 cents.

[2017-04-02 05:50] bobbintb opened #1302 "Downloading scene instead of non-scene when set to not prefer scene."
I expected there to already be an issue on this but I did not find one. Forgive me if I overlooked.

I have my indexer set to prefer golden and not prefer scene. The torrent I downloaded does not have a golden popcorn but it does have a scene and a non-scene, non-golden popcorn. I would expect it to download the non-scene file but it downloaded scene instead. Anyone else having the issue?

Radarr

[2017-04-02 10:02] galli-leo commented on #1302
Did the scene release have a higher quality?

[2017-04-02 10:11] galli-leo commented on #1292
@bobbintb Oh they are adding support for Director's cut etc.? Do you have a link to that?

[2017-04-02 10:11] galli-leo commented on #1301
Yeah this is a limitation of the current UI. We can't currently have two filters at once.

[2017-04-02 10:11] #1301 closed

[2017-04-02 11:01] galli-leo commented on #1289
Sadly just adding 2in1 won't really help. I will have to rework the regex once I have more time to do so.

[2017-04-02 12:32] jOOc commented on #1292
I have not seen any updates for TMDB adding this, the ticket is very old and looks like very low prioritized.

https://tmdb.lighthouseapp.com/projects/83076/tickets/470-Support-multiple-versions-of-a-movie-cuts-anniversary-editions-3D

[2017-04-02 18:04] bobbintb commented on #1302
I forgot to mention, no. They were the same quality as far as Radar is concerned: Bluray-1080p. Now that you mention it though, the scene release was a repack, so that is likely the reason. I'm not sure if that is intentional or not. I really only want scene if there is nothing else available, repack or no.

[2017-04-02 18:28] Megagator commented on #1185
Once again chokes on a colon:
![screen shot 2017-04-02 at 14 26 40](https://cloud.githubusercontent.com/assets/6308213/24589889/7379d0fa-17b0-11e7-88a0-080a58973d60.png)

[2017-04-02 22:42] scooterbaga commented on #1291
Same problem.

I've noticed that using the Update Library function will cause everything to show back up. However, it's temporary.

[2017-04-03 01:03] ibra0078 opened #1303 "Radarr Service not Automatic starting"
After a reboot, the service will not start on its own. Startup type is set to Automatic of course but after a reboot I always need to start it manually.

[2017-04-03 02:47] dVIAN13 commented on #1297
Thanks for the reply. The RSS/List, is StevenLu's, and it adds the titles to my Movies list. However, I assumed that by being in my Movie/Wanted List, it would automatically search for those titles periodically...?

[2017-04-03 04:15] galli-leo commented on #1302
Yeah that's probably the issue here then. We will have to rethink how propers & repacks are gonna work and are factored into the prioritization of downloads.

[2017-04-03 04:55] bobbintb commented on #1292
Yes, it's been talked about for years. Here is the thread where it is mentioned they will (should) get to it this year:

https://www.themoviedb.org/talk/56aa8fd09251417e1100036e

[2017-04-03 10:28] mikey2p22 commented on #1295
Somehow this works now... I restarted Radarr multiple times without success. Even my NAS.
Now, 2 days later, The Movies appear in the search-bar.
Thanks for the help anyway.

[2017-04-03 10:28] #1295 closed

[2017-04-03 10:53] galli-leo commented on #1295
@mikey2p22 I think the problem is where the cache of your browser still kept the UI of an older version with a bug present.

[2017-04-03 10:54] galli-leo commented on #1303
Do you see any attempt of starting up in the logs? Without any logs we wont be able to help much :/

[2017-04-03 11:46] ibra0078 commented on #1303
Nothing gwea registered in the log file in regards to trying to start the
service. The last entry was at 1:45am yesterday as It snatched a movie. I
restarted the computer today and service didn't start nor it didn't record
anything in the log since 1:45am. Thanks

On Apr 3, 2017 06:54, "Leonardo Galli" <notifications@github.com> wrote:

[2017-04-03 12:36] y4m4aa commented on #1281
i have exactly the same problem

[2017-04-03 13:55] Daedilus opened #1304 "Failure of TLS handshake"
I've been trying to get Radarr to connect to an offsite rtorrent client and I can't seem to add it.
 I keep on getting this error when trying to connect. I know the password is correct and it works when using couchpotato.

`System.Net.WebException: Error writing headers ---> System.IO.IOException: The authentication or decryption has failed. ---> Mono.Security.Protocol.Tls.TlsException: The authen

[2017-04-03 14:00] lobianco commented on #1291
@theCheek I tried changing the movie folder format to `{Original Title}` just to see if it would work even though it's not one of the listed options. After hitting Save the example text was cleared so I decided to undo the change.

@galli-leo no I was filtered on `All`.

@scooterbaga interesting, where is the Update Library button?

[2017-04-03 18:59] galli-leo commented on #1291
Did you try to clear your cache?

[2017-04-03 19:43] tooviral opened #1305 "Add Genre to Movies [feature request]"
One piece of info that I think is missing is Genre.

Would love to see this listied in the Movie's detailed pages.

[2017-04-03 20:59] 0xdevalias opened #1306 "Add button to test proxy settings"
It would be awesome if there was a button to test the proxy settings. Not a major deal, but would help to know that they're right. :)

[2017-04-03 21:30] 0xdevalias opened #1307 "Sort by date for 'Add Movie From Lists'"
It would be great if I could sort by date when adding movies from lists.

[2017-04-03 22:37] 0xdevalias opened #1309 "[Bug] With no movie folders added, imports from list silently fail"
If you don't have any 'movie folders' added, then importing from lists get into a weird failure state, where they seem to be added, but clicking through to the page 404's.

Adding a 'movie folder', and ensuring it's selected in the list settings seems to fix this.

[2017-04-04 00:53] #1275 closed

[2017-04-04 01:09] ianc125 commented on #494
@onedr0p would be much easier to have radarr do it all at once versus having to load up yet another tool just to download trailers. I use to get them all using tiny media manager, but once I had couch potato setup to pull them it saved me a ton of time. Now im on radar and would love to see this feature. Love the idea on trailer quality being able to download better quality automatically. I would

[2017-04-04 03:07] jasontruluck opened #1311 "Image URL's from API are unusable"
Hello,
It looks like the images on the API are unusable, at least directly as source values on images, due to the API requests requiring a header for authentication.

i.e. From the `/movie` API response:
[code]

Sonarr looks to get around this by using a URL param for the API key but I see no such option in Radarr. For now a way around this I have used is to load all the images after the fact usin

[2017-04-04 04:12] aaronth07 opened #1312 "Radarr is not downloading movies because they are under the size limit even though they aren't."
Radarr is not downloading movies because they are under the size limit even though they aren't. I found out it's because Radarr is automatically adjusting the movies minimum size. Here is what is says: "limits are automatically adjusted for the movies run time". I could not find how to disable this.

Radarr Version: 0.2.0.535

EDIT: Never mind, being stupid. I looked at the 60min movie size instea

[2017-04-04 04:14] aaronth07 commented on #1309
Radarr does not support support a flat folder of movies. You have to have movie folders.

[2017-04-04 04:17] aaronth07 commented on #1305
Is there really any need? You should not be using Radarr as a media client, but something like Plex instead. Plex automatically downloads movie data from The Movie Database. That includes genres.

[2017-04-04 04:20] aaronth07 commented on #1306
Proxy settings? Like a VPN?

You can test indexers, download clients, connections, and etc by clicking "Test".

[2017-04-04 11:40] nilleiz opened #1313 "radarr not fetching release when negative delay is set in Availibilty Delay and no Availibilty Profile is set"
**Description:**

When having a movie added without Min Availibilty Profile (like ombi does at the moment) and having a negative value in Settings > Indexers > Availibilty Options > Availibility Delay releases will not be fetched when searching indexers.

**Radarr Version:**
0.2.0.535

**Logs:**

17-4-4 13:12:33.8|Error|DownloadDecisionMaker|Couldn't evaluate decision on <*ReleaseName*" , with spe

[2017-04-04 12:21] erylflynn commented on #1312
Same issue, specifically for movie Teen Titans: The Judas Contract, there is one link on rarbg.to that meets the requirements.  But error is does not meet maximum size 0B.  Same error is on all links as well even for other qualities. I have changed qualities, changed minimum availability and no change after a new search.

[2017-04-04 13:12] mcroach opened #1314 "Movie Editor checkboxes no longer working in nightly 0.2.0.572"
Description:

The Selection boxes on the Movie Editor page appears to be broken in latest nightly (0.2.0.572). The problem was not present before the update.

No matter how many movies are checked, the options in the editor footer remain unavailable, and the textual notation on how many movies have been selected remains at zero.

Clearing the browser cache has no effect.
Restarting Radarr has no e

[2017-04-04 15:23] geogolem commented on #1314
Im not having any issues with this on the latest build  ---> on Windows..

So it is likely something related to QNAP...

based on your log and the code:
------
        this.listenTo(this.moviesCollection, 'backgrid:selected', function(model, selected) {
            **var m =  FullMovieCollection.findWhere({ tmdbId : model.get('tmdbId') });**
            m.set('selected', selected);
            thi

[2017-04-04 16:35] silentrob commented on #5
After setting up Radarr last night, this was the first thing I thought about. Mapping config fields from the forked repo should be super easy?!

[2017-04-04 18:02] Bterrell721 opened #1315 "Unable to view "Not Monitored" only"
Hello,

I believe this should be included as a feature request and didn't see an existing report.  I am looking to have a way to view a list of only movies currently in "Not Monitored" status.

The use case for this is that I currently keep all my movies in monitored status, except then I have a number of lists set up that I like to let auto-add movies.  However, I have it add them "Not Monitored"

[2017-04-04 18:09] pooley182 commented on #1304
What version of Mono are you running?

[2017-04-04 18:25] chuckkay opened #1316 "Sorting Movies by downloaded [Bug]"
Sorting by downloaded (ascending or descending) results in ALL movies being listed no matter what filter you are using (monitored, missing, released, announced...etc)

Version
0.2.0.571

I Can re-create bug every time..
steps to re-create bug:

-go to movie tab
-Click all movies filter (the circle icon)
   make note of total movies you have (mine says Total records: 1,309)
-Click on another filter

[2017-04-04 18:36] lobianco commented on #1291
I did after I first noticed the problem and it didn't help anything, but I logged on today and all my movies are back in the list so.... I don't know what to think 😆

[2017-04-04 18:54] Daedilus commented on #1304
4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)

[2017-04-04 19:04] pooley182 commented on #1304
try `cert-sync /etc/ssl/certs/ca-certificates.crt`

[2017-04-04 19:05] Daedilus commented on #1304
It's in a docker.

[2017-04-04 19:14] pbrink231 opened #1317 "Change filters to be 2 separate checks [Feature request]"
Radarr Ver. 0.2.0.535

Basically Here are the current filters
[All] [Monitred] [Missing] [Released] [Announced] [Cinemas]

What I am asking for is to make this 2 different searches for fine tuning (switched Announced and Cinemas aslo)
{[All] [Monitred] [Missing]} && {[All] [Released] [Cinemas] [Announced]}

Same icons and everything.  Just make just like above with the space between sort & grid op

[2017-04-04 19:58] vertigo235 opened #1318 "Pending Releases Stuck in Queue / Also Missing Information"
**Description:**
I have a 400 min Usenet delay, items are showing up pending in my queue, but they never go away, also no quality is noted, it always says "Unknown".

When I try to delete from the queue nothing happens.

Check first that your problem is not listed in our wiki section:
* https://github.com/Radarr/Radarr/wiki/Common-Problems
* https://github.com/Radarr/Radarr/wiki/FAQ

Provide a des

[2017-04-04 20:00] vertigo235 commented on #1318
Also it appears that the items do still download, although it has picked up the wrong movies (wrong year), once they download the pending items still stay in my queue.

I have removed them by using a SQL Lite database tool.

[2017-04-04 20:10] vertigo235 commented on #1285
Having the same issue as well, only with RSS, search does not include the older movies.

[2017-04-04 20:25] Rusk85 commented on #771
Whats the status on this? Anyone assigned to this? Still an issue?

[2017-04-04 21:14] Rusk85 commented on #360
Just tested this on Version `Radarr Ver. 0.1.0.35340/develop` (that version can't be right, no? I am running from my fork locally of off develop which I just updated today with the latest commits)
Either way I downloaded `Sing (2016)` with `SD` profile, then set to `Any` profile and added `Sing (2016) Bluray-1080p` to my drone factory. Old movie was immediately deleted and the new one with the bet

[2017-04-04 23:37] alias1 commented on #1306
*nods* But on the screen where you enter proxy settings, there is no test button next to it. You can add the proxy, then go to another screen and test as you mentioned, but this isn't overly intuitive.

It would be good to be able to test from this same settings screen, and know radarr was able to connect to the proxy.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
Fr

[2017-04-04 23:38] alias1 commented on #1309
Which is fine, but with a fresh install there is nothing that forces me to make that first movie folder, so as a user who doesn't realise that requirement, I might go and try an import a movie, not have a folder set, not get prompted by radarr that I need a folder set, and then find myself in the situation I was in, with a bunch of broken imports and the assumption that that part of radarr must ju

[2017-04-05 00:28] fonzie24 commented on #494
@ianc125 I couldn't agree more.  Everything you posted is exactly along my line of thinking.

[2017-04-05 01:46] jscottdouglas commented on #494
Personally right now I installed the trailer plugin for plex since radarr does not download trailers this was a nice addition to have trailers on my media server without downloading shitty trailers.

[2017-04-05 01:48] jscottdouglas commented on #867
Can you not check the file extension prior to importing? personally I don't care if it downloads the garbage but if it imports it, that's my issue.  I would be ok with a import check to check the file extension.

[2017-04-05 03:17] 19wolf opened #1319 "Folders get added without IMDB id"
**Description:**
Some folders are being added without an IMDB id when it clearly exists (and is shown on the movie page), but otherwise function fine

**Radarr Version:**
Latest
**Logs:**
Attached
[radarr.txt](https://github.com/Radarr/Radarr/files/895085/radarr.txt)

[2017-04-05 03:39] ianc125 commented on #494
I have trailers in plex from having a plex pass, but I like the option of having a local downloaded trailer as a backup as well or for using my media anywhere plex wont work.

[2017-04-05 03:51] Daedilus commented on #1304
I tried it.
Still this error
`[v0.2.0.535] System.Net.WebException: Error writing headers ---> System.IO.IOException: The authentication or decryption has failed. ---> Mono.Security.Protocol.Tls.TlsException: The authentication or decryption has failed.
  at Mono.Security.Protocol.Tls.RecordProtocol.EndReceiveRecord (IAsyncResult asyncResult) <0x40992160 + 0x00103> in <filename unknown>:0
  at Mon

[2017-04-05 04:30] JamzTheMan commented on #1301
I'm afraid you may have missed the issue?  This is only ONE filter, in this case Status == "Missing".
If you click Title, Date Added, Profile, or In Cinemas, the "Missing" movies are "Sorted" correctly.

However, if you click "Downloaded" to sort (NOT filter) it breaks the one filter I want (missing)...

[2017-04-05 04:36] JamzTheMan commented on #1292
Would it be possible instead to allow us to add a movie more than once? And then supply "tags" like "Extended" or "Director's Cut".

I was told there is a naming tag for these already {Edition.tags} or some such, so these would be used to keep the movies in separate folders. Perhaps force the use of at least 1 tag when adding a movie a second time...

Surely there has to be a limited way to manual

[2017-04-05 04:43] JamzTheMan commented on #1293
And or a link to IMDB would be cool. When pushed to slack, you get a nice preview... (slack pulls the info on any URL posts, so only the URL is actually sent by CP)

This is how couchpotato pushes to slack look:

![image](https://cloud.githubusercontent.com/assets/8051654/24690095/574ed524-1990-11e7-976c-b3b4029141a7.png)

[2017-04-05 11:16] int3nz0r opened #1320 "Wrong release year on folder renaming (media management)"
I noticed this for several movies now.

My movie file format looks like this: {Movie Title} ({Release Year})

But Radarr seems to automatically choose 2017 as the release year, even for movies that are released in 2016 according to IMDb (http://www.imdb.com/title/tt4972582). It looks like Radarr alwasys chooses the year of download. Example:

Split (2017) \ Split.2016.Bluray-720p.x264.DTS-SPARKS

[2017-04-05 11:22] ryqiem commented on #1304
I got this error (albeit in a stock Ubuntu installation) and fixed it by installing `libcurl3`, eg:

[code]

Perhaps your docker images needs this?

[2017-04-05 11:50] mcroach commented on #1314
I love random; this morning with no known changes made to the environment everything is working as expected again. If it comes up again I'll fire up the debugger to see if I can track down the culprit.

Closing issue for now.

[2017-04-05 11:50] #1314 closed

[2017-04-05 12:19] galli-leo commented on #1304
Yeah you either need an updated mono or libcurl version.

[2017-04-05 12:19] #1304 closed

[2017-04-05 12:21] galli-leo commented on #1320
That's because The Movie DB (our source of metadata) says that the movie is released in 2017. Not much we can do, but you could change it to correct release date on themoviedb.org

[2017-04-05 12:21] #1320 closed

[2017-04-05 12:23] galli-leo commented on #1301
Yeah that's because if you sort by downloaded, it auto filters by which ones are downloaded. Why would you want to filter by missing and sort by downloading? None of those downloaded are missing.

[2017-04-05 12:24] galli-leo commented on #1317
Yeah, as said before, this will probably have to wait until a new UI is here, where we can do that much easier and better.

[2017-04-05 12:35] galli-leo commented on #1319
Known issue. Fix is actually more complicated and working on a seperate branch. But still needs more testing to make sure nothing else breaks.

[2017-04-05 12:35] #1319 closed

[2017-04-05 12:37] Stibbons commented on #1108
Appears also with custom trakt.tv list.

[2017-04-05 12:39] galli-leo commented on #1292
@JamzTheMan Of course we can implement this on our own. But it will require a significant rework of some parts and I would rather wait on TMDB than have to rework the code twice.

[2017-04-05 12:41] galli-leo commented on #1316
There's already another issue on this (sorry can't linke, on mobile). The gist of it is, that we currently cannot have more than one filter. (Sorting by downloaded auto filters by downloaded as well).

[2017-04-05 12:42] galli-leo commented on #1316
We want to improve filtering much more when we have a new UI.

[2017-04-05 12:42] akizzle commented on #1292
Well what I noticed is Radarr already recognized that the movie was Unrated. When clicking on the movie in Radarr under "Edition" it shows that it's the unrated version.

[2017-04-05 12:42] galli-leo commented on #1108
@Stibbons Are you on .535?

[2017-04-05 12:42] Nixon506E commented on #646
Hoping to move this one up the queue

[2017-04-05 13:17] Stibbons commented on #1108
yes

[2017-04-05 15:07] iambdud commented on #144
Any chance we can re-open this? I'm experiencing the same. I have Radarr setup identically to how I setup Sonarr. I have no issues accessing Sonarr, but get the "bad request" for Radarr. The issue goes away if I launch Radarr as admin. However, I don't have to do that same thing with Sonarr... so I'm not sure what the difference is.

[2017-04-05 16:58] gold007eye commented on #1108
Just an update.. I think I know what might be causing the downloading to start, finish, delete and restart the same download.  I just noticed with the next movie. it is grabbing as "Blue-Ray 720", but Radarr is tagging the completed download as "**HDTV**-720p"  So then it regrabs the movie again, because "technically" that doesn't meet the cut-off quality.

That looks like remnants of Sonarr codin

[2017-04-05 17:29] Stibbons commented on #1108
Not sure it is the same bug. Your case is 1 successful download then Radarr tries to redownload it because it thinks the cut off is not met.

Here we see that at the same moment the very same nzb is sent twice at sabnzbd.

[2017-04-05 17:58] fryfrog commented on #1312
@aaronth07: You don't want to disable adjustment of minimum size based on run time. That would make selecting a movie based on size far less useful. Instead, you should reduce your size limit if you want to catch movies that small.

@erylflynn: Your issue sounds like maybe the search isn't returning the size of the result or maybe you have you mins and maxs screwed up?

[2017-04-05 18:00] gold007eye commented on #1108
The reason there is only 1 time is because I turned the monitoring off as soon as I saw it starting this process.. just like my original post.  So I knew it was just gonna keep downloading infinitely until I unmonitored it :)  It's definitely the same bug as my original post.  I was just giving more incite as to another possible avenue as to why it is happening.

[2017-04-05 18:04] pbrink231 commented on #1317
Ok.  Sorry. I looked around before but didnt see it mentioned.

Side note - I really like the UI, minor changes like this and sort by year, hide already have.  Hope its not a big change.

[2017-04-05 18:26] galli-leo commented on #1293
@KruyKaze Pretty sure that's impossible since we can only change the icon at the time of creating our "bot account".

@JamzTheMan Can you open a new request for that one?

[2017-04-05 18:28] galli-leo commented on #1317
@pbrink231 Probably semi big. Mainly related to changing the underlying library (something you are not going to see very much) to something more dev friendly, so that we can more easily add things such as this and get better performance. We also have some mockups of how the new UI might look like. Not too different, but in the same direction Sonarr is heading with their new UI.

[2017-04-05 18:30] galli-leo commented on #1108
@gold007eye Can you make a new issue and copy over your comment? They are not related by the way.

[2017-04-05 18:31] galli-leo commented on #1108
@Stibbons we know what causes this and reverted the change for the nightlies. This should be fixed for the next pre-release.

[2017-04-05 18:38] gold007eye opened #1321 "Download Quality Being Changed by Radarr to HDTV-720p and triggering Re-Download"
Just an update.. I think I know what might be causing the downloading to start, finish, delete and restart the same download.  I just noticed with the next movie. it is grabbing as "Blue-Ray 720", but Radarr is tagging the completed download as "**HDTV**-720p"  So then it regrabs the movie again, because "technically" that doesn't meet the cut-off quality.

That looks like remnants of Sonarr codin

[2017-04-05 18:40] gold007eye commented on #1108
New issue created as #1321

[2017-04-05 18:47] galli-leo commented on #1314
Probably happened because of the cache. The UI prolly had an old version of the js code cached causing calls to a changed backend to fail.

[2017-04-05 18:49] galli-leo commented on #144
@iambdud You would have to had to do that with Sonarr, unless you where extremely lucky somehow. Before Windows allows us to bind to any address (meaning to let other devices connect to Radarr) we need admin access. Nothing we can do here.

[2017-04-05 19:03] iambdud commented on #144
Mine is working now... It seems that after I ran it once as administrator (after i moved it to ProgramData), subsequent launches can be non-elevated and I can access it from other machines without issues...

Maybe this is what I was supposed to do, but the instructions said to "extract anywhere, run as admin once, then copy to programdata".

Anyway, it's working. Thank you.

[2017-04-05 19:21] KruyKaze commented on #1293
@galli-leo actually Join lets you define an icon for each notification.
Thanks

[2017-04-05 19:55] KruyKaze commented on #1293
I looked it up and it is just a matter of adding "?icon=www.XYZ.jpg&" to the notification
Thanks

[2017-04-06 00:08] erylflynn commented on #1312
@fryfrog Radarr comes back with 5 results, the 2 you list and 3 that are 480p.  My quality settings are stock, and set in a similiar fashion to Sonarr.  Minimum at 0 and max at the upper cutoff.  Problem with troubleshooting is that movies are not as common as TV shows.  Next thing to download is possibly months away.

![image](https://cloud.githubusercontent.com/assets/7002628/24731937/46f196e8-1

[2017-04-06 00:25] animosity22 commented on #376
So, it depends.

If you try to toggle remove spaces and your title has spaces in it or something else has spaces, it won't save.

You have to make sure it's valid I guess. Once I figured those bits out, it saved for me without issue.

[2017-04-06 01:53] lostandlost opened #1322 "PreDB Error"
When I click the PreDB Sync button or run the PreDB system task I get the following error in my logs:
Non 200 StatusCode Forbidden encountered while searching PreDB.

I also noticed that items that are on the PreDB are not marked in Radarr as available.  The two may or may not be related.

Radarr Ver. 0.2.0.535

[2017-04-06 03:37] MostDefiantly commented on #1322
I too have the same issue, same version as well.

Just a guess, but requests originating from Radarr clients may have been throttled on PreDB's side. Same thing happened with MusicBrainz and Headphones.

It's been almost a month since the last develop branch release, perhaps this has been addressed in dailies somewhere along the line.

[2017-04-06 04:02] Salamasond commented on #1322
I just came to search as I have the same issue via manual or auto sync:

Radarr Ver. 0.2.0.535
Mono JIT compiler version 4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)

`17-4-6 08:29:04.4|Info|PreDBService|Starting PreDB Sync
17-4-6 08:29:04.5|Trace|EventAggregator|Publishing CommandUpdatedEvent
17-4-6 08:29:04.5|Trace|EventAggregator|CommandUpdatedEvent -> CommandModule
17-4-6 08:29:04.5|Trace|EventAggr

[2017-04-06 04:37] ajkis opened #1323 "Importing list errors"
Latest nightly

Always no matches, multiple lists ( that worked before ).

[2017-04-06 04:57] jasonbrent commented on #1322
Ditto - preDB errors as above.

[2017-04-06 04:58] galli-leo commented on #1322
@MostDefiantly Do you know if and how they circumvented that?

[2017-04-06 05:19] MostDefiantly commented on #1322
@galli-leo They never really did, judging by the errors I still receive refreshing or adding artist metadata. It was really bad when Headphones was the hot shit. Pretty sure the Dev group could never work out a deal with MusicBrainz so the requests had to be[ throttled back cause it slaughtered MB's traffic](https://musicbrainz.org/doc/XML_Web_Service/Rate_Limiting). Headphones was pretty much unu

[2017-04-06 07:57] Baconnaise commented on #1288
FWIW Sonarr and Radarr work fine with Zooqle OOTB. The caveat is you need to create an account to setup RSS feeds atm.

[2017-04-06 10:00] Baraddon opened #1324 "MK3D File not recognised"
Radarr does not recognise the mk3d file extension. The movie is still listed as missing. Please add this extension to Radarr.

Example:
Star.Wars.Episode.VII.The.Force.Awakens.2015.1080p.BluRay.Half-SBS.DTS-HD.MA.7.1.x264.mkv
works fine.
Star.Wars.Episode.VII.The.Force.Awakens.2015.1080p.BluRay.Half-SBS.DTS-HD.MA.7.1.x264.mk3d
is not recognised.

**Radarr Version:**
 0.2.0.535

**Logs:**
none.

[2017-04-06 11:12] TheLuBu opened #1325 "Importing UserList from Trakt"
**Description:**

Importing Lists from Trakt fails

**Radarr Version:**
0.2.0.573
**Logs:**
17-4-6 13:07:39.5|Debug|TraktImport|Downloading List https://api.trakt.tv/movies/anticipated?years=&genres=&ratings=0-100&certifications=nr,g,pg,pg-13,r,nc-17&limit=100
17-4-6 13:07:39.7|Debug|TraktImport|Downloading List https://api.trakt.tv/movies/popular?years=&genres=&ratings=0-100&certifications=nr,g,p

[2017-04-06 11:15] TheLuBu commented on #1325
See https://github.com/Radarr/Radarr/issues/1294

[2017-04-06 12:54] abarber229 opened #1326 "Should Downloaded Movies Scan be Disabled?"
After movies are downloaded, moved, the status of the movie is not changing the status to downloaded unless I run a manually scan. I'm not sure if this is in relation to the unmonitored issue. I am on the nightly version of Radarr - 0.2.0.573.

[radarr.txt](https://github.com/Radarr/Radarr/files/902554/radarr.txt)

[2017-04-06 13:41] gold007eye commented on #1322
Latest nightly here with the same issue.

[2017-04-06 13:59] animosity22 opened #1327 "Not Matching Some Movies on Disk"
**Description:**
I'm seeing some movies just plain not match that I have disk. An example would be:

[code]

http://imgur.com/qzjtnC3

**Radarr Version:**
[code]
**Logs:**
[code]

Please use the search bar and make sure you are not submitting an already submitted issue.
Visit our [Discord server](https://discord.gg/NWYch8M) for support or longer discussions.

[2017-04-06 14:09] animosity22 commented on #1327
Hmm. I'm not sure but I just tried to delete the movie and re-add it and that worked as it's showing matched now.

[2017-04-06 15:03] galli-leo commented on #1327
Yeah this is a known issue where a movie file sometimes fails to get linked to the movie. We are investigating this. For now if it happens again, just run the housekeeping task under system tasks

[2017-04-06 15:03] #1327 closed

[2017-04-06 15:50] animosity22 opened #1328 "Add ability to disable media info on import."
My current setup is using some local storage and an ACD encrypted mount point for all my archiving of my stuff.

I have some naming conventions previously from Couchpotato that had the shorter quality type info in there and I do not want it to analyze the media and 'trust' the fact it's named right. I turned off the Analyze Video option in the setting, but it seems to still analyze the file.

I ga

[2017-04-06 16:50] #1325 closed

[2017-04-06 16:52] galli-leo commented on #1324
Do you have some more information about this file format?

[2017-04-06 16:53] galli-leo commented on #1323
Do you see anything in the logs? Without that we wont be able to help much.

[2017-04-06 16:55] galli-leo commented on #1309
@alias1 I agree we should document that a bit more, but a user who sets up a list as a first act, probably know what he is doing and should realise you cannot add a movie folder in the add list dialog.

[2017-04-06 16:56] galli-leo commented on #360
@Rusk85 That's just the version when you manually compile it on your machine. We patch the assembly info to say the correct version on appveyor.

[2017-04-06 16:56] galli-leo commented on #360
There seem to be moments where movie files don't want to be deleted, but I don't exactly know why or where yet.

[2017-04-06 16:58] galli-leo commented on #1315
For now you can go to the wanted tab.

[2017-04-06 16:59] galli-leo commented on #1305
Additionally, I think this will have to wait until we get a new UI.

[2017-04-06 17:03] talentedmrripley opened #1329 "Is there a limit to the number of items Radarr will retrieve from a tracker?"
**Description:**
I added The Fifth Element to Radarr and told it to search.  I have specified Remux for quality but it didn't begin to download anything.  I checked manually to see if there was an issue with size or name parsing etc, these are the options it presented:

![image](https://cloud.githubusercontent.com/assets/10006695/24766260/e4e09634-1ab7-11e7-9d8d-1bad9454af25.png)

I was surprised

[2017-04-06 18:25] int3nz0r commented on #1320
@Crowley007 Indeed, that's what's confusing me. I assume both file renaming and folder renaming use the same information provider?

[2017-04-06 18:25] Baraddon commented on #1324
Its part of the MKV family. See https://matroska.org/. I presume it works in the same way.

[2017-04-06 18:56] galli-leo commented on #1320
@Crowley007 What probably happened: TMDB only has 2017 as release date when you added the movie, so the folder was created with 2017. Then the correct date (2016) was added. And then Radarr downloaded and imported the file and thus renamed it with the now correct date, while the folder was unchanged.

[2017-04-06 19:07] methanoid commented on #407
Hi, has the fix made it out? I noticed same problem. I'm using Radarr in Linuxserver.io's docker container which auto updates on every restart.... so I should be on latest official code?

[2017-04-06 19:20] Crowley007 commented on #1320
Makes sense I guess, but in that case perhaps Radarr should check if the year differs and if it does rename both to match the correct date.

[2017-04-06 19:37] galli-leo commented on #1320
@Crowley007 Once we have dynamic folder renaming in, that shouldn't be a problem anymore.

[2017-04-06 20:03] pferreira opened #1330 "Web UI won't load - not caching issue"
GET http://10.0.0.197:7878/api/movie?page=1&pageSize=1000&sortKey=sortTitle&sortDir=asc&filterKey=null&filterValue=null 500 (Internal Server Error)
send @ jquery.js:9664
ajax @ jquery.js:9215
$.ajax @ jquery.ajax.js:21
get @ ApiData.js:7
(anonymous) @ MoviesCollection.js:282
__webpack_require__ @ bootstrap 437fb7d…:50
(anonymous) @ FullMovieCollection.js:1
__webpack_require__ @ bootstrap 437fb7d…:

[2017-04-06 20:14] alias1 commented on #1309
To some degree I agree, but it still feels like a big assumption. Maybe adding some extra validation to the add list dialogue, so it won't let you save it when there are no lists, and tells you how to create one?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Leonardo Galli <notifications@github.com>
Sent: Friday, April 7, 2017 2:55:26 AM
To: Radarr/Radarr
Cc: a

[2017-04-06 21:35] beefycheddar opened #1331 "Feature Request: Remote Path Mapping Copy Progress Status"
**Description:**
Love the clone. We are all saying "it's about time!"

I use a remotely accessed nzb downloader and I use the remote path mapping feature. It works great. My local server has a slower (sub 10mbps) connection to the downloader, so when a file starts to copy over, my whole network connection can be saturated with no indication of how long this may last. I think it would be improved b

[2017-04-06 21:39] mrsparkle969 opened #1332 "Setting up Multiple Lists Default Folder"
**Description:**
When setting up multiple lists the default folder is reverting to the last folder set:

List 1 R rated goes to R rated folder
List 2 PG rated goes to kids folder

When you set list 2 to the kids folder list 1 changes to kids.
Set List 1 back to r rated folder List 2 changes to R rated folder

**Radarr Version:**
0.2.0.535

[2017-04-06 21:44] beefycheddar opened #1333 "Feature Request: Remote copy temporary file extensions"
It would be helpful if Radarr could set the extension of a file incoming from a Remote Path Mapping file copy could have and extension added to the end of the file name, like this: movie.mkv.temp. This extension should be removed once the copy is complete so Plex/whatever can pick up the new media file.

I copy over a sub 10mbps connection from the nzb downloader server. The copy works fine, but d

[2017-04-06 22:21] TJohnson93 commented on #1305
@galli-leo Are you working on a new UI?

[2017-04-06 23:01] evilvibes commented on #1322
Also having the issue.
![error](https://cloud.githubusercontent.com/assets/17504733/24778946/9974685a-1aea-11e7-897c-8a5c98c3bbf9.png)

[2017-04-07 03:00] tscibilia commented on #1330
I've come across the exact same issue! glad i'm not the only one, i'm just hoping there's a way to fix it.

[2017-04-07 03:01] Sevenon7 opened #1334 "[Bug] Unable to get free space and unmapped folders for root folder"
**Description:**

Bulk import is failing with error message:
Unable to get free space and unmapped folders for root folder: /volume1/Video/Movies/: value [Select Path/탐정 더 비기닝 (2015)]  is not a valid *nix path. paths must start with /
Parameter name: path

The above movie/folder however is not in my movie collection though.

**Radarr Version:**

0.2.0.535

**Exception:**

System.ArgumentException:

[2017-04-07 03:57] PeteOdeath commented on #1322
Same problem here. All my movies are set for Minimum Avaliability: PreDB
So should I change them to something else?

[2017-04-07 04:36] sgtsquiggs commented on #1245
I'm having the same issue. I renamed a .mkv that was not being detected to .avi and it was recognized.

Not happening to all files though? I have plenty of mkv recognized in my library.

In my case, the unrecognized was:

`/share/movies/2 Fast 2 Furious (2003)/2 Fast 2 Furious.mkv`

After renaming the file back to .mkv and refreshing in radarr, it was again marked as missing.

[2017-04-07 05:32] ajkis commented on #1323
Only in trace log
[code]

p.s. Can you test on your side just try to grab one of the lists, I always get : Sorry. We Couldn't Find Any Movies Matching ''

[2017-04-07 05:45] xxredxpandaxx opened #1335 "Feature Request: download 1080p first then replace with 2160p"
It always seems like you have to wait a month or more for a 2160p version to be released. So it would be nice to be able to download a 1080p version of a file and then later when the 2160p versions get released download that.

[2017-04-07 06:52] lyrad87 commented on #1322
@PeteOdeath Try "Announced" for the time being. Seems to fix the issue for me even though I'd still prefer PreDB to work correctly.

[2017-04-07 08:23] Adman1020 opened #1336 "Radarr unable to read ISO, WMV or AVI files"
I have a number of existing movies that are ISO, WMV or AVI file formats. Radarr is detecting the folder and searching for a movie but not able to read the file. The log lists "[movie title] has a runtime of 0, is it a valid video file?".

Radarr will then treat this as an empty folder, adding the movie to my wanted and often finding and downloading a new version of it. However as is hasn't read t

[2017-04-07 09:52] dhaos21 commented on #1336
Its not implemented yet, i'm sure Galio said a few revisions ago that only the "Popular" formats are supported at the moment.

[2017-04-07 10:16] zductiv commented on #1335
You should already be able to do this.

Go to settings->profiles. Then click add. Name as you want and tick all of the 2160p qualities you want, and the 1080p qualities you want. Then change the cutoff to the minimum quality 2160p you want.

Something like this.

![image](https://cloud.githubusercontent.com/assets/8939440/24796093/36476438-1bbe-11e7-8113-6dd9963c8ca1.png)

Then just change the ass

[2017-04-07 10:24] zductiv commented on #1326
17-4-4 17:40:12.5|Warn|DiskScanService|Movies' root folder (C:\Volumes\Untitled\Movies) doesn't exist.

Check your folder setup because radarr can't scan your movies root folder.

[2017-04-07 11:54] abarber229 commented on #1326
Thank you for the reply. That was from when I was running Radarr on the Mac
then switched to Windows.
I looked through the paths and that root folder is not there in Radarr that
I can see.
Is there a way to manually remove that path or can I trick it by creating
that folder on the root of C like it is?
Or should I just go with a reinstall of the software and start from scratch
since I came from a

[2017-04-07 12:12] zductiv commented on #1326
Have you checked movies->movie editor. Then select all movies and change the root folder to your new folder. That page is paginated so you will have to check all of the individual pages of movies that you have.

[2017-04-07 12:20] abarber229 commented on #1326
[image: Inline image 1]

H:\Movies is a external hard drive. That is where all of my movies are
pointed to. All of the movies show their path being "H:\Movies\Movies_Name"
Should I change all of the movies to "C:\Volumes\Untitled\Movies"?

On Fri, Apr 7, 2017 at 8:12 AM, zductiv <notifications@github.com> wrote:

--
Thank you,

Austin Barber

[2017-04-07 12:35] zductiv commented on #1326
No. If all your movies are on H:\Movies then as the path is named is fine. Just ensure that all of the movies are listed properly on all pages.

[2017-04-07 12:37] abarber229 commented on #1326
All the movies are pointed to the correct path, but is there a way to
enabled the downloaded movies scans or change that path it's looking at?
The only way to mark the movie as downloaded is if I manually hit the
rescan disk button after the movie has downloaded.

On Fri, Apr 7, 2017 at 8:35 AM, zductiv <notifications@github.com> wrote:

--
Thank you,

Austin Barber

[2017-04-07 12:45] zductiv commented on #1326
I don't have that issue on my setup, and haven't seen it on others so I'd guess it has something to do with your particular setup that is causing it.

Looking at the more recent entries, I see

17-4-6 08:15:05.9|Warn|PreDBService|Non 200 StatusCode Forbidden encountered while searching PreDB.
17-4-6 08:15:06.0|Warn|DiskScanService|Movies' root folder (H:\Movies) is empty.

Have you unplugged the e

[2017-04-07 12:52] abarber229 commented on #1326
I could send you the logs from last night and this morning. I had a movie
download last night and two this morning. They got pulled from Radarr and
were transferred to the external hard drive. At the time of the log, it is
possible that it was empty since I transferred those movies to the cloud to
be used with Plex Cloud.

On Fri, Apr 7, 2017 at 8:45 AM, zductiv <notifications@github.com> wrote:

[2017-04-07 13:11] lordzkin opened #1337 "Importing a trakt list not using the Folder set "/Plex/Movies/" and instead tries "/3/""
I'm assuming this is the Trakt list of Trending and not the StevenLu based on the titles that this happens to, those are the only two lists I am using and both should be using a /Plex/Movies/ folder.  Is there a way to check what Radarr thinks the path should be other than the GUI on a per list basis?

Version
    0.2.0.535
Mono Version
    4.8.0 (Stable 4.8.0.495/e4a3cf3 Wed Feb 22 18:07:20 UTC 2

[2017-04-07 13:18] ErAzOr2k opened #1338 "Movies with Umlauts in Title won't get renamed and moved"
Movies with Umlauts in Title won't get renamed and moved

**Radarr Version:**
Version
0.2.0.535
Mono Version
4.8.0 (Stable 4.8.0.520/8f6d0f6 Wed Mar 15 16:18:35 UTC 2017)

**Logs:**
Example1:
`17-4-7 15:01:04.5|Error|DownloadMonitoringService|Couldn't process tracked download Fack.Ju.Goehte.2.2015.German.1080p.BluRay.AVC-TiPToP

[v0.2.0.535] System.NullReferenceException: Object reference not set

[2017-04-07 14:10] galli-leo commented on #1335
Not sure what your issue here is. That's already in Radarr.

[2017-04-07 14:10] #1335 closed

[2017-04-07 14:25] pferreira commented on #1330
Radarr has a lot of potential, and couchpotato is a mess.  I posted that I'd be willing to support this project when it was ready, and someone responded that it was.  I gave it a shot, but without a direction to move forward and go through a trouble shooting process, and with the very limited documentation set I don't think I can agree that it is ready.  Good luck with this project. I'll check bac

[2017-04-07 18:22] galli-leo commented on #1330
Can you post logs? You find them in your AppData directory (See the wiki for where that's located)

[2017-04-07 18:36] spencercharest commented on #1145
I'm encountering this issue with IMDB lists as well.

[2017-04-07 20:01] pferreira commented on #1330
[radarr.txt](https://github.com/Radarr/Radarr/files/906726/radarr.txt)

[2017-04-07 20:15] jkaberg commented on #284
I've added an guide for his @ [the wiki](https://github.com/Radarr/Radarr/wiki/Common-Problems#unpack-torrents).

[2017-04-07 21:14] Quiksmage commented on #284
If you want to add this to your guide, this will work on qbittorrent.

check the box that says "run external program on torrent completion" and enter the line below into the client. It will unpack the torrent into a folder of the torrent name

"C:/Program Files/WinRAR/WinRAR.exe" x -ibck -inul "%F/*.rar" "%F/"

change path to winrar.exe as necessary

[2017-04-08 02:37] secjoe88 commented on #895
i seem to still have this issue. i'm on the latest nightly

17-4-7 19:35:43.7|Warn|ImportApprovedMovie|Couldn't import movie /mnt/media_rw/5855-0B3B/media/downloaded/movies/The Wind Rises 2013 [1080p BluRay flac x264] - THORA/The_Wind_Rises_2013_[1080p,BluRay,flac,x264]_-_THORA.mkv

[v0.2.0.573] System.IO.IOException: Destination already exists [/media/final/movies/Wind Rises, The (2013)/Wind Rise

[2017-04-08 02:46] fryfrog commented on #1336
I've had problems with .wmv and .avi I'm *pretty* sure. I think .mp4 and .mkv are the only ones that work great for me. It certainly covers 90% of my files, but a lot of older dvd that hasn't been re-released on bluray or just re-ripped to x264 is .avi. :(

[2017-04-08 02:47] fryfrog commented on #1333
I think this is a good idea too, it'd be mildly helpful even for slow local network copies as well. Really, it is just a safe thing to do overall.

[2017-04-08 04:10] xxredxpandaxx commented on #1335
Oh, thanks! I didn't know I could do that.

[2017-04-08 04:24] InAnimaTe commented on #1322
Yeah it would be really cool if we could get a community run mirror cluster going so we only have one (or few) source(s) hitting predb etc...

There's no way we're going to be able to continue using PreDB long-term like this. It'd be nice to also have multiple predb's we tap into as well.

[2017-04-08 04:50] abarber229 commented on #1326
I deleted the Radarr folder in C:\ProgramData and started fresh. I
downloaded the version from the pre-release on radarr.video. Then I updated
it to the nightly upgrades. The downloaded movies scan is coming up
disabled as well.

On Fri, Apr 7, 2017 at 8:52 AM, austin barber <abarber229@gmail.com> wrote:

--
Thank you,

Austin Barber

[2017-04-08 05:32] spencercharest commented on #1005
I'm having trouble with the file quality when bulk importing. I have tried setting the filename and folder name to end with combinations of [DVD], [DVD-572p], [DVD-SD] and nothing seems to be working. Many files still register as 720p or 1080p. I am using Radarr on MacOS Sierra. How should files be named to be initially imported as DVD quality during a bulk import? Do I need to edit the actual met

[2017-04-08 11:23] galli-leo commented on #1005
@spencercharest Currently when importing only HDTV, WEB-DL and Bluray are considered, since I forgot about DVD when implementing that :/. Try disabling Analyse video files in Settings -> Media Management -> File Management.

[2017-04-08 11:32] galli-leo commented on #1336
@dhaos21 Correct. Isos are not as simple as just adding a file extension to the include list. We have to think about them some more. Additionally, AVIs and WMVs should be supported. If you have a message "runtime of 0", that means that media info cannot read the runtime and more often than not, it is due to a corrupt file. If the file is fine however, please run media info on it yourself (https://

[2017-04-08 11:33] galli-leo commented on #895
@secjoe88 Does Radarr know about the existing movie?

[2017-04-08 11:40] galli-leo commented on #1330
@pferreira From the logs it seems like you messed up a UNC path. Can you try and edit the Radarr db to remove the errouneous paths?

[2017-04-08 11:51] galli-leo commented on #1145
I fixed the list import stopping due to such errors. Won't retry the movie yet, but that should happen when the next list import sync occurs. Therefore, I don't think it's necessary to retry the movie instantly.

[2017-04-08 11:57] galli-leo commented on #1318
Is this just one or two items or all pending items?

[2017-04-08 12:00] galli-leo commented on #1323
Ah this means that all movies on your list are already in your library. Sorry the error message is kinda confusing :/.

[2017-04-08 12:00] #1323 closed

[2017-04-08 12:02] galli-leo commented on #1245
@sgtsquiggs That's probably related to another error where sometimes movie files are not properly linked to the movie. Try running the housekeeping task under System -> Tasks. (Your scenario worked fine for me.)

[2017-04-08 12:02] galli-leo commented on #1305
@TJohnson93 We are at least thinking about it.

[2017-04-08 12:03] galli-leo commented on #1332
That is a known issue and only UI related. The actual folder is not changed.

[2017-04-08 12:03] #1332 closed

[2017-04-08 12:05] galli-leo commented on #1333
@beefycheddar For now you could send a notification once Radarr has finished importing the file. This should enable whoever wants to watch the movie to know exactly when it is ready to go.

[2017-04-08 12:30] pferreira commented on #1330
I never defined any UNC paths... all the paths are static as far as radarr knows.  The other errors about not finding goodquality/a-f is legit I moved all the movies into a single directory because it was only picking up on a few of them. How do I edit the db file nano?

[2017-04-08 12:57] galli-leo commented on #1330
@pferreira You have to grab a sqlite editor (e.g. sqlitebrowser.org). But I would just delete the database and start a new in your case, if you have not added many movies yet.

[2017-04-08 15:23] xCerNx opened #1342 "Can't add my personal localhost indexer"
Hi.

I run my own NewzNab indexer, but I am not allowed to add it.
If I try to save, I get "Unable to connect to the indexer"

I've tried both Http://localhost/ and http://192.168.0.101/

System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.First[TSource](IEnumerable`1 source)
   at NzbDrone.Core.Indexers.HttpIndexerBase`1.TestConnection() in C:\projects\rad

[2017-04-08 15:32] galli-leo commented on #1342
You have to enable movie search on your indexer.

[2017-04-08 15:32] #1342 closed

[2017-04-08 15:33] spencercharest commented on #1005
So you're saying I could end file names with [720p-HDTV] and they would import as such? Then if I set cutoff at 720 BluRay movies would all be "wanted" under cutoff unmet? Thanks a ton for your quick responses by the way.  I just realized you answered both of my questions in two separate threads. I appreciate the help!

[2017-04-08 15:46] galli-leo commented on #1005
@spencercharest If you name it as 720p-HDTV and the file is 720p resolution it will import as such. However, if the movie was 1080p resolution, it would be imported as 1080p-HDTV.

Regarding your second question. Yes all movies that are lower than 720-Bluray will be considered as cutoff unmet.

[2017-04-08 15:47] spencercharest commented on #1005
Awesome! I should be able to get everything done with this info. Thanks again!

[2017-04-08 16:22] secjoe88 commented on #895
yes. it knows of the file, as it shows up under the 'Files' tab in the movie detail.

[2017-04-08 17:05] joggs commented on #1326
Same here. Still disabled after reinstall.

[2017-04-08 17:15] 4getit commented on #1145
Great! It's working and it fixed #1193 and #1294 as well.

[2017-04-08 17:24] jamesonp commented on #1322
Same issue

[2017-04-08 17:25] floristenhove commented on #1281
Experiencing the same issue on Radarr 0.2.0.535 and SABnzbd 2.0.0RC3 [840b03c]

[2017-04-08 17:30] ipark commented on #1303
I am having the same issue, not sure if this is helpful or not but when I try to start the service manually I receive these errors:

[code]

[code]

[2017-04-08 18:38] ibra0078 commented on #1303
I fixed it, added the radarr.console.exe to the startup folder

[2017-04-08 18:39] hilts-vaughan commented on #1133
Are you looking for contributors? Could I tackle this?

[2017-04-08 18:42] ipark commented on #1303
radarr.console.exe fails unless I run it as an administrator, is there anyway around this? It says permission denied and that something else is using port 7878 (but nothing is using it - pretty sure it's error due to permissions).

[2017-04-08 18:47] ibra0078 commented on #1303
Are you running anything else on port 7878? Run netstat it will say

[2017-04-08 20:35] dafzthomas commented on #353
Where can I find this "Organise" feature? @fedoranimus

[2017-04-08 21:48] rjsears commented on #1322
Same issue here as everyone else...

[2017-04-08 22:03] #1193 closed

[2017-04-08 22:03] #1294 closed

[2017-04-08 22:05] morriscode opened #1343 "Update fails - Could not load file or assembly 'ICSharpCode.SharpZipLib, Version=0.86.5.0"
Ubuntu 14.04.5 LTS Server

System Log
CommandExecutor	Error occurred while executing task ApplicationUpdate: Could not load file or assembly 'ICSharpCode.SharpZipLib, Version=0.86.5.0, Culture=neutral, PublicKeyToken=9dea7c6e17aa31ff' or one of its dependencies.	5:01pm
	InstallUpdateService	Extracting Update package	5:01pm
	InstallUpdateService	Update package verified successfully	5:01pm
	InstallU

[2017-04-09 03:06] ipark commented on #1303
No, nothing else is running on port 7878.

[2017-04-09 03:29] onedr0p commented on #1281
I believe this was fixed in this commit https://github.com/Radarr/Radarr/commit/cb596488f2fdd48913abda644de162396836e95b

[2017-04-09 06:05] TJohnson93 commented on #1305
@galli-leo If you'd like a hand let me know :)

[2017-04-09 06:06] bradgillap commented on #1281
Switched to nightly and can confirm it is fixed.

[2017-04-09 06:19] weidercs commented on #1281
Tested and confirmed Ver. 0.2.0.577
Closing...

[2017-04-09 06:19] #1281 closed

[2017-04-09 09:14] galli-leo commented on #1343
Seems like someone had the same issue with Sonarr here: https://forums.sonarr.tv/t/error-installing-update-2-0-0-3527/7588/10
Try disabling your antivirus and/or whitelisting this dll file. If that does not help, download the latest Radarr version through Github and place the ICSharpCode.SharpZipLib.dll alongside the Radarr.exe file.

[2017-04-09 09:17] galli-leo commented on #353
@dafzthomas Movie Editor -> Organize

[2017-04-09 09:33] galli-leo commented on #555
@Firemad03 Can you verify that the issue still exists with the latest version of Radarr?

[2017-04-09 12:09] mtr2014 commented on #1322
Me too...

[2017-04-09 12:53] galli-leo commented on #1334
Did you select the correct path when starting the bulk import?

[2017-04-09 12:54] galli-leo commented on #1329
@onedr0p Can you take a look at this?

[2017-04-09 12:57] galli-leo commented on #1313
Well that's kinda a fringe case, since you are expected to set a min availability profile.

[2017-04-09 12:58] galli-leo commented on #1312
@erylflynn Seems like Radarr does not have any info about the movie runtime. Can you do an update library and make sure the runtime information is correct on themoviedb.org?

[2017-04-09 13:04] galli-leo commented on #1311
You can do the same in Radarr?

[2017-04-09 13:04] #1311 closed

[2017-04-09 13:07] galli-leo commented on #1297
@dVIAN13 That's currently not in Radarr yet. We plan to add that for the 0.2 release, but it will have to wait.

[2017-04-09 13:07] #1297 closed

[2017-04-09 13:12] galli-leo commented on #1285
Should be fixed on latest nightly. Please try it and report back.

[2017-04-09 13:14] galli-leo commented on #1283
Seems like Radarr did not grab the remux movie? Or at least it grabbed what it thought was a Bluray, but after downloading it, it found it to be a remux movie?

[2017-04-09 13:15] #1277 closed

[2017-04-09 13:17] #1247 closed

[2017-04-09 14:18] mooop12 opened #1344 "Multiple movies in one path"
The primary use would be of course when a movies has multiple parts. I would like the movie files to all be in the same directory, but Radarr won't allow me to, because "Path is already configured for another series".

[2017-04-09 14:36] galli-leo commented on #1344
This is already a feature request and hopefully will be in Radarr for the first release.

[2017-04-09 14:36] #1344 closed

[2017-04-09 14:49] PascalMinder opened #1345 "Add additional Rename Options for the movie folder"
As I have seen, the rename options for a movie file name do have a lot more variables than the folder itself. Is it possible to add more variables like quality (1080p, 720p, etc) and so on?

[2017-04-09 14:51] PascalMinder opened #1346 "Cache the movie posters locally"
If I open the web interface it takes some time to download all the movie posters from the current page. Would it be possible to add a option to download and store those poster locally?

[2017-04-09 15:21] galli-leo commented on #1346
That's already done. There was a bug that prevented this from happening but that is fixed on the latest nightly.

[2017-04-09 15:21] #1346 closed

[2017-04-09 15:22] galli-leo commented on #1345
Not yet. We have a seperate branch where this is possible, but that feature needs some more testing.

[2017-04-09 15:22] #1345 closed

[2017-04-09 18:10] geogolem commented on #1326
if you guys are referring to "Downloaded Movies Scan" on the tasks page:
![image](https://cloud.githubusercontent.com/assets/23205277/24839741/2e0582e8-1d2e-11e7-9321-99b08a0cb4fb.png)

this corresponds to "Drone Factory" is will be disabled if the drone factory interval is set to 0... This has nothing to do with the regular downloading of radarr - it only corresponds to "Drone Factory" which is n

[2017-04-09 20:21] erwintwr2 opened #1347 "Movies picked up with wrong year"
**Description: Movies picked up with wrong year

Version
0.2.0.535

I am picking it up a few times where movies is detected incorrectly from my download folder. ( using drone factory folder with completed downloading switch off)

for example  :

have Detour(2013) and Detour (2016) in library

Detour 2016 is downloaded, but then the following happens :
Name: Detour
Source: C:\Downloads\Complete\Mov

[2017-04-09 20:29] galli-leo commented on #1347
Can you try with completed downloading on as well as using the latest nightly?

[2017-04-09 20:32] erwintwr2 commented on #1347
ok will test. How to i activate latest nightly? ( windows)

[2017-04-09 20:41] galli-leo commented on #1347
Go to Settings -> General -> Updates -> Branch -> Set to "nightly" (Without quotes). Might need to enable Advanced Settings for that to show up.

[2017-04-09 20:46] erwintwr2 commented on #1347
done :)
ok will report back if i notice again ( might just redownload the same file)

[2017-04-09 23:48] tooviral commented on #1318
There is two pending torrent downloads as I do have a usenet delay.  They are both listed as quality unknown and I am unable to clear them.

[2017-04-10 03:11] madmanali93 commented on #934
@evenwebb just update radarr it should be fixed.

[2017-04-10 03:15] giorgyss commented on #101
Same issue here
I can search and choose a download, but is not working automating
Version 525 recently installed from scratch

[2017-04-10 05:02] peavers opened #1348 "No results returned from Hydra"
Radarr Version: 0.2.0.535

Setting Hydra as my only indexer returns no results to Radarr.

I can see in my logs on Hydra that the search is being hit from Radarr, and Hydra has results returned when I manually search the same thing on Hydra. However nothing is making it back to Radarr. If I disable Hydra in Radarr and add my indexers directly things work as expected.

Don't know how much help it i

[2017-04-10 08:16] galli-leo commented on #101
@giorgyss Can you update to .535? Also do you see anything in the logs?

@mzaur Did you try removing PTP and adding it again?

[2017-04-10 08:20] galli-leo commented on #1318
@tooviral Would it be possible for you to go into the Radarr database (nzbdrone.db located in https://github.com/Radarr/Radarr/wiki/AppData-Directory) using a sqlite editor (e.g. sqlitebrowser.org) and posting a picture of the Pending Releases Table?

[2017-04-10 08:24] galli-leo commented on #1348
Do you see anything in the logs of Radarr? Also might be worth turning on Debug logging, trying again and then looking into the logs.

[2017-04-10 08:25] galli-leo commented on #554
@theebanka Your second point is now integrated into Radarr. Not sure if we are going to do the first one.

[2017-04-10 08:57] Jleagle commented on #1348
I also have just started having issues with Radarr/Hydra. Getting "All search-capable indexers are temporarily unavailable due to recent indexer errors" in system.

[2017-04-10 09:41] #540 closed

[2017-04-10 09:56] galli-leo commented on #1263
This is fixed in the latest nightly version. Expect a release in the coming days.

[2017-04-10 09:56] #1263 closed

[2017-04-10 13:46] onedr0p commented on #1348
Not sure what is going on, but hydra seems to be working here.

[2017-04-10 13:54] #1023 closed

[2017-04-10 13:54] #1318 closed

[2017-04-10 14:13] Quiksmage commented on #540
what should we white list for generic hc subs?

[2017-04-10 14:23] galli-leo commented on #540
@quilsmage Try hc or just allow hardcoded subs

[2017-04-10 14:27] galli-leo commented on #540
Orbetter try generic

[2017-04-10 14:28] weirdcrap commented on #1348
I am using the latest Hydra as my sole NZB Indexer as well without any issues.

[2017-04-10 15:00] mparents2007 commented on #557
Hi, is there any outcome to this issue yet, I have recently moved from Couch to Radarr and find it much better to use howevere I have today received this issue, it failed on the following file:

Lego.Batman.Movie.2017.720p.DivX.Avi.part01

however worked the other day on this file:

The.LEGO.Batman.Movie.2017.HDCAM.NEW-SOURCE.700MB.x264-DiRG

I have to wonder if it is anything to do with the 'Part

[2017-04-10 15:24] galli-leo commented on #557
@mparents2007 Can you post more detailed logs?

[2017-04-10 15:33] pbrink231 commented on #540
I see you added this as an option to the indexer.

Here is my scenario.  I would like to be able to do these settings in the Profiles.  toggle for allow HC.  I would also like to have a label (Category) gets used for the Download Client over what is set (this second part might need its own issue #).

Option 2 - have the profile have an option to use a specific indexer.  That way you can have the H

[2017-04-10 15:35] galli-leo commented on #540
@pbrink231 Can you open a new feature request for that and also post it to feathub?

[2017-04-10 15:38] pbrink231 commented on #540
new issue labelled feature request? yes

what is feathub?

[2017-04-10 15:46] galli-leo commented on #540
@pbrink231 [feathub.com/Radarr/Radarr](feathub.com/Radarr/Radarr)

[2017-04-10 15:46] pbrink231 opened #1350 "[Feature request] Select specific indexer and download client in profile"
Here is the scenario.  auto looking for early releases.  usually not great quality.  a lot of the time they have hard coded subs.  I want to allow these for specific movies and keep track of them to replace with something better when they are released.

The way I see it happening
Have the options all in the profiler.  Option to allow HC or not (Or allow specific indexer or any). Option to use a sp

[2017-04-10 15:50] pbrink231 commented on #540
done [http://feathub.com/Radarr/Radarr/+179](url)

[2017-04-10 18:15] #1337 closed, assigned to nobody

[2017-04-10 19:15] mparents2007 commented on #557
@galli-leo Hopefully thi is the information you need?

Message
Couldn't process tracked download Lego.Batman.Movie.2017.720p.DivX.Avi.part01: Movie with ID 2 does not exist

Exception
NzbDrone.Core.Datastore.ModelNotFoundException: Movie with ID 2 does not exist
  at NzbDrone.Core.Datastore.BasicRepository`1[TModel].Get (System.Int32 id) [0x0009d] in C:\projects\radarr-usby1\src\NzbDrone.Core\Data

[2017-04-10 19:17] mparents2007 commented on #557
@galli-leo

Also:

Message
Couldn't process tracked download Lego.Batman.Movie.2017.720p.DivX.Avi.part01: Object reference not set to an instance of an object

Exception
System.NullReferenceException: Object reference not set to an instance of an object
  at NzbDrone.Core.Download.CompletedDownloadService+<>c.<Import>b__9_3 (NzbDrone.Core.MediaFiles.EpisodeImport.ImportResult v) [0x00000] in C:\pr

[2017-04-10 19:49] seanvree opened #1351 "Unable to update to new version"
**Description:**

Unable to update to new Version.

GUI says I need to update, and it attempts to update, but then fails.

**Radarr Version:**
OS: Windows 10E
GUI says: Radarr Ver. 0.2.0.535

when I do a git branch -v I get

[code]

**Logs:**

[code]

[2017-04-10 20:09] galli-leo commented on #1351
Did you try to manually stop Radarr after installing the update?

[2017-04-10 21:00] Quiksmage commented on #227
Being able to add multiple of qualities would be helpful as well.

For instance, I currently have a cutoff at 1080p bluray.

This likely happens when the first scene bluray releases hit, such as SPARKS.

The problem lies in that radarr stops searching for higher quality releases.

An easy fix to this would the ability to have multiple of the same quality (the ability to add a new quality and defin

[2017-04-10 21:08] seanvree commented on #1351
@galli-leo  YES.  and when it comes back up, it just says I have an update.

[2017-04-10 21:22] galli-leo commented on #227
@Quiksmage If you can wait, you can set a delay profile for e.g. 24 hours. Then a movie without preferred words will only be added if a better version is not found within this timespan.

[2017-04-10 21:40] gilbN opened #1352 "English is wanted, but found Norwegian/Danish"
There should be possible to add several languages in the profile settings.  Or is there a way to get around this? Because the torrent says NORDIC or DanishBits radarr thinks the language is Norwegian or Danish but it's just the subs.
http://imgur.com/jo2nBw6
http://imgur.com/a/CVzzX

**Radarr Version:**
0.2.0.596

**Logs:**

Please use the search bar and make sure you are not submitting an already

[2017-04-10 21:41] vertigo235 commented on #227
Yes I use a delay profile and it works pretty well, but sometimes the more preferred releases are not released as quickly.

However, I also understand the effort that would be needed to do as requested above, quality profiles are not dynamic but static and can not be changed / edited easily.

[2017-04-10 21:49] peavers commented on #1348
From the debug logs:
[code]
If I hit that endpoint in my browser I get:
[code]
I don't see anything else in the logs that look like things have gone wrong, just getting zero results back...

[2017-04-10 21:53] Quiksmage commented on #227
I see, and that delay profile option should work for the most part (albeit, I'd prefer not to wait). If there's no intention to add what I mentioned, I completely understand. It may be too time consuming for something a majority of people may not even need or consider. Thanks for taking the time to read it.

[2017-04-10 21:57] galli-leo commented on #227
@Quiksmage I can't guarantue you that it will be added. It's definitely something a few people would like. But it's not a pressing feature. I think we would probably implement such a thing differently and blow out the whole quality profile thing.

[2017-04-10 21:59] galli-leo commented on #1348
@peavers Can you remove 2060 from the category string in Radarr and try again?

[2017-04-10 22:00] galli-leo commented on #1348
Also maybe the imdbid is not correctly used in your indexers?

[2017-04-10 22:10] peavers commented on #1348
Have removed 2060 and still no luck I'm afraid, using nzb.su and oznzb which both support imdbid as far as I know. Any other suggestions?

[2017-04-10 22:17] mcgae-iscteiulpt opened #1353 "LSOpenURLsWithRole() failed with error -10810 for the file /Applications/Radarr.app"
Hi,
My Sonarr app works but the Radarr app doesn't.
I open with the command sudo open "/Applications/Radarr.app" on Terminal and give me this error:
LSOpenURLsWithRole() failed with error -10810 for the file /Applications/Radarr.app.
And I couldn't make the app work whatever I did (including deleting and re-installing the app with other version)
Someone can help me?
I'm working on OSX

[2017-04-10 22:22] peavers commented on #1348
Trace logs, might be helpful. Is the database being locked an issue here?
[code]

[2017-04-10 22:39] ultimate255 commented on #1185
![image](https://cloud.githubusercontent.com/assets/8908295/24885520/85a1e14a-1e14-11e7-92aa-13f001aa5d57.png)

Version
0.2.0.596
Mono Version
4.8.0 (Stable 4.8.0.520/8f6d0f6 Wed Mar 15 16:18:35 UTC 2017)

The issue still persists, I have to manually download releases with Colon : in the title.

[2017-04-10 23:30] talisto opened #1354 "[Feature Request] Option to disable scanning for missing files"
I use Radarr on a server that moves the movies to a cloud drive and then deletes them off the server after they've been downloaded.  I have "Ignore Deleted Movies" enabled so that Radarr won't keep continually downloading the same movie repeatedly when the files get moved off the local drive.

However, the problem I'm having is that if "Ignore Deleted Movies" is enabled and a better quality versio

[2017-04-11 01:07] Qdhcjv opened #1355 "Don't import at all- simply send download to client and later scan for file/directory"
I don't need to organize my /movies directory (seeding and the like can be a challenge) so I want to leave my movies in their original file structure (`/movies/Big.Buck.Bunny.1080p.WEBDL/`) rather than Radarr copying/linking to `/movies/Big Buck Bunny/` or whatever. It seems in the current state I either let it copy or I can manually update the directory for the movie. Does anyone else want this o

[2017-04-11 01:35] Quiksmage commented on #1347
I had a problem with It 2017 grabbing the original "It", but since switching to nightly and doing manual searches on it/beauty and the beast/ etc, I haven't found an instance where a different year with the same name was showing up. Thanks for fixing this!

[2017-04-11 06:41] mitchelp opened #1356 "Force search for "Missing, Monitored and considered Available""
Maybe there already is a way to force this but i'm not aware how?
But i'm looking for a way to push Radarr to search for the Missing movies but that are already considered as Available.

Currently you need to filter the output for those movies, and manually open a movie page and press the "magnifying glass" to start the search. But I have 300+ missing movies but those are considered available and

[2017-04-11 07:20] galli-leo commented on #1348
No that's a "normal" error that does not influence anything, hence why it is only on a Trace level. Can you try only using category 2000? Also can you try (in a browser) using q=Star+Wars instead of imdbid=...?

[2017-04-11 08:11] galli-leo commented on #1356
You can go to the Wanted tab and then select Available & Monitored as the filter. If you then click search all, Radarr will search all movies that are monitored & missing & available.

[2017-04-11 08:11] #1356 closed

[2017-04-11 08:13] galli-leo commented on #1355
You could disable completed download handling in Settings -> Download Clients.

[2017-04-11 08:24] galli-leo commented on #1354
One thing you could do before we implement something like this, is replace the movie files with a 0KB file that has the exact same name. AFAIK Radarr then should still retain the movie, but it won't take up harddrive space.

[2017-04-11 08:26] galli-leo commented on #1353
Can you open a Terminal and do the following?:
[code]
If Radarr starts up after that, quit the terminal and you are good to go. If not, please post the error here.

[2017-04-11 08:28] #1183 closed

[2017-04-11 08:29] galli-leo commented on #712
@dan-the-man-nz Can you try to reproduce this in the latest version? I think this is fixed.

[2017-04-11 08:52] ErAzOr2k opened #1357 "Wrong title language in folder after renaming"
**Description:**
The automatic renamig function doesn't create folders in the wanted language (german in this example). The file however is named correctly.

Example:
/mnt/movies/The Hobbit An Unexpected Journey (2012)/Der Hobbit - Eine unerwartete Reise (2012).mkv

or

/mnt/movies/The Magnificent Seven (2016)/Die glorreichen Sieben (2016).mkv

**Radarr Version:**
0.2.0.596

[2017-04-11 08:55] Zignature opened #1358 "[Feature request] Multiple categories"
I keep animation movies (for my daughter) and "normal" movies in separate root folders.
I'd like to be able to select which root folder the movie should be imported to when adding files to the download cue.
Maybe this could be automated with the use of multiple categories for download clients...

[2017-04-11 08:58] galli-leo commented on #1358
You can already select different root folders when adding the movies? Not sure what you want besides that?

[2017-04-11 09:02] mitchelp commented on #1356
@galli-leo you're right!! Sorry thanks for the help.

[2017-04-11 09:09] galli-leo commented on #1357
This is fixed on the rename-folders branch.

[2017-04-11 09:09] #1357 closed

[2017-04-11 09:11] Zignature commented on #1358
Forgive me my ignorance. You're absolutely right...
Didn't have enough coffee yet 😆

[2017-04-11 09:21] Zignature commented on #1358
You might as well delete this one...

[2017-04-11 09:37] mcgae-iscteiulpt commented on #1353
Give me this error

![captura de ecra 2017-04-11 as 10 35 47](https://cloud.githubusercontent.com/assets/26227312/24902663/c2514156-1ea2-11e7-8fca-910946dd1619.png)

[2017-04-11 10:23] stuntguy3000 opened #1359 "Updates tab hangs when 403 returned from update server"
![image](https://cloud.githubusercontent.com/assets/1522389/24904703/73dbfa72-1ef0-11e7-8f7a-24f6a0e45dbb.png)

![image](https://cloud.githubusercontent.com/assets/1522389/24904718/7f27f4d0-1ef0-11e7-8761-96d8d3286acd.png)

[2017-04-11 10:29] peavers commented on #1348
Thanks heaps for the responses so far.

Removing everything but 2000 didn't change anything; Sending a query via Postman returns a bunch of objects/matches looking like...
[code]
Since the imdb value is 0000000 for each object, does that mean my indexers don't support the imdbid?

[2017-04-11 10:42] Qdhcjv commented on #1355
I have done this, but still Radarr assumes the movie is in /movies/Fancy
Title (Year) and not /movies/Crappy.Title.that.it.Downloads.in.720p.WEBDL,
so it never marks the movie as downloaded. I have to manually update the
path once the download is complete.

On Tue, Apr 11, 2017, 4:13 AM Leonardo Galli <notifications@github.com>
wrote:

[2017-04-11 11:56] fevkalbeser opened #1360 "Incorrect Name Grabbed from Jackett"
When trying to search for a movie, the letter "I"(capital i) is not grabbed from Jackett, resulting in erroneous importing of the movie and failure to download.

I am using Jackett to search from indexers such as IPTorrents and Katcr. The search from within the app itself lists correct results. However, when I use Radarr to search, the "I" (if it is at the beginning of the word) is deleted from th

[2017-04-11 12:06] galli-leo commented on #1360
In that case shouldn't you open an issue with Jackett?

[2017-04-11 12:06] galli-leo commented on #1355
@Qdhcjv Ah ok, gotcha. So you don't want the movie to be moved?

[2017-04-11 12:08] galli-leo commented on #1348
@peavers  Can you confirm that doing the query via postman using imdbid=tt3748528 does not return any such results?

[2017-04-11 12:09] Qdhcjv commented on #1355
Yep exactly @galli-leo. Like the-automation-software-that-shall-not-be-named (CouchPotato), I'm fine with Radarr leaving the files in the directory dictated by the download client.

[2017-04-11 12:10] fevkalbeser commented on #1360
@galli-leo But Jackett lists the movie names correctly. My impression is that Radarr and Sonarr are having trouble grabbing from that list. If you strongly suggest that this is Jackett's issue, then sure I will also open an issue on its page.

[2017-04-11 12:10] galli-leo commented on #1353
Seems like the database is corrupt. Can you follow this: https://github.com/Sonarr/Sonarr/wiki/FAQ#i-use-sonarr-on-a-mac-and-it-suddenly-stopped-working-what-happened except go into ~/.config/Radarr instead of ~/.config/nzbdrone?

[2017-04-11 12:16] galli-leo commented on #1360
@fevkalbeser I don't know. But if Radarr and Sonarr both give the same result I think Jackett's the culprit here. Additionally my Jackett displays the one Kong Island release it has correctly.

[2017-04-11 12:16] #1360 closed

[2017-04-11 12:16] #1358 closed

[2017-04-11 12:24] mcgae-iscteiulpt commented on #1353
Only the 6 and 7 steps solve me the problem.
Problem solved, Radarr is working again 👍
Thanks :)

[2017-04-11 12:41] #1353 closed

[2017-04-11 13:37] seanvree commented on #1351
@galli-leo - Any update on this?

Possible to just save my config file and the Db, wipe out the root dir and copy that stuff over?

I'd really like to see the hard work you guys have done!

[2017-04-11 16:19] galli-leo commented on #1351
@seanvree Sorry not really sure why that error might occur. Did you try restarting your Computer? Also can you try manually downloading the update and applying it?

[2017-04-11 16:22] seanvree commented on #1351
@galli-leo ,

Yeah, have rebooted.

YOu mean, just downloading the source file and overwriting the current DIR?

That was my question above, will that work?

[2017-04-11 16:23] galli-leo commented on #1351
Yeah that should work.

[2017-04-11 16:37] Goot449 commented on #1303
I am having the Same Issue.

I try to start the service manually, this was all that was in the Radarr Log. Windows just said

The service did not respond to the start or control request in a timely fashion.

This is all that was in the Logs of Radarr
`17-4-11 12:27:38.4|Info|Bootstrap|Starting Radarr - C:\ProgramData\Radarr\Bin\Radarr.Console.exe - Version 0.2.0.596
17-4-11 12:27:50.3|Info|Migrati

[2017-04-11 16:37] seanvree commented on #1351
Yeah, that worked.

I'd mark this as a bug. Really weird.

LOOKS GOOD THO!  Glad to have my status page back!!!

[2017-04-11 16:45] maxkoning commented on #914
I also have this problem, but with Sonarr, on the DS215j.

[2017-04-11 17:34] galli-leo commented on #1351
I really don't know. Never have encountered that exception before 😬

[2017-04-11 17:44] seanvree commented on #1351
No biggie! I'll keep an eye on it!

[2017-04-11 21:48] peavers commented on #1348
Correct. This means it's definitely an issue with Hydra?

If that's the case, those people above that say it works for them - would love to see your config!

[2017-04-11 21:58] peavers commented on #1348
Ugh just worked it out. This was a accidental configuration change in Hydra. For anyone else that finds this, make sure in Hydra under config you've set Generate queries to both internal and external api calls.

Sorry for wasting your time @galli-leo, but thanks for sticking it out!

[2017-04-11 21:58] #1348 closed

[2017-04-11 23:30] Quiksmage commented on #203
on the lastest develop, I'm getting the following when testing.
I also got a 6 hour ban from PTP for failed logins from radarr as well. Not exactly sure what happened on this release. My Jackett torznabs are working fine.

[code]

[2017-04-11 23:37] Quiksmage opened #1361 "Indexer Issues on latest nightly/develop"
I was on the latest nightly and switched back to the lastest develop after having problems, I'm getting the following when clicking test on the AHD indexer.

[code]

I also got a 6 hour ban from PTP for failed logins from the latest nightly in radarr as well. When that ban is up, I'll see if the latest develop release has the same issue of not being able to log in. Not exactly sure what happened o

[2017-04-11 23:43] arm3n commented on #853
Agreed - would donate a beer if functionality to rename folders after the scan already determined the import with lacking years.

[2017-04-12 00:28] animosity22 opened #1362 "Feature - Removed from Watchlist"
My general flow is to add items to my trakt watchlist as time goes on and once something is grabbed and downloaded, it was normally removed from the watchlist that it was on.

I tend to remove items I already have and move them away to cloud storage or something to help save on local space. By having to manually remove it from the list, it breaks some of the nice automation flow that normally goes

[2017-04-12 02:58] geogolem commented on #1362
I think the feature you are requesting already exists....

I basically use trakt to manage everything.
----------------------------
Trakt Watchlist: What I want to watch
Trakt Watched List: What I have watched (history etc.)
Trakt Collected List: What I have downloaded and currently have available (i.e. what is currently available in my Plex Library)

Plex can add/remove things from my Trakt Colle

[2017-04-12 03:00] geogolem commented on #1362
I think the clean library feature is what you are requesting.. but Im not sure if I am misunderstanding your request. Please let me know if you need help with this feature or clarify what exactly you would like to accomplish.

[2017-04-12 03:07] geogolem commented on #1362
--> Perhaps I did misunderstand what you wanted....  Is it that you want the item to be removed from the "Trakt Watchlist" when it is downloaded?

though I can see someone using the watchlist in this way --> the trakt watchlist is actually supposed to (if i understand correctly) reflect what movies you would like to watch.... including movies that you might have downloaded but have yet to watch. T

[2017-04-12 03:14] animosity22 commented on #1362
Sorry explained so poorly.

Nothing in Radarr directly, but it pulls from a trakt watchlist and there was an option to remove it from the watchlist once downloaded.

So workflow would be movie added to trakt watchlist called Blah.
Radarr grabs movie from watchlist and adds Blah to get downloaded
Once downloaded, Blah is removed from Trakt watchlist so it cleans up the watchlist.

[2017-04-12 03:15] animosity22 commented on #1362
Specifically in Couchpotato, there is a "Remove from Watchlist" option once it gets downloaded.

[2017-04-12 03:15] geogolem commented on #1362
I see --> I understand what you want.. So you are not using the Trakt watchlist to track which movies you want to watch but rather which movies you want to download?

[2017-04-12 03:17] animosity22 commented on #1362
I do that as well. The watchlist populates movies I want to download. The 'watch' is a different flag.

Once "Marked as Done" in Couchpotato, it removes from the Watchlist only.

In this shot, you can see I "collected it' (it's a the wrong resolution so still in my list). Once marked done, it removes from the Watchlist.

http://animosity022.imgur.com/all/

[2017-04-12 03:19] geogolem commented on #1362
I can see how people might want to use a feature like this but its not really how the Trakt WatchList is intended to be used IMO (but then again Trakt isnt really intended to be used as input to something like RADARR.. is it lol...)..

I see someone on trakt tried to request a similar feature: http://support.trakt.tv/forums/188762-general/suggestions/5200378-remove-collected-movies-from-watchlist

[2017-04-12 03:22] animosity22 commented on #1362
I used it as it just was there in Couchpotato.

It's like a backup of the current "Missing/Wanted" section so if you had to redo, it's instant.

[2017-04-12 03:24] geogolem commented on #1362
yes - i personally use it the opposite way... my radarr is like a backup of my trakt watchlist.. so if i had to reinstall radarr etc. everything would be back in radarr as it was before.. i.e. do a list import and then scan the disk for files etc.

I understand what couchPotato did... and I understand that you effectively want the same behavior out of radarr and I dont think its a bad idea --> we

[2017-04-12 03:27] geogolem commented on #1362
For example, in Radarr I am thinking the best way to do this would be to have a new option in the Edit List dialog:

![image](https://cloud.githubusercontent.com/assets/23205277/24939887/6263da4e-1f0e-11e7-8eb0-d2b7f205fce6.png)

Remove item from list on successful Download

[2017-04-12 03:29] animosity22 commented on #1362
Yep. That would meet the use-case I was doing without a problem.

I don't offload to my ACD drive until it's actually done so that works perfect.

[2017-04-12 03:31] geogolem commented on #1362
So basically upon every successful download in Radarr --> any lists with "Remove item from list on successful Download" set to YES.... will have the corresponding movie removed (if it exists).. If you have multiple lists and the movie exists on multiple lists... it will be removed from all the lists that has this turned on.. Does that make sense?

[2017-04-12 03:35] geogolem commented on #1362
If thats the case I think its definitely a useful feature and feasible.

[2017-04-12 03:41] animosity22 commented on #1362
Yep. You got it. And definitely no rush as I just wanted to get the idea out there :)

[2017-04-12 06:09] Quiksmage commented on #1361
I re-entered my password for ptp and was successfully able to test. I'm not sure why updating would have broken this. AND is still throwing the same error as above

[2017-04-12 10:13] galli-leo commented on #1361
Seems like AwesomeHD might have changed their feed? I will have to wait on onedrop since he's the only one with an account.

[2017-04-12 12:23] jojogrosso commented on #658
Also it will be nice to have a possibility to keep the folder name as the release name (as couchpotato is doing) as it's easier to identify what releases/versions you have.

The renamer renames the file name for me, but not the folder. I also would like to be able to keep the folder name as the release name (like CP) so you can identify what release you have.

[2017-04-12 12:42] Symilds opened #1363 "Add Import Exclusion From List Page"
It would be neat if there was a way to ignore movies on the list import page.

eg:
I have imported everything I want from my lists.
There are around 20 movies left on the lists that I don't want to show up every time I view the lists.

The code to do this already exists[i think] ( after adding a movie from a list, if you try to delete it, it gives you the option to "Exclude movie from Auto List Im

[2017-04-12 12:45] Symilds opened #1364 "[Feature Request] View format on List Feeds"
Would it be possible to view the movies in your list feed in the same format at your movies ( with a picture and description)

If this would create too much traffic on imdb etc, then what about when clicking on a movie title it drills down to a picture/description, so it only loads if you want to drill down.

At the moment clicking the movie title takes you to the imdb page. This is already access

[2017-04-12 12:55] dannyhanes opened #1365 "Unable to add PTP as indexer."
**Description:**
I tried adding PTP on the previous version but I had this same issue. I updated seeing that there was a bug fix for PTP but it still isn't working.

**Radarr Version:**
0.2.0.596

**Logs:**
17-4-12 08:46:50.0|Warn|PassThePopcorn|Unable to connect to indexer

[v0.2.0.596] System.Net.WebException: Error: SendFailure (Error writing headers) ---> System.Net.WebException: Error writing

[2017-04-12 13:12] onedr0p commented on #1365
You prolly need libcurl-ssl-dev installed.

[2017-04-12 13:12] galli-leo commented on #1365
You need to either update your mono version or much easier libcurl: e.g. apt-get install libcurl3

[2017-04-12 13:12] onedr0p commented on #1361
I will take a look later today, I noticed it failing on my end too.

[2017-04-12 13:22] dannyhanes commented on #1365
Installed libcur3 but it still doesn't work. Here is my mono version:

`Mono JIT compiler version 4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           __thread
	SIGSEGV:       altstack
	Notifications: epoll
	Architecture:  amd64
	Disabled:      none
	Misc:          softdebug
	LLVM:          supported, not en

[2017-04-12 14:28] onedr0p commented on #1365
Did you try `sudo apt-get install libcurl-ssl-dev` ?

[2017-04-12 15:59] dannyhanes commented on #1365
Ah. For anyone else on Ubuntu, I ran `sudo apt-get install libcurl4-openssl-dev` thanks! It is indexing now.

[2017-04-12 16:20] Quiksmage commented on #1361
AHD appears to be working right now when testing.

[2017-04-12 16:44] #1365 closed

[2017-04-12 17:27] geogolem commented on #1362
So I did some investigation into this --> and with some more information/experience I think perhaps an implementation like CouchPotato is more appropriate. You can only remove items from the watchlist for which Radarr is currently authenticated...

so this should correspond to the authentication --> and not the list itself.

For custom trakt lists the method previously described should work but fo

[2017-04-12 17:56] arm3n commented on #1322
Ditto.

[2017-04-12 18:12] geogolem commented on #1362
perhaps also, you might want to have the option --> remove from watchlist when "cutOff Met" or something like that, also... anyway, if we implement it in one spot (i.e. on successful Import) it should be quite easy to make it happen on another event.. like cutoff met or something. etc.

[2017-04-12 18:34] animosity22 commented on #1362
Yes, that does work well too. I'm trying to adjust to the Radarr terminology for events as "marked as done" was more Couchpotato, but Cutoff is definitely good.

I only use the 1 trakt watchlist for my purposes. My other trakt use is a backup of my library watched status so that's my main goal out of Trakt.

I tend to browse the trending stuff and add items to my watchlist so pick up new movies.

[2017-04-12 20:25] dan-the-man-nz commented on #712
hi

its not fixed / working correctly

*deleted H:\Movies\Moviename (2016) directory
*went to the movie in radarr, did a 'update movie info and scan disk'
*seemed to work, under Files, the entry disappeared, and it said it was missing
*then i manually ran the task 'refresh movie' - now the entry under file is back  (yet the file and directory no longer exists), but it still says missing.

![image]

[2017-04-12 21:25] galli-leo commented on #712
@dan-the-man-nz Can you try refreshing your browser window with force clearing the cache (IIRC shift-f5 on chrome) The file tab is often not so good in updating. When the movie is shown as missing, that should be the important part.

[2017-04-12 21:29] dan-the-man-nz commented on #712
yes you are right, there is a caching issue with with Files tab...

[2017-04-12 21:38] animosity22 commented on #1361
I'm on the latest develop and AHD was broken for ~1day and a half and came back this morning. I made no changes. I was getting feed invalids and that went away this morning.

No PTP issues in my logs over the last few days.

[2017-04-12 21:40] animosity22 commented on #1328
I was trying to work around this.

My use case is that I have ~10TB on a cloud drive and slow seek times.

I want to bulk import about 1000 or so movies that are there so Radarr knows about them.

Is there anyway to do that now? I don't mind if something takes a day but if I try via the gui, it just hangs trying to enumerate all the files using the bulk import there.

[2017-04-12 21:52] galli-leo commented on #1328
@animosity22 not really. The only option i see is doing the bulk import with a page size of 25 or even lower.

[2017-04-12 21:53] animosity22 commented on #1355
If you want to make some adjustments, you can always use filebot or something like that to make some fixes.

I'm not sure why you'd want the quality listed in the directory name as things like Plex/Emby don't like that in terms of naming conventions.  I user their standard file naming/directory naming and things work quite well and it's portable if you want to change out things. I like keeping the

[2017-04-12 21:56] animosity22 commented on #1347
Nice. I was seeing this with Split as it was finding the 2016 version. I'll wait till it get pushed to develop as I'm not quite the "Nightly" type of guy :)

[2017-04-12 22:07] animosity22 commented on #1328
@galli-leo  - so the page size would limit it to only grabbing 25 items? I think I can do like a 100 at a time and just leave it spin while at work 👍

[2017-04-12 22:15] Firemad03 opened #1367 "Import movies in bulk years bug can't import"
Hi,

When I tried to import my media collection because I recreated from scratch my VM I got an error:

![image](https://cloud.githubusercontent.com/assets/24792889/24981648/a2956464-1fab-11e7-84e3-5d23922772e6.png)

Error occured while searching for new movies.: Encoding 28598 data could not be found. Make sure you have correct international codeset assembly installed and enabled.

System.NotSupp

[2017-04-12 22:20] Firemad03 commented on #1367
I found my problem. Centos 7 need the mono-locale-extras.

yum install mono-locale-extras ;)

Sorry was on my end.

[2017-04-12 22:28] animosity22 commented on #1328
@galli-leo  - since we were having the trakt discussion earlier, you gave me a great idea for a work around.

I used the trakt list of Collection, imported them as not monitored, updated the path to my ACD path instead, refreshed the series and it found them without doing any type of analyze.

[2017-04-12 22:39] #1367 closed

[2017-04-12 22:41] Firemad03 opened #1369 "Movies Update Bug and Radarr crashed"
DiskScanService failed while processing [MovieUpdatedEvent]: Value can not be null.
Parameter name: profile

System.ArgumentNullException: Value can not be null.
Parameter name: profile
  at NzbDrone.Common.EnsureThat.EnsureObjectExtensions.IsNotNull[T] (NzbDrone.Common.EnsureThat.Param`1[T] param) [0x0001d] in <d6f4a8e4bdc44ce3b079f6edd641974f>:0
  at NzbDrone.Core.Qualities.QualityModelComparer.

[2017-04-12 22:42] Firemad03 commented on #1369
Non 200 StatusCode Forbidden encountered while searching PreDB.

[2017-04-12 22:42] Firemad03 commented on #1369
Build: 0.2.0.596

[2017-04-12 22:43] Firemad03 commented on #555
I will. I'm reinstalling my french radarr server. I will test it out when it's ready.

[2017-04-12 22:58] Firemad03 commented on #1322
#1369 I got more information in the error. I think my bug is related to this one :)

[2017-04-12 23:13] ximox69 opened #1370 "Radarr ¨Sort¨ defaults on alphabetical"
**Description:**

Radarr resets to alphabetical order (in table view):
when I select to sort by Date Added (which is I guess the most important view to review new titles) after 2 clicks it goes to the right sort but when changing page or clicking any link it reverts to alphabetical order, would it be possible to make it remember the last setting/view used?

Thanks.

[2017-04-12 23:51] Firemad03 commented on #555
I confirm that it's fixed.

[2017-04-12 23:53] Firemad03 opened #1371 "Rejected because it's larger than 0B"
Screenshot :

![image](https://cloud.githubusercontent.com/assets/24792889/24984131/a4be1fb6-1fb9-11e7-85a1-1271567b0772.png)

Build: 0.2.0.610

[2017-04-12 23:54] Firemad03 commented on #1371
Here my configuration:

![image](https://cloud.githubusercontent.com/assets/24792889/24984177/de232b48-1fb9-11e7-88b2-a2aea3282b3c.png)

Everything is standard :)

[2017-04-13 01:01] mzaur commented on #1185
I am still having same issue.

0.2.0.596 with mono 4.8.0

<img width="1390" alt="screenshot 2017-04-12 20 58 24" src="https://cloud.githubusercontent.com/assets/8196780/24985572/1cda4598-1fc3-11e7-8543-37497b05465f.png">

[2017-04-13 01:18] Firemad03 commented on #555
In case you want screenshot:

![image](https://cloud.githubusercontent.com/assets/24792889/24985961/8031141c-1fc5-11e7-8418-56ae54897411.png)

![image](https://cloud.githubusercontent.com/assets/24792889/24985955/77b071f2-1fc5-11e7-967c-0bbb44135131.png)

French title goes to history instead of queue.

[2017-04-13 02:11] shauder commented on #761
I am having this issue also.

https://www.reddit.com/r/radarr/comments/650crl/radarr_and_deluge/

Basically from looking at the Deluge logs it appears it sends the torrent name with the checkmark and the golden torrent emoji things and Deluge barfs.

[2017-04-13 02:28] Firemad03 opened #1372 "Object reference not set to an instance of an object"
I got a few errors.

This one is when I was using Trakt.tv list

I stopped because I got a lot more ;) hope it's helping to correct something :)

[2017-04-13 02:29] Firemad03 commented on #1372
Build: 0.2.0.610

[2017-04-13 02:51] Firemad03 commented on #1372
Ok first one I restarted Radarr and it fixed itself.

Second one for Trakt it's because the Quality Profile was missing. I was drunk or stupid and I forgot it so to correct the problem I did a mass edit to my list to add the profile manually.

I suggest that you force people to choose a list instead of leaving it blank and trow a red error to select a Quality profile or it won't add it because the

[2017-04-13 03:23] geogolem commented on #1372
yes - we ran into a similar issue before.... The reason we couldn't validate a profile exists directly when a user edit's or saves a list is because the user could specify a profile that exists... and then later remove that profile from the available profiles.... which would cause a similar problem despite the user actually specifying a profile initially...

I think you are right though and perhap

[2017-04-13 03:28] Firemad03 commented on #555
This issue cause another problem. If I do a multiple search all...well you guess that if I press 3 times it will find and send to sabnzbd 3 times the same movies... 👎 not all of them but the one in the history tab.

[2017-04-13 03:33] Firemad03 commented on #1372
Your the man of the month :) +9000 , yes you understood correctly the situation 👍

I agree with all your ideas.

I wanted to raise a flag about this issue because it took me an hour to understand what happened :) and because the error message was really bad I didn't know what I did wrong.

[2017-04-13 03:43] Quiksmage commented on #1370
It should remember this. I see it remembering on my side.
I have seen it reset after updates, though.

If it's not saving at all for you, there may be something deleting your cache/cookies?

Try a separate browser and see if your settings stick there.

[2017-04-13 04:01] quikstrike commented on #1361
I ran into this issue as well, started about three days ago for me. I've been doing some testing and it seems that disabling the "Require Internal" toggle makes my request start working again, but once I re-enable it my tests start failing again. Here are some debug logs of me testing with Require Internal enabled, then with Require Internal disabled, and finally a third time this time with Requir

[2017-04-13 04:06] quikstrike commented on #1361
I forgot to mention that I also manually did a test request(via curl) , using the api endpoint listed in the logs and substituting my passkey, and I am able to successfully make the CURL request that is failing on Radarr. Let me know if I can help in any way.

[2017-04-13 05:25] shauder commented on #761
1) Error : NzbDrone.Core.Test.HistoryTests.HistoryRepositoryFixture.should_get_download_history
NzbDrone.Core.Datastore.CorruptDatabaseException : Database file: C:\projects\radarr-usby1\_tests\_temp_636276566422535293\VirtualNzbDrone\nzbdrone.db is corrupt, restore from backup if available. See: https://github.com/Sonarr/Sonarr/wiki/FAQ#i-am-getting-an-error-database-disk-image-is-malformed
  ---

[2017-04-13 05:27] jundis commented on #1326
I would suggest that there be an option for an automated movie scan then.

Multiple times now I have manually imported a torrent download that was rar'd only to have Radarr download it again via usenet a day later.

[2017-04-13 06:28] zductiv commented on #1326
I don't believe Radarr supports rar'd files at this time so that is why they will be getting redownloaded.

Depending on your download client you should be able to have it extract the files to a different folder on completion, then have the drone factory set up for the extracted files location and it should work.

Deluge and utorrent can both do it I believe. Not sure on others.

[2017-04-13 07:36] galli-leo commented on #1361
@quickstrike Do you see a difference between the return of the curl request with internal required enabled and with it disabled?

[2017-04-13 07:37] galli-leo commented on #1370
Maybe you are using Radarr in incognito view?

[2017-04-13 07:42] galli-leo commented on #1371
Yeah, the problem here is that TMDB does not have a runtime for this movie in French, so it just sends us 0 minutes. IMO that should be handled better by TMDB, but I want to add a default runtime anyways.

[2017-04-13 07:44] galli-leo commented on #1322
Currently not much we can do, since predb apparently just blocks Radarr clients now. When I have got more time I want to talk to the maintainers of predb.

[2017-04-13 07:44] galli-leo commented on #1369
Yeah, this is fixed on the latest nightly.

[2017-04-13 07:44] #1369 closed

[2017-04-13 07:46] galli-leo commented on #1328
@animosity22 Good to hear that!

[2017-04-13 07:47] galli-leo commented on #1347
@animosity22 That commit should be on the latest release (.596) now.

[2017-04-13 07:53] galli-leo commented on #1185
@mzaur Your problem is that The Movie Database thinks the movie released in 2009, while your torrents say 2008. Only fix I can offer is to change the release date on themoviedb.org of that movie yourself.

[2017-04-13 08:27] #1185 closed

[2017-04-13 11:03] Aesculapius opened #1374 "Unable to connect to Radarr after changing SSL"
Using the latest radarr version on a linux ubuntu machine, I've enabled SSL and accidentally entered the same port as on which the non-ssl was running...

Now I cannot access radarr anymore and I don't know how to revert this change. Cannot find any appropriate config files in /opt/Radarr/

Maybe the GUI should have warned (or prohibited) me that setting SSL port to the same nr as the current is n

[2017-04-13 11:52] galli-leo commented on #1374
There should be a file called config.xml either inside /opt/Radarr or ~/.config/Radarr There you can set the ssl port.

[2017-04-13 12:04] #1371 closed

[2017-04-13 12:05] Aesculapius opened #1375 "Bulk import movies with different settings"
When trying to bulk inport movies, I can't seem to change settings appropriately. When selecting for example a 720p HD quality, I expect the dropdowns of all subsequent movies to change to 720p HD, but instead it is also changing every previous movie. This way I can only import these movies with the same settings which clearly isn't right...

![image](https://cloud.githubusercontent.com/assets/617

[2017-04-13 12:06] galli-leo commented on #756
I added a default runtime of 110 minutes in case the movie does not have a runtime given by TMDB.

[2017-04-13 12:06] #756 closed

[2017-04-13 12:11] woble commented on #167
I can't be of any technical help, but perhaps I can point in the right direction. I personally use MediaElch, which in its own time uses Fanart.tv, The Movie DB and IMDB as sources to fetch all the metadata and images. The nice thing about it is that it allows selecting where to fetch specific data from, e.g. rating from IMDB and tagline from TMDB, essentially allowing you to setup your own config

[2017-04-13 14:29] Aesculapius commented on #1374
thanks, that made it available again - although SSL still isn't working (and I can seem to find the place to set the path to my letsencrypt certificate...)

[2017-04-13 14:42] animosity22 opened #1376 "Replace Spaces - Setting won't stick"
**Description:**
I'm seeing an issue that when I click on the "Replace Spaces" option, it doesn't seem to 'stick' on Yes. I cleared cache, restarted in debug mode for the browser and each time I hit save and refresh, it looks to set as no.

The name preview looks right though.

http://i.imgur.com/p7tjpWk.png

**Radarr Version:**

Radarr Ver. 0.2.0.596
develop

**Logs:**
[code]

[2017-04-13 14:45] animosity22 commented on #1355
@Qdhcjv  - assuming Windows? You can use hard links as a possible option if on Linux.

[2017-04-13 14:48] Qdhcjv commented on #1355
@animosity22 unfortunately, my current raid setup doesn't allow for hardlinks, only symbolic ones, which Radarr/sonarr do not.

[2017-04-13 14:52] abarber229 commented on #1326
Thank you for the help guys. You have answered my question on about the
downloaded movies scan being disabled.

On Thu, Apr 13, 2017 at 2:28 AM, zductiv <notifications@github.com> wrote:

--
Thank you,

Austin Barber

[2017-04-13 16:36] theebanka opened #1378 "Can't Load Radarr in Google Chrome"
Hey there I am really hoping this is a simple issue and I am just missing something silly but this is happening with both radarr and sonarr. Recently (not sure on exact date) I became unable to load either site in Google Chrome. The login page would come up but after hitting log in it will endlessly stay on the loading bubbles going from side to side. Nothing in my settings for either app has chan

[2017-04-13 16:48] quikstrike commented on #1361
@galli-leo Yes, but only the movies in the search results are different. The structure of the payloads are the same. I can provide the XML payloads if you would like.

[2017-04-13 17:14] ximox69 commented on #1370
In Edge doesn't work, but in chrome does, annoying as I use edge only for sonarr radarr and nzbget :). many thanks . if I solve it ill leave a note

[2017-04-13 17:32] mooop12 opened #1379 "Size tag shows 0 bytes"
I'm 90% sure it was working before I updated to the latest version a few days ago.

Here's what I mean:
![screenshot_20170413_192259](https://cloud.githubusercontent.com/assets/20934112/25016261/805e217c-207f-11e7-972f-e1ecc2913450.png)

[2017-04-13 18:29] geogolem commented on #1378
have you tried clearing the cache, or running in incognito mode.. I'm using Chrome and havent had any issues with sonarr or radarr....

[2017-04-13 19:16] stefanschramek opened #1380 "Folder is not writable by user abc"
Hi,
I installed the Docker version (0.2.0.596) on FreeNAS Corral but when trying to add my movie folder I get the error "Folder is not writable by user abc".
I know that this is related to the user in the container and the permissions it needs on this folder.

The container is configured to use
PGID 1001
PUID 2006

The corresponding group with the same ID has the needed permissions on the FreeNAS

[2017-04-13 21:06] talisto commented on #1354
Thanks for the suggestion!  I've modified my post-processing script to keep empty files in place.

[2017-04-13 22:15] Firemad03 commented on #1380
If I understand correctly your problem I think it's because the 1001 group need to be rename to abc and 2006 ID username need to be rename to abc because right now the group is superusers and the username is svc_radar (not abc) and your screenshot for directories the username/group is abc/abc...

If you don't want to rename the group or the username well you need to change the permission on the fo

[2017-04-13 22:25] kingmotley commented on #867
If you use sabnzbd, just add those file types into your unwanted file types, and it'll even stop downloading it as soon as it can.

[2017-04-13 22:30] zarnexx opened #1381 "Failed to connect to qBitTorrent"
Connection is successful when testing.
running version 0.2.0.614 on Windows Server 2016

[2017-04-13 23:55] theebanka commented on #1378
@geogolem odd i have cleared the cache multiple times without any luck but i hadnt tried incognito mode until now and it worked perfectly.. will need to investigate further

[2017-04-14 01:13] Firemad03 commented on #1372
[radarr1.txt](https://github.com/Radarr/Radarr/files/921210/radarr1.txt)
[radarr2.txt](https://github.com/Radarr/Radarr/files/921211/radarr2.txt)

I added the other errors that I got with my english and french radarr.

Build: 0.2.0.614

[2017-04-14 01:26] jscottdouglas commented on #867
considering i use sabnzbd for other stuff as well that do include those file types that would not work for me and i am not familar with any other way to do it in sabnzbd, please feel free to do tell.

[2017-04-14 02:14] Eventyret commented on #1379
I can confirm this as well running nightly on 0.2.0.614

[2017-04-14 04:35] Firemad03 commented on #555
Also because they don't show up in the queue I can't cancel / delete an import that failed. Maybe I can check every movies but it isn't very convenient like the queue tabs.

[2017-04-14 04:49] stefanschramek commented on #1380
The 1001 group is named "superusers" and the 2006 user is named "svc_radarr" in the FreeNAS. As far as I know for ACL only the ID counts. And it works for other container e.g. for sonarr (which should work similar).

[2017-04-14 12:25] animosity22 opened #1382 "Plex Connect - CLI Command for Scan/Refresh"
**Description:**

For the Plex Connection, it looks like you are issuing a full refresh instead of just a scan. A refresh pulls all the metadata again and it a very expensive search and takes some time if you have cloud storage :) Can you remove the 'refresh' part of it?

CLI use is -> https://support.plex.tv/hc/en-us/articles/201242707-Plex-Media-Scanner-via-Command-Line

**Radarr Version:**
[cod

[2017-04-14 12:29] animosity22 commented on #1382
The difference in Sonarr is that the TV shows check the folder level and for a refresch, which is fine.

[code]

[2017-04-14 15:07] animosity22 commented on #1374
It's probably better/easier to just reverse proxy it.

I just use a line like this:
[code]

I have bunch of things so I just use an overall forms based authentication to lock down all that stuff. Since letsencrypt/certbot plugs right into apache, you can have all the renew stuff easily automated as well.

[2017-04-14 15:12] some-guy-23 commented on #1322
I noticed that PreDB is using CloudFlare in front of their site. It could be they are inadvertently blocking the request, viewing it as a DDOS attack - https://support.cloudflare.com/hc/en-us/articles/200169226-Why-am-I-getting-a-403-error-

Other thing I'd note is, right now PreDB is not using caching for their RSS page that is being requested - http://predb.me/?rss=1&cats=movies

If they enabled

[2017-04-14 17:30] Ninjouz commented on #557
Got the same issue yesterday (it's like my 20th movies, i'm pretty new in the radarr community).

[code]

[2017-04-14 17:51] Firemad03 commented on #1380
I suggest that maybe you post your issue at the docker github of Freenas that maintain it. It isn't a specific problem with Radarr because the problem is related to a permission problem for the docker image not the software.

https://github.com/freenas/docker-images

[2017-04-14 17:58] galli-leo commented on #1378
@theebanka Try clearing cookies & local storage as well. Sometimes something can get stuck there and confuse the server.

[2017-04-14 17:58] #1378 closed

[2017-04-14 18:01] galli-leo commented on #1381
What version of qBittorrent are you using?

[2017-04-14 18:03] galli-leo commented on #1361
@quikstrike No I think it should be fine. Was just curious if that maybe causes the issue.

[2017-04-14 18:04] #1326 closed

[2017-04-14 19:16] stefanschramek commented on #1380
Unfortunately there is no issues-area on there GitHub account :(

[2017-04-14 19:20] animosity22 commented on #1382
Hmm. I will close it out as I think it's really just pulling the metadata and not kicking off an analysis of the file. Apologies.

[2017-04-14 19:20] #1382 closed

[2017-04-14 20:00] thebest28 opened #1383 "Pb search with torrent9.biz"
Hello,
I search french movie with jackett  and torrent9 indexer but Torrent9.biz name the movie title with the wrong year of the movie.(this is the year where the torrent was create :( and this is for all the title movie)
Ex for  Fantastic Beasts ,it find:
Les Animaux fantastiques FRENCH BluRay 720p 2017
Radarr found  nothing because it search with 2016.
Is it possible to have a option under Radar

[2017-04-14 20:21] zarnexx commented on #1381
was running 3.3.10, updated to 3.3.12 too see if it helped.

[2017-04-14 21:15] galli-leo commented on #1383
2016 is the correct year according to imdb. I would tell your indexer to correct their mistakes. Nothing much we can do :/

[2017-04-14 21:15] #1383 closed

[2017-04-14 21:52] Jorman opened #1384 "Original title fetch"
Hi, I just installed Radarr on my qnap, is very very beautifull, I love the sonarr style!!!

Btw I've only a little request, is also possible to search the original title on imdb?

I mean, when I add a movie, for example Incarnate
both imdb and The MovieDB have the original title and the title in my country (italy)
Incarnate: Non potrai nasconderti

So, the information is reported in english even

[2017-04-15 03:44] ochompsky opened #1385 "Sample file ended up in final folder"
Downloaded a movie and the folder contained a 6gb mp4 and a sample 30mb mp4.  Only the sample file ended up in the final folder.

[2017-04-15 05:29] geogolem commented on #1385
this has happened to me before -- couldnt figure out why.. but there is definitely an issue where this happens.. It hasnt happened to me recently but if/when it does Iwill try to collect more info regarding the specific situation. If you could provide any more info about the movie and release etc and your environment that might be helpful.

[2017-04-15 06:41] jOOc commented on #1380
Maybe try their forum
https://forums.freenas.org/index.php

[2017-04-15 06:44] jOOc commented on #1384
Maybe vote on this
http://feathub.com/Radarr/Radarr/+140

[2017-04-15 07:43] wdghub opened #1386 "Folder names always created in english, file name gets changed to selected language"
**Description:**

When you add a not yet existing movie to the library, Radarr always creates the movie Folder with the original movie title. The movie itself - when downloaded - gets renamed correctly in the selected language. Radarr should use the same title (english, german, French, whatever) for the Folder Name too, if the rename Option is enabled.

Example:
I have a root Folder for all movies

[2017-04-15 07:46] Jorman commented on #1384
Hi, tnx for the info, I'll!

Maybe my idea is wrong, but on Radarr I can set a language for my profile, that in this case is italian, so on adding phase Radarr can check the title, like it does actually on The MovieDB, also on imdb. If in both case the "local" title is available Radarr take the default one, if only one of 2 have the "local" title Radarr take the one that is present, and if both do

[2017-04-15 08:36] jrsdead commented on #1361
AHD rss had a stray & which was causing the issue. Should all be good now

[2017-04-15 09:41] galli-leo commented on #1384
@Jorman I think it takes a few hours for TMDB info to be updated and available on the api. If you set the language of the profile, Radarr will already automatically try to pull the italian title & description. So in that case, am I correct that this solves your issue?

[2017-04-15 09:42] galli-leo commented on #1385
@ochompsky What is the runtime shown in the radarr ui? How long is the runtime of the sample file?

[2017-04-15 09:43] galli-leo commented on #1386
This is fixed on a seperate branch and has actually to do with some underlying structural things from Sonarr, namely that Movie (Series) folders aren't changed unless the user does so manually.

[2017-04-15 09:43] #1386 closed

[2017-04-15 09:44] galli-leo commented on #1361
@Quiksmage @quikstrike @onedr0p Can you confirm this is fixed?

[2017-04-15 10:20] galli-leo commented on #1151
Can you guys confirm that this issue is still happening on the latest release?

[2017-04-15 10:20] galli-leo commented on #1108
Can you guys confirm this issue is fixed on the latest release?

[2017-04-15 10:50] Stibbons commented on #1108
I did not seen it so far since latest version.

[2017-04-15 11:45] Ninjouz commented on #557
Found the culprit I think.

https://github.com/Radarr/Radarr/blob/5c22d0b61d651b2c910d5ff3001cd7848e58588d/src/NzbDrone.Core/MediaFiles/DownloadedMovieImportService.cs#L143

While Processing the folder, it can't match the folder name to the cleanTitle in the DB.

Movies.CleanTitle = "thedarkknightlechevaliernoir"   (french localisation it seems as I asked a French language).
FolderName parsed = De

[2017-04-15 11:57] sigboe opened #1387 "Fails to recognize the download, thus fails the automatic import"
**Description:**

Was told to raise the issue here and that @galli-leo suspected he knew the problem

Fails to recognize the download, thus fails the automatic import

**Radarr Version:**

Version 0.2.0.596

**Logs:**

![image](https://cloud.githubusercontent.com/assets/2087930/25063393/4c9e4aaa-21e3-11e7-8086-9aac6188cab1.png)

[2017-04-15 12:44] galli-leo commented on #557
@Ninjouz Seems like we stopped querying alternative titles :/ Working on a fix now.

[2017-04-15 12:50] #557 closed

[2017-04-15 12:50] #1387 closed

[2017-04-15 12:51] #1372 closed

[2017-04-15 12:51] galli-leo commented on #555
@Firemad03 Pretty sure that I fixed this now. Can you try the latest nightly and report back?

[2017-04-15 12:52] galli-leo commented on #557
@Ninjouz Pretty sure I fixed this now.
@all other's can you report back to see if this is fixed?

[2017-04-15 13:47] #1379 closed

[2017-04-15 13:50] galli-leo commented on #159
This is fixed on the latest release. Please open a new issue if you experience something similar.

[2017-04-15 13:50] #159 closed

[2017-04-15 13:51] #113 closed

[2017-04-15 13:51] #339 closed

[2017-04-15 14:02] galli-leo commented on #438
This is fixed in the latest version.

[2017-04-15 14:02] #438 closed

[2017-04-15 14:03] galli-leo commented on #443
@seanvree Can you test and see if this works on the current version?

[2017-04-15 14:03] galli-leo commented on #444
@madvtak If you still have these issues let me know and I will reopen the issue.

[2017-04-15 14:03] #444 closed

[2017-04-15 14:04] galli-leo commented on #465
If this is still happening on the latest version let me know and I will reopen this issue.

[2017-04-15 14:04] #465 closed

[2017-04-15 14:05] galli-leo commented on #360
This is probably related to #657. If you experience this issue please check if Radarr know about the file you already have. If not, please post to #657.

[2017-04-15 14:05] #360 closed

[2017-04-15 14:06] galli-leo commented on #409
@bing281 Are you still experiencing this issue? Works fine for me on the latest develop release.

[2017-04-15 14:07] galli-leo commented on #658
@jojogrosso This is currently working on another branch. Will close this since another issue is already open for this feature.

[2017-04-15 14:07] #658 closed

[2017-04-15 14:07] galli-leo commented on #393
This is fixed on the latest release.

[2017-04-15 14:07] #393 closed

[2017-04-15 14:09] #712 closed

[2017-04-15 14:10] galli-leo commented on #743
@shushry Do you still have issues with the bulk importer? Also for your suggestions I would open a new feature request (since it's not really a bug).

[2017-04-15 14:10] #743 closed

[2017-04-15 14:12] galli-leo commented on #771
This should be fixed now. If you still experience it let me know and I will reopen this issue.

[2017-04-15 14:12] #771 closed

[2017-04-15 14:14] galli-leo commented on #876
this is fixed.

[2017-04-15 14:14] #876 closed

[2017-04-15 14:17] galli-leo commented on #947
If this is still an issue, let me know and I will reopen.

[2017-04-15 14:17] #947 closed

[2017-04-15 14:19] galli-leo commented on #1070
If this is still an issue, please let me know and I will reopen this.

[2017-04-15 14:20] galli-leo commented on #1260
Did you get this work again?

[2017-04-15 14:22] #567 closed

[2017-04-15 14:26] #650 closed

[2017-04-15 14:26] galli-leo commented on #630
Closing this as this will be fixed once we handle extra files (separate issue).

[2017-04-15 14:26] #630 closed

[2017-04-15 14:26] #792 closed

[2017-04-15 14:27] galli-leo commented on #828
This is fixed on the latest version.

[2017-04-15 14:27] #828 closed

[2017-04-15 14:32] galli-leo commented on #1085
If you still have these issues please let me know and I will reopen.

[2017-04-15 14:32] #1085 closed

[2017-04-15 15:50] Jorman commented on #1384
This solve the issue only because I edited the title on TMDB. But better than nothing.

IMHO I think that can be a good function check also the title on imdb and catch it if missing from TMDB, but maybe is only mine this idea.

What do you think?

[2017-04-15 15:56] Firemad03 commented on #555
Well I think it's better because I saw more now in the queue but the problem is still there.

![image](https://cloud.githubusercontent.com/assets/24792889/25064885/6c076720-21d2-11e7-9c6e-b06ecd7d4388.png)

![image](https://cloud.githubusercontent.com/assets/24792889/25064887/789da12a-21d2-11e7-9014-55d8d1a473d3.png)

[2017-04-15 16:05] Firemad03 commented on #555
I'm grabbing more movies now in French :) with this fix.

[2017-04-15 16:10] Firemad03 opened #1389 "oldValue is the empty string."
I saw this now with build: 0.2.0.626 in my error logs.

An error has occurred while trying to parse .2008.Bluray.AC3-NoGroup: oldValue is the empty string.

System.ArgumentException: oldValue is the empty string.
  at System.String.ReplaceInternal (System.String oldValue, System.String newValue) [0x0001c] in <dbb16e0bacdc4a0f87478e401bc29b6c>:0
  at System.String.Replace (System.String oldValue, S

[2017-04-15 16:12] Firemad03 commented on #555
In the English Radarr I got a new problem with this fix that I never had before:

![image](https://cloud.githubusercontent.com/assets/24792889/25065002/aee7fd78-21d4-11e7-8dd8-93076f534d48.png)

![image](https://cloud.githubusercontent.com/assets/24792889/25065006/bc8a01c4-21d4-11e7-80c9-55964a0ed7c1.png)

Same problems I think.

[2017-04-15 16:14] Firemad03 commented on #555
French Radar Updated screenshot:

![image](https://cloud.githubusercontent.com/assets/24792889/25065037/0ed47900-21d5-11e7-9d9f-721d2232c89c.png)

![image](https://cloud.githubusercontent.com/assets/24792889/25065035/057a120c-21d5-11e7-9001-722d541527fd.png)

[2017-04-15 16:17] Firemad03 commented on #1372
I confirm that I don't see this bug anymore :) with latest build.

[2017-04-15 16:28] Firemad03 commented on #555
Updated English Radarr:

![image](https://cloud.githubusercontent.com/assets/24792889/25065111/f23b6ca2-21d6-11e7-9987-6e0c64eea6e8.png)

![image](https://cloud.githubusercontent.com/assets/24792889/25065115/fd89cad6-21d6-11e7-8e1e-429c14ced523.png)

[2017-04-15 16:29] Firemad03 commented on #555
I think it's related to the task that check sabnzbd for the movie title if the movie is downloaded or not.

[2017-04-15 16:32] Firemad03 commented on #1380
@stefanschramek Also Freenas dropped the Corral update. They have too much in it. Check it out this very important thread: https://forums.freenas.org/index.php?threads/important-announcement-regarding-freenas-corral.53502/

[2017-04-15 16:41] Quiksmage commented on #1361
Hi,

I can confirm that it has been working since my original message 3 days ago.

I went ahead and did a test on my 2 AHD Indexers.

One requiring internals and one not.

They both successfully tested.

I did manual searches of a few movies and all of them returned the expected results from AHD.

For me, this is good to be closed.

[2017-04-15 16:47] Quiksmage commented on #1381
I'll jump in a little.

I haven't had any issues with Qbittorrent on Radarr thus far.

I am running Qbittorrent 3.3.7 64bit on Windows Server 2012

I should probably update to the newest 3.3.12, but if you have time to check if 3.3.7 is working for you, this might shed more light on what the problem is.

If the torrent client already has the torrent it's trying to add, it does return an error to t

[2017-04-15 16:50] shushry commented on #743
Yep thanks for the followup.  It's been working great, and I'm doing them in batches of 100 at a time.  I haven't tested a list longer than about 400 at a time though.

On April 15, 2017 9:10:21 AM CDT, Leonardo Galli <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-15 16:56] 4getit opened #1390 "Couldn't process release.: SQL logic error or missing database..."
Just updated to nightly 0.2.0.626 and seeing a lot of these:

[code]

Maybe it's because of the fix for alternative titles but my queue was still filled quite a bit?
And I assume it's related but the blue badge that on the Activity icon that normally (more or less) shows how much items are in the NZBget queue is a lot lower than normal. (450 in the queue and the badge shows 24)

[2017-04-15 17:46] Quiksmage commented on #1381
I just tested updating my existing install to 3.3.12 and was successfully able to grab a torrent using radarr.

[2017-04-15 17:59] Lasikie commented on #1390
I'm getting the same thing, thought it was something on my end.

[2017-04-15 18:00] mikeferr commented on #1390
me 2

[2017-04-15 18:27] mparents2007 commented on #557
I've only had it on one movie so far so I will keep montioring.

On 15 Apr 2017 13:52, "Leonardo Galli" <notifications@github.com> wrote:

[2017-04-15 18:38] mparents2007 commented on #557
UPDATE

Now getting this on all downloads

On 15 Apr 2017 19:27, "Paul Jackson" <paul19822013@gmail.com> wrote:

[2017-04-15 19:02] Firemad03 commented on #1390
Got the same thing and I think it's related to #555

[2017-04-15 19:31] jstevenson72 commented on #1390
Same here.

[2017-04-15 19:32] ajslater opened #1391 "Old Movies Before the Availability Feature have NULL Availabilty"
Movies that existed in the Radarr database before the recent (magnificent, excellent, wonderful) availability feature have a null availability setting. These should be updated to the default availability setting, so `PreDB` in most cases.

I haven't looked at the schema, but something along the rough lines of:

`UPDATE movie SET availability = 'PreDB' WHERE availability IS NULL;`

Should probably

[2017-04-15 20:03] sammy2142 opened #1392 "Change default email server to smtp.gmail.com"
When setting up an email in connect; radarr currently shows default values for setting up a gmail account:

server: smtp.google.com
port 587
ssl on

However the smtp should be smtp.gmail.com as smtp.google.com doesnt exist :(

[2017-04-15 20:18] ajslater opened #1393 "Can't find movies moved into another search path"
Enhancement.

If a movie is missing from its file path. Search the "recent folders" or other known library search paths to see if it was moved there before declaring it missing.

This would support all kinds of organizational workflows including inboxes for new movies.

Version 0.2.0.596
Mono Version 4.8.0 (Stable 4.8.0.524/9d74414 Thu Apr 6 19:26:41 BST 2017)

[2017-04-15 20:59] jOOc opened #1394 "Movies in deluge queue doesn't show up in activity/queue"
**Description:**

When adding a movie it gets added to the queue in Deluge but Radarr does not add it to the activity/queue. Therefore Radarr task searches for the movie multiple times and multiple movies gets added to Deluge

As seen in the screenshot below I have a lot of movies/tv-series in my queue. Sonarr does have all tv-series waiting to be downloaded its queue but not Radarr.

![image](htt

[2017-04-15 21:18] zarnexx commented on #1381
Thanks for your answers.
I tried to downgrade to 3.3.7...did not help.
Also tried to delete and re-add 'download client'
I took some screenshots to better explain the problem.
1,
![2017-04-15 23_09_02- radarr](https://cloud.githubusercontent.com/assets/26191930/25066787/0f05f410-2231-11e7-8aef-e36ab710589f.png)
1.
![2017-04-15 23_13_29-settings - radarr](https://cloud.githubusercontent.com/assets/

[2017-04-15 21:36] zarnexx commented on #1381
OK, it look like downloading is working but not for my chosen profile (?)...in my profile I want 1080p/bluray and first picture shows radarr did not reject it but is unable to download.

Below I´m able to download 720P version
![2017-04-15 23_29_11- radarr](https://cloud.githubusercontent.com/assets/26191930/25066890/76d18f12-2233-11e7-92a8-1d66e6239e53.png)
....

OK, just tried to download anothe

[2017-04-15 22:08] zarnexx commented on #1381
This issue can be closed.
Is was as @Quiksmage said, I previously downloaded the torrent(s) without radarr, after searching one more I found the torrents in qBittorrent.

Feature request: Maybe a message IF a torrent already is in torrent client?

But anyways....sorry for the mistake!

[2017-04-15 22:12] Giantdouche33 opened #1395 "Radarr going crazy and deleting movies and downloading again all over..."
Radarr has started to download releases and delete old ones all over the place. its kinda going crazy.

Its gotten so bad I've had to kill radarr and leave it off

Version
0.2.0.535
Mono Version
4.8.0 (Stable 4.8.0.495/e4a3cf3 Wed Feb 22 18:30:58 UTC 2017)
[radarr.txt](https://github.com/Radarr/Radarr/files/923944/radarr.txt)

[2017-04-15 22:13] Firemad03 commented on #1395
See #1390  and #555

[2017-04-15 22:20] galli-leo commented on #1395
Radarr does not delete movies unless it imports a better quality. Are you sure Radarr is doing the deleting? Also you are running a pretty outdated version (current one is .596) can you update?

[2017-04-15 22:22] galli-leo commented on #1391
IIRC Physical/Web is automatically used if availability is NULL. Will have to check tomorrow though.

[2017-04-15 22:26] #1381 closed

[2017-04-15 22:27] galli-leo commented on #1390
Can someone post the full exception? It's going to be difficult to trace it otherwise.

[2017-04-15 22:30] galli-leo commented on #1395
As I see in the logs, Radarr is correctly deleting the movie before upgrading it, so that the old file can be replaced by a better quality.

[2017-04-15 22:34] Giantdouche33 commented on #1395
definately radarr doing it...
RecycleBinProvider	Recycling Bin has not been configured, deleting permanently. /home/giantdouche/media/movies/Catfight (2017)/Catfight (2016) Bluray-720p.mkv

I've updated to .596

But it is upgrading EVERY film.... to the exact same quality. Its deleted 20+ films now.

[2017-04-15 22:34] Firemad03 commented on #1390
[v0.2.0.626] System.Data.SQLite.SQLiteException (0x80004005): SQL logic error or missing database
near "WHERE": syntax error
  at System.Data.SQLite.SQLite3.Prepare (System.Data.SQLite.SQLiteConnection cnn, System.String strSql, System.Data.SQLite.SQLiteStatement previous, System.UInt32 timeoutMS, System.String& strRemain) [0x0033c] in <61a20cde294d4a3eb43b9d9f6284613b>:0
  at System.Data.SQLite.S

[2017-04-15 22:35] Firemad03 commented on #1390
I don't know but maybe #1389 is related.

[2017-04-15 22:39] Firemad03 commented on #1395
@galli-leo I think it's related to the #555 because before you did the fix the English version didn't had this problem and after the title fix now both my english and french got this problem but he is right about Radarr redownloading for the same quality. I never checked it out about that in my french version but right now it's crazy so I stopped too both my radarr.

[2017-04-15 22:44] Firemad03 commented on #1395
@galli-leo I had 50 jobs in my sabnzbd about the same movies that radarr already downloaded and he was trying again every time that the task is starting. I have no choice but to stop radarr completely.

I didn't have this bug before the title fix except in my french version (I confirmed it I didn't see it before because I never thought to check it out.)

[2017-04-15 22:46] astlaurent commented on #1151
I have not seen the problem since the original incident.

[2017-04-15 22:46] Firemad03 commented on #1390
I confirmed that we didn't have this problem before the title fix.

[2017-04-15 22:47] Giantdouche33 commented on #1395
I've updated to the latest nightly. and its still deleting. It cant be just upgrading as its doing it to my entirely library. I've set my entirely library to not monitored yet it still deleted. Shouldn't attempt to upgrade if its not monitored should it?

17-4-16 00:43:14.0|Info|MovieService|Linking [Boyka Undisputed IV (2016) WEBDL-1080p.mkv] > [[tt3344680][Boyka: Undisputed IV]]
17-4-16 00:43:14

[2017-04-15 22:47] astlaurent commented on #1303
I had this issue but I put the service in delayed start and it seems better

[2017-04-15 22:47] galli-leo commented on #1395
@Giantdouche33 Interestingly did it delete those files and add it back again? As it seems to do that from the logs?

@Firemad03 The only problem is he is on .596 which does not have the problems from #1390.
So radarr also deleted those files for you.

[2017-04-15 22:48] galli-leo commented on #1395
@Giantdouche33 Try enabling the recycling bin.

[2017-04-15 22:49] galli-leo commented on #1395
@Giantdouche33 Also can you enable trace logging? It's going to be difficult to trace it without that, since I cannot reproduce it.

[2017-04-15 22:49] #1389 closed

[2017-04-15 22:49] #1390 closed

[2017-04-15 22:50] Quiksmage commented on #1393
+1 one thing i loved about couchpotato was that i never had to change the filepaths if i moved movies around since it checked specific folders for movies on every  library update (usually once per 24 hours).

[2017-04-15 22:50] Giantdouche33 commented on #1395
how do i enable trace logging please?

[2017-04-15 22:51] galli-leo commented on #1394
@jOOc Pretty sure I just fixed this :)

[2017-04-15 22:51] #1394 closed

[2017-04-15 22:51] galli-leo commented on #1395
Settings -> General -> Logging

[2017-04-15 22:52] Firemad03 commented on #1395
@galli-leo Your right it was deleting fine the file just for some reasons it was going crazy to redownload again. I see that you corrected the #1390 with the latest build. I'll upgrade maybe it will fix my problem.

[2017-04-15 22:55] galli-leo commented on #555
@Firemad03 Can you check that now all movies show up? It should be fixed due to #1390 being fixed.

[2017-04-15 22:59] Firemad03 commented on #555
@galli-leo Off course when I will see the update I will upgrade and I will check it out.

[2017-04-15 23:21] Firemad03 commented on #555
@galli-leo Did  you increment the build or it's the same build number ? because when I do the task update I don't see a new update yet.

[2017-04-15 23:24] galli-leo commented on #555
@Firemad03 Seems like the tests failed and so the nightly did not activate. Should come up in a few minutes.

[2017-04-15 23:32] Giantdouche33 commented on #1395
ok after enabling recycling bin its stopped removing films all the time however now getting the following error...

Message
Couldn't process release.: SQL logic error or missing database
near "WHERE": syntax error

Exception
System.Data.SQLite.SQLiteException (0x80004005): SQL logic error or missing database
near "WHERE": syntax error
  at System.Data.SQLite.SQLite3.Prepare (System.Data.SQLite.SQL

[2017-04-15 23:34] galli-leo commented on #1395
@Giantdouche33 There should be a new update up in a few minutes fixing that issue.

[2017-04-15 23:56] 1activegeek commented on #1151
I haven't seen the issue, but honestly I don't want to be the guinea pig to TRY and test it out. 😛

[2017-04-16 00:11] seanvree commented on #557
It's fixed for me.

Windows 10E
Radarr Ver. 0.2.0.596
develop

[2017-04-16 00:12] #443 closed

[2017-04-16 01:39] regulus0 commented on #1336
I too have this issue. The file is in the correct naming scheme and Radarr lists the folder as 0 B in size and shows it as missing, I have a few AVI's that also have the issue, but not all of them. I used the tool you mentioned (MediaInfo). The AVIs that don't detect all are missing any media data when debugged in the MediaInfo app. Those that do detect have media data.

[2017-04-16 02:02] Firemad03 commented on #555
@galli-leo Now English Radarr is back to normal with the new build :) French one same problems.
I want to point out that it seem a lot more better vs before the title fix patch.

![image](https://cloud.githubusercontent.com/assets/24792889/25068104/1ec87f58-2227-11e7-8726-6bcc115b7cbc.png)

![image](https://cloud.githubusercontent.com/assets/24792889/25068109/3402d986-2227-11e7-9a1e-852f9307a3af.p

[2017-04-16 02:04] Firemad03 commented on #555
Btw Star Wars appeared later in the history don't worry. Only 300 and Beats of no nation didn't appear and I waited 5 minutes just to be sure.

[2017-04-16 02:07] Firemad03 commented on #1395
@galli-leo latest patch corrected my problems btw.

[2017-04-16 02:10] Firemad03 commented on #555
Nevermind beast of no nation. Seriously I got everything (after 30 minutes of testing) but only 300 didn't show up. Maybe the comma broke something ? We got lot of comma in French for the title.

[2017-04-16 02:13] Firemad03 commented on #555
Update:

![image](https://cloud.githubusercontent.com/assets/24792889/25068162/b29bcf5e-2228-11e7-9ed6-7a6163d47142.png)

![image](https://cloud.githubusercontent.com/assets/24792889/25068161/a24096f8-2228-11e7-9a88-f08af9bb3973.png)

Only 300 got a problem :)

[2017-04-16 03:04] leeramsay commented on #1196
I can confirm I've seen this with movies where minimum availability is set to PreDB. I think there's another bug/issue open for that. #1322

[2017-04-16 06:33] ajslater commented on #1391
Its good to hear that you have a crawler backup/default value 😃 . But It'd be nice to constrain NOT NULL in the  schema after setting it to the default value, if only for a less confusing UI.

[2017-04-16 07:34] jOOc commented on #1394
@galli-leo yeah now when I woke up and radarr had updated it worked :+1:
Thank you!

[2017-04-16 07:35] galli-leo commented on #1196
@leeramsay That seems very strange. Can you change it back to PreDB and see if the 404s pop up again?

[2017-04-16 07:40] Giantdouche33 commented on #1395
fixed. thankyou :)

[2017-04-16 07:40] #1395 closed

[2017-04-16 08:16] davidpfitz opened #1396 "Radarr will not connect to Plex Media Server to notify of downloads"
Though using the same server setup as Sonarr, and the same hostname / username / password / SSL flags, Radarr will not connect to Plex Media Server under "Settings, Connections" to notify Plex of new downloads. It works fine in Sonarr.

After entering the correct connection details (as verified through the same process in Sonarr), pressing "Test" yields "Testing 'Plex Notify Failed'".

This had pr

[2017-04-16 09:00] mparents2007 commented on #557
Sorry should have said. Synology NAS 415+ DSM 6

On 16 Apr 2017 01:11, "seanvree" <notifications@github.com> wrote:

[2017-04-16 09:25] hotio commented on #1380
I think you can ignore all of the freenas part of settings, docker probably runs as root so that will probably have no permissions problems, you just need to focus on what's going on inside the container...if I'm guessing correct.

Can you manually write files inside the container to /movies with user abc? To rule out Radarr...

[2017-04-16 09:34] hotio commented on #1355
The point of Radarr is automation and neatly organizing it, if you don't want what it does best...perhaps just use an RSS feed watcher OR let your downloader create dummy files which fool Radarr...

[2017-04-16 09:42] galli-leo commented on #1396
There should be more to see in the logs. Can you maybe search for something more?

[2017-04-16 09:44] galli-leo commented on #1355
@Qdhcjv Would renaming to {Original Title} work for you? (That would be the scene name the download client gives us)

[2017-04-16 10:21] rickjames334 opened #1397 "Added Password and can't log in now"
**Description:**
Added a simple password and now I can't log in or figure out how to reset it. Can't seem to find the config file on linux. Also the failed login attempts don't seem to be hitting my log

**Radarr Version:**
Linux/Latest

[2017-04-16 11:10] Ninjouz commented on #557
Fixed for me on latest nightly build.

Thanks ;)

[2017-04-16 11:13] mparents2007 commented on #557
Can this build be packaged for the Synology community? As it sounds like
this might resolve the issue here as well. As it stands I have error in the
log every few seconds as it can see the files in my completed downloads
folder but doesn't know what to do with them. I am reluctantly looking back
at couch for a temporary fix but I don't really want to revert if it's
avoidable as radarr looks like i

[2017-04-16 11:49] animosity22 commented on #1396
You are using a slightly older version of mono than me, but I can see plex working fine on the same version. Can you share the settings you are using?

[2017-04-16 11:51] animosity22 commented on #1347
I'm not seeing the issue anyone. Confirmed for me.

[2017-04-16 12:00] davidpfitz commented on #1396
In both Radarr and Sonarr I am using these settings:

Connection Type: Plex Media Server
Name: Plex Notify
On Grab: No
On Download: Yes
On Upgrade: Yes
On Rename: Yes
Filter Series Tags: [blank]
Host: 192.168.0.201
Port: 32400
Username: my Plex username
Password: my Plex password
Update Library: Yes
Use SSL: Yes

I have tried with / without SSL, without luck.

The Plex server (192.168.0.201) is re

[2017-04-16 12:05] animosity22 commented on #1396
Did it ever work for you at all?

You can turn on advanced on the General settings for Plex and turn on the debug/verbose logging and log at the Server Log to see why it is failing to authenticate.

If you can get a shell session, you can check via a

[code]

to make sure the port is really running and you can connect remotely.

[2017-04-16 12:07] davidpfitz commented on #1396
Yes, it was working fine until this morning when I updated to the latest Radarr release.

Running the telnet command connects just fine.

telnet 192.168.0.201 32400
Trying 192.168.0.201...
Connected to shield.

[2017-04-16 12:15] davidpfitz commented on #1396
So here's the Plex log.

I tried to connect twice. Once with the correct username and password, and the second time with an intentionally wrong password to see what difference the log sees.

Apr 16, 2017 13:11:49.253 [30724] DEBUG - Auth: We found auth token (xxxxxxxxxxxxxxxxxxxx), enabling token-based authentication.
Apr 16, 2017 13:11:49.253 [30724] DEBUG - Auth: authenticated user 1 as davidpfi

[2017-04-16 12:29] davidpfitz commented on #1396
Looking through that log, I don't think Radarr connected at all to Plex. The machine that Radarr is on is 192.168.0.200

[2017-04-16 12:40] animosity22 commented on #1396
I was going to say the same thing. Looks like you had a streaming client connect, but I didn't see anything else in that log that looked like Radarr connecting.

If you change the Radarr logs to debug, do you see anything make a connection at all?

I tried SSL and non SSL.

[code]

[2017-04-16 12:51] animosity22 commented on #1397
It's in the home directory of your user that it is running as:

~/.config/Radarr

You can shut it down and fix the config.xml and start it back up to change the auth method:
[code]

[2017-04-16 12:58] galli-leo commented on #1397
Alternatively it might be in /opt/Radarr. Check out the wiki entry for the AppData directory.

[2017-04-16 12:59] #1397 closed

[2017-04-16 13:53] Qdhcjv commented on #1355
Unfortunately it looks like I can't set directory name to {Original Title},
only the file within it. Could there be an update allowing this or is there
a technical reason for that being unavailable?

On Sun, Apr 16, 2017, 5:44 AM Leonardo Galli <notifications@github.com>
wrote:

[2017-04-16 13:53] davidpfitz commented on #1396
Looking at the Radarr debug log, I get the same thing as in my second post in this thread...

Invalid request Validation failed:
 -- Unable to connect to Plex Server

Newtonsoft.Json.JsonReaderException: Error reading JObject from JsonReader. Path '', line 0, position 0.
  at Newtonsoft.Json.Linq.JObject.Load (Newtonsoft.Json.JsonReader reader) [0x00026] in <5e099fb6434a463a960f4009caf8abae>:0
  a

[2017-04-16 13:54] galli-leo commented on #1355
@Qdhcjv Yeah, currently that's not possible (since Sonarr likes to keep the Series path constant). But we have a branch with that feature working, so I just wanted to ask you if that's a possibility.

[2017-04-16 13:55] Qdhcjv commented on #1355
Which branch? I'm willing to be on the bleeding edge. Thanks for your quick
response.

On Sun, Apr 16, 2017, 9:54 AM Leonardo Galli <notifications@github.com>
wrote:

[2017-04-16 13:57] animosity22 commented on #1396
You don't get a connect or anything else before that? I put in a bogus IP and I can see a connect and the IP still in the debug log and the error at the end:

[code]

[2017-04-16 14:08] davidpfitz commented on #1396
I've tried with two sets of settings. One with an incorrect IP address, one with the right settings. I get the same result really.

This is with an IP address that doesn't exist in my network.

17-4-16 15:05:54.1|Debug|PlexServerService|Getting sections from Plex host: 192.168.0.231
17-4-16 15:05:54.1|Debug|PlexServerProxy|Authentication Response:
17-4-16 15:05:54.1|Error|PlexServerService|Unable

[2017-04-16 14:18] davidpfitz commented on #1396
I restarted Radarr and it's working fine now. Very odd, as I had restarted Radarr earlier but it didn't make any difference. I wonder what the underlying issue was.

Thanks for your help - I really appreciate it.

[2017-04-16 14:24] galli-leo commented on #1355
@Qdhcjv Not possible to upgrade to that atm. Also a lot of bugs and will probably break your install.

[2017-04-16 14:39] Qdhcjv commented on #1355
I'm using it in a docker container and don't care what happens. There's no
way to set it to my branch in Radarr settings?

On Sun, Apr 16, 2017, 10:24 AM Leonardo Galli <notifications@github.com>
wrote:

[2017-04-16 14:47] galli-leo commented on #1355
@Qdhcjv Nope

[2017-04-16 14:51] Qdhcjv commented on #1355
Darn- I guess I'll stick to CP until this is worked out

On Sun, Apr 16, 2017, 10:47 AM Leonardo Galli <notifications@github.com>
wrote:

[2017-04-16 16:23] galli-leo commented on #555
@Firemad03 Do you see anything in the logs? Cannot find a 300 french release, so kinda difficult to reproduce.

[2017-04-16 16:24] galli-leo commented on #555
Or can you give me the full title of the release?

[2017-04-16 17:00] deeex87 opened #1398 "Movies are searched by their original name - Custom language not work."
In profiles I have set up Spanish as a language, but the movies are searched by their name in English. For example, El Ilusionista (The Illusionist):
![captura de pantalla 2017-04-16 a las 18 56 09](https://cloud.githubusercontent.com/assets/27634551/25072703/66265046-22d6-11e7-94ea-00e4d5c35797.png)
but in the search tab are searched for "The Illusionist":
![captura de pantalla 2017-04-16 a las 1

[2017-04-16 18:52] xoniq opened #1399 "Series reference when adding PMS connect"
Latest version; seeing option "Filter Series Tags" when adding Plex Media Server to Connect tab.

[2017-04-16 18:57] xoniq opened #1400 "Star Wars: The Last Jedi (2017) is being marked as "Released""
Quite impossible.

[2017-04-16 19:46] hotio commented on #1400
Are you sure?

[2017-04-16 20:56] juanchristian opened #1401 "High use of RAM"
I noticed that Raddar consumes a whole lot of RAM, compared to other usenet tools.

![image](https://cloud.githubusercontent.com/assets/4141392/25074230/de973dce-22cc-11e7-9e9f-81f8e4aa9157.png)

![image](https://cloud.githubusercontent.com/assets/4141392/25074233/f5b88daa-22cc-11e7-8a24-cc3164d086e9.png)

![image](https://cloud.githubusercontent.com/assets/4141392/25074235/fcf0c902-22cc-11e7-9eac

[2017-04-16 20:57] galli-leo commented on #1400
Just added it myself and it marks it correctly as announced. Can you try updating the movie info?

[2017-04-16 20:57] galli-leo commented on #1401
How many movies do you have? How many movies do you have added in your queue?

[2017-04-16 20:59] jcchristian commented on #1401
@galli-leo

Total Record: 24
Wanted Missing: 5
Wanted Cutoff Unmet: 3

[2017-04-16 21:01] galli-leo commented on #1401
Yeah probably because of all the errors in the log. Exceptions can take up quite a bit of memory. If you want to get rid of those I suggest updating to the nightly.

[2017-04-16 21:03] jcchristian commented on #1401
Yeah, I saw those errors, but I didn't set to download/search for any of the movies listed there.

[2017-04-16 21:04] galli-leo commented on #1401
@jcchristian Radarr will try to match them nonetheless. Another option is to clear out your downloaders history.

[2017-04-16 21:06] jcchristian commented on #1401
I'll clean NZBGet history and see if that fix

[2017-04-16 21:11] xoniq commented on #1400
It's on the search section where it is marked as released:

![](https://drive.qinox.nl/public-share/c9fHAlThtAKZgE0/preview?path=/&mode=thumbnail&size=medium)

[2017-04-16 21:12] jcchristian commented on #1401
I believe that deleting them solved the issue:

![image](https://cloud.githubusercontent.com/assets/4141392/25074404/4d58317a-22d0-11e7-9167-2f8766dd5a0a.png)

[2017-04-16 21:15] hotio commented on #1400
![jedi](https://cloud.githubusercontent.com/assets/26902309/25074427/97531d6a-22fa-11e7-8f81-4a9fc1d9ba50.png)

Only on your setup

[2017-04-16 21:20] #1399 closed

[2017-04-16 21:24] xoniq commented on #1400
I just found out there was an update available which fixed this. I guess the install guide for Linux does not show the latest version available; so I ended up with a version of march.

I was not that sharp on it; this can be closed.

[2017-04-16 21:24] #1400 closed

[2017-04-16 21:26] mgiljum opened #1403 "No files found are eligible for import"
**Description:**

After a movie is finished downloading, Radarr says in activities:

`No files found are eligible for import in /[downloads-folder]/[release-folder]`

In this example, there are clearly files eligible for import:

[code]

Check first that your problem is not listed in our wiki section:
* https://github.com/Radarr/Radarr/wiki/Common-Problems
* https://github.com/Radarr/Radarr/wiki/F

[2017-04-16 21:28] galli-leo commented on #1403
This is usually a case of permission issues. Are you using docker?

[2017-04-16 21:29] mgiljum commented on #1403
Yes, in FreeNAS. I already manually imported the release, but the permissions on all the files was:

`-rw-rw-r-- `

[2017-04-16 21:31] galli-leo commented on #1403
Are the path mappings for Radarr and your download client the same?

[2017-04-16 21:31] mgiljum commented on #1403
Not sure what you mean by path mappings. They are using the same volume, if that's what you mean.

[2017-04-16 21:32] ctroncoso commented on #1403
Check how docker itself sees the files. Get inside the docker instance with

    docker exec -it «containername» bash

and check them from inside.

[2017-04-16 21:33] mgiljum commented on #1403
I'm sorry, Radarr is not running in docker, it has the share mounted over NFS. My download clients are in docker, though.

[2017-04-16 21:34] galli-leo commented on #1403
What's the actual path reported in the error message No files found are eligible for import in ...?

[2017-04-16 21:35] mgiljum commented on #1403
Yes, in the above example, the error was:

`/downloads/Complete/Movies/Bedknobs.and.Broomsticks.1971.720p.BluRay.x264-x0r`

[2017-04-16 21:37] galli-leo commented on #1403
Yeah that's the problem. Your download client thinks the file is in /downloads/Complete/Movies/... and tells Radarr that path. But Radarr does not know about that path since it actually is /mnt/Pool/Multimedia/Downloads/Complete/Movies/...

You can fix this by changing remote path mappings in Settings -> Download Clients.
I think this should give you an idea how to set it up: https://forums.sonarr

[2017-04-16 21:37] #1403 closed

[2017-04-16 21:38] mgiljum commented on #1403
Ah, I see. Didn't notice the paths were different. Thanks!

[2017-04-17 10:02] #865 closed

[2017-04-17 10:02] #1151 closed

[2017-04-17 10:02] #1108 closed

[2017-04-17 11:09] #1338 closed

[2017-04-17 12:00] galli-leo commented on #1313
Fixed in latest release.

[2017-04-17 12:00] #1313 closed

[2017-04-17 12:10] Teke14 opened #1404 "Movies download but will not move to selected folder"
Here is the log I am getting. Hopefully someone can help.

Request Failed: Sequence contains no matching element

Exception

System.InvalidOperationException: Sequence contains no matching element
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source, Func`2 predicate)
   at NzbDrone.Api.Commands.CommandModule.StartCommand(CommandResource commandResource) in C:\projects\radarr-usby1\sr

[2017-04-17 15:30] kushfest opened #1405 "Can't Manually Import Movies"
**Description:**
I used bulk import to add the folder on the external drive that holds all my movies. It appears everything was added, but many of the movies are labeled Wanted because the mp4 files on the drive weren't associate with the movies (yes, everything is in its own folder). I'm trying to use the Manual Import function on the Wanted tab to clean things up, but when I try to manually impo

[2017-04-17 15:33] #1405 closed

[2017-04-17 16:37] Aesculapius opened #1406 "Filter by text on homepage"
When I'm trying to look at my current collection with the means of completing it, there doesn't seem to be an intuitive way of showing what's in my collection. I cannot group on genre, type, language, running time, whatever... nor can I just show the results of my search query. I have to select on of the items from the dropdown menu directly.

For example star wars; looking at completing that, but

[2017-04-17 21:26] vendeka opened #1407 "Unknown movie. Movie found does not match wanted movie."
I am using PTP with Radarr and some releases have different or wrong naming (e.g. typo) but those releases shouldn't be refused by Radarr as PTP supports IMDB ID searching so the results based on IMDB ID search are always correct.

I would like to provide a movie which I recently have problem:

Prelude to War (1942)
http://www.imdb.com/title/tt0035209/

Radarr Ver. 0.2.0.596

![image](https://clou

[2017-04-17 22:06] eriksneff commented on #1070
Hi Leo! ( @galli-leo ) - quick off-topic - thanks for the wonderful work on Radarr - it's WAYYYY better than couchpotato, the new hot shit in my opinion!

Ok, back on topic - Sadly, this issue is definitely still happening. I see it was closed as cannot reproduce - fair enough, here's how you can:

A) Some background by way of annotated screenshot that spans plex, radarr, vlc, and finder:

- https

[2017-04-17 22:29] stuntguy3000 opened #1408 "[Feature] Allow torrents with key words to be selected"
Just a suggestion, i would love for a way to make it so that any torrents that contain a key word (e.g. the 4 letter acronym of a certain movie provider) to be auto selected over anything else.

[2017-04-18 00:21] weirdcrap commented on #1292
That I believe is parsed from the filenames not from tmdb

[2017-04-18 00:49] Firemad03 commented on #555
Sorry don't see anything in the logs. It's always downloading it and I don't have any errors.

300.2006.MULTi.TRUEFRENCH.1080p.BluRay.x264-AiRLiNE
or this one:
300.2006.TRUEFRENCH.720p.BluRay.x264-AiRLiNE

[2017-04-18 00:52] Firemad03 commented on #1398
I got the same problem with Risen 2016. In french I found it with "La Résurrection Du Christ" if I do a manual search.

[2017-04-18 04:31] fryfrog commented on #1408
Make it a preferred word on the quality profile you want. And for the love of god, I hope that 4 letter word isn't YIFY. :/

[2017-04-18 04:32] fryfrog commented on #1406
Can you not just scroll down in the list or poster view to Star Wars?

[2017-04-18 04:34] fryfrog commented on #1376
Maybe try flipping it to Advanced Settings: Shown, then in the stuff w/ the {Movie Title}, change it to {Movie.Title}.{(Year)} for example.

[2017-04-18 06:21] seanvree opened #1409 "Error when manually searching: "String cannot be of zero length""
**Description:**

When trying to manually search, occasionally the search will time-out, however in the GUI, it just shows that it's searching but no results are displayed.

**Radarr Version:**

WIndows 10E
Radarr v. 0.2.0.596 Develop

**Logs:**

[code]

[2017-04-18 07:35] galli-leo commented on #1409
This is fixed on the latest nightly release.

[2017-04-18 07:36] galli-leo commented on #1292
@weirdcrap Correct.

[2017-04-18 08:21] galli-leo commented on #1408
Yup this can be done with preferred words / tags.

[2017-04-18 08:21] #1408 closed

[2017-04-18 08:21] galli-leo commented on #1407
This should be happening. not sure why. The second one though is due to the year being wrong.

[2017-04-18 08:23] galli-leo commented on #1404
Do you see anything else in the logs? Also Request Failed usually means that you made a request. Are you trying to manually import something? Can you verify that that error corresponds with not importing the movie?

[2017-04-18 12:17] galli-leo commented on #1070
@eriksneff Can you please try and execute the Housekeeping Task under System -> Tasks?

[2017-04-18 12:18] galli-leo commented on #1070
Also if you do a disk scan what do the logs say?

[2017-04-18 12:41] stuntguy3000 commented on #1408
I must of missed that. Cheers @galli-leo

@fryfrog :)

[2017-04-18 12:55] Teke14 commented on #1404
I have this installed on a 2012 R2 box with Sonarr working great. I have the nightly build running. I can add movies and it passes it off to Sab with no issues. I have given System full rights to the download folder. This is a different folder than sonarr. When the movie downloads it just sits there. When I try a manual import this is when I get the error and nothing happens. Someone said I needed

[2017-04-18 14:55] animosity22 commented on #1347
Still seems to be working ok. I got this hit but it was wrong on the indexer:

https://dognzb.cr/details/ee3946260298a94cfe9f9e6652011a36

The search has it for 2017 Split, but the files from 2016.

[2017-04-18 15:08] animosity22 commented on #1376
I think it is a display thing as you can see in my image I included, my naming pattern shows correct.

[2017-04-18 16:15] seanvree commented on #1409
@galli-leo  - this may be a dumb question, but how do I pull down the nightlies if I'm on windows?

just do a git pull?

[2017-04-18 17:27] #1347 closed

[2017-04-18 17:30] galli-leo commented on #1409
@seanvree Change "Branch" under Settings -> General to "nightly" (without quotes).

[2017-04-18 17:31] Twanislas commented on #1407
Hi !

I face the same issue, could it be related to the accents or language ?

For both the error (hovering on the "!") says : "Unknown movie. Movie found does not match wanted movie."

Let me know how/if I can help :)

![radarr_bug_match](https://cloud.githubusercontent.com/assets/524706/25144121/0f97b2e0-246d-11e7-97eb-ecfa02755376.png)
![radarr_bug_match2](https://cloud.githubusercontent.com/as

[2017-04-18 18:39] Davst opened #1411 "DownloadMonitoringService errors"
version: 0.2.0.596

Error:
Couldn't process tracked download En.man.som.heter.Ove.2015.1080p.BluRay.DTS.x264-VietHD: Object reference not set to an instance of an object.

------------------
System.NullReferenceException: Object reference not set to an instance of an object.
   at NzbDrone.Core.Download.CompletedDownloadService.<>c.<Import>b__9_3(ImportResult v) in C:\projects\radarr-usby1\src\Nzb

[2017-04-18 18:48] galli-leo commented on #1407
@Twanislas Nope. The problem here is that the year is at the end of the filename rather than right after the movie title.

[2017-04-18 19:00] danseitz commented on #1411
I think I'm having the same issue on my end. Here's what my log is showing:

[code]

[2017-04-18 19:02] danseitz commented on #1411
On looking further, I don't have a folder C:\projects\radarr-usby1\ etc. Is this a code error referencing a non-existent folder?

[2017-04-18 19:24] Twanislas commented on #1407
Thanks for the fast response ! :)

Is there a way to "force" Radarr to use a specific release ? Like "Dude, use this one, I tell ya, that's the right one" :D

It would then override everything and download + process it ?

Cheers !

[2017-04-18 19:40] vendeka commented on #1407
Since PTP search results are filtered by IMDB ID, I think it is safe to ignore extra checks like year, exact name etc. At least, there should be an option to ignore such extra checks.

[2017-04-18 19:42] pikachukaki opened #1412 "No movies load at localhost"
After the latest update when i open the app from my shortcut it loads at http://localhost:7878 but i can't see any of my monitored movies and when i press the update DB key it stuck there for ever.
I saw that you can load the app thru 127.0.0.1 and there all my movies are showed correctly.
Whats the problem and how can i change the app to open at 127 and not at localhost?

17-4-18 22:43:59.6|Warn|

[2017-04-18 21:00] alneven commented on #1398
For me the other way around...

I'm adding movies by their ENGLISH title as they are shown like that on my indexer (torrent site), just with Hungarian language and "\.HUN|Hungarian tags in their folders.
But Radarr automatically "translate" the movie page in Hungarian, and therefore the search is not working at all.

I couldn't found where to modify this behaviour, to search based on the alternati

[2017-04-19 01:08] seanvree commented on #1351
@galli-leo  -

I'm still having this issue.  Tried to switch to nightlies -

Updated the settings to Nightlies, rebooted. GUI shows nightly, and an update is available.  So, I click update, the service reboots, but then still shows the update?

[code]

[2017-04-19 02:52] fryfrog opened #1414 "Add Fan Edit as an edition"
There are a *lot* of crappy movies that have been made better via fan edits. It'd be nice to be able to label them, a bit like the Despecialized versions of the Star Wars movies.

An example is `A9 Prometheus.1080p.Special Edition.FanEdit.BRRip.x264.AAC-m2g` but I'm sure there are more.

[2017-04-19 03:30] jackflash1991 commented on #592
I had this issue too. Files were abandoned in the Radarr folder and filled my unraid cache. Had to uninstall until this issue is closed. Props to that app though!

[2017-04-19 07:21] galli-leo commented on #1411
@Davst Your error is probably fixed in the latest release. Can you please double check?

@danseitz Your error is something different. It seems like you deleted a movie you added to your queue? Try either readding the movie to your queue or deleting the download from your download client. A restart of Radarr might also fix this.

[2017-04-19 07:22] galli-leo commented on #1414
I wouldn't call Prometheus crappy 😛 But yea that seems like a good addition to the editions.

[2017-04-19 07:24] galli-leo commented on #1351
Interesting. Maybe the update client does not have write permissions to C:\Radarr? Anyways there should be an updater log inn C:\ProgramData\Radarr\logs Can you post that here?

[2017-04-19 08:01] Aesculapius commented on #1406
that list contains over 1000 movies and lacks ways to sort or filter... that makes it quite a hassle...

[2017-04-19 08:10] galli-leo commented on #1406
There should be sort & filter options on the top of the page.

[2017-04-19 08:36] galli-leo commented on #1414
Better edition regex: `^(?<title>(?![(\[]).+?)?(?:(?:[-_\W](?<![)\[!]))*\(?(?<edition>(((Extended.|Ultimate.)?(Director.?s|Collector.?s|Theatrical|Ultimate|Final|Extended|Rogue|Special|Despecialized).(Cut|Edition|Version)|Extended|Uncensored|Remastered|Unrated|Uncut|IMAX)))\)?.(?<year>(19|20)\d{2}(?!p|i|\d+|\]|\W\d+)))+(\W+|_|$)(?!\\)`

[2017-04-19 08:38] galli-leo commented on #1414
Even better edition regex: `^(?<title>(?![(\[]).+?)?(?:(?:[-_\W](?<![)\[!]))*\(?(?<edition>(((Extended.|Ultimate.)?(Director.?s|Collector.?s|Theatrical|Ultimate|Final|Extended|Rogue|Special|Despecialized).(Cut|Edition|Version).(Extended|Uncensored|Remastered|Unrated|Uncut|IMAX|FanEdit)?)))\)?.(?<year>(19|20)\d{2}(?!p|i|\d+|\]|\W\d+)))+(\W+|_|$)(?!\\)`

[2017-04-19 08:39] galli-leo commented on #1414
Link to test regex: https://regex101.com/r/CC2KVX/1
@fryfrog Can you try breaking the above regex?

[2017-04-19 09:01] seanvree commented on #1351
@galli-leo  - Yeah, it is interesting.  I changed the permissions of the folder to "everyone" so that should be the issue. After it downloads the update package and restarts, I can watch the windows service restart, so I know it it should have full access if it can restart itself.

here's the logs:

[code]

[2017-04-19 09:18] galli-leo commented on #1351
@seanvree Are you sure those are the logs from the updater? Those seem like the logs from the application itself. The Updater logs can also be found via the web ui under System -> Logs -> Update.

[2017-04-19 09:55] xandian opened #1415 "Trakt.tv UserWatchList gets imported with root path "C:\Windows\System32""
**Description:**

I've noticed that when the net importer is used for my Trakt.tv UserWatchList, the root path gets set to "C:\Windows\System32", which is not the root path that is set on this import item in Settings -> Lists.

I have other Trakt lists set up to import as well, but these work fine and as expected.

Workaround which worked for me was to create a new list with the exact same paramet

[2017-04-19 10:18] galli-leo commented on #1415
Yeah this can happen if you forget to choose a path when setting up a list. There's already an issue open that we should do more validation, which we definitely should do.

[2017-04-19 10:18] #1415 closed

[2017-04-19 10:18] galli-leo commented on #1415
This may also occur if you delete the root path you added the list with.

[2017-04-19 10:38] savaloi opened #1416 "Unable to retrieve queue and history items from NZBGet"
I've just installed Radarr on my Ubuntu machine last night. I was previously using couchpotato, but I've since disabled the service from starting, so it's not running anymore. I've got plenty of other services running on this box, like Sonarr and Plex etc, which are all working fine.

My setup is:
Ubuntu 15.10
Radarr 0.2.0.654 (develop branch)
NZBGet 18.1
mono 4.8.1

I followed [this guide](https:

[2017-04-19 11:00] seanvree commented on #1351
@galli-leo  -  DERRP. My bad.  Here you go brotha.

[code]

[2017-04-19 11:11] galli-leo commented on #1351
Did you pull this one with git? If so, that may be the reason why updates fail. I would recommend downloading and installing a release Radarr version and using that for normal use.

[2017-04-19 11:49] hotio commented on #1414
I broke it, sorta:
`X-Men.Apocalypse.2016.UltraHD.BluRay.2160p.HEVC.BT2020.DTS-HD.MA.7.1`

also sometime you get releases with `-scrambled-obfuscated` or `-scrambled` at the end, the don't get the correct group.

[2017-04-19 12:17] galli-leo commented on #1414
@hotio That one's fine, since it will get captured by another regex. That regex is just for editions.

[2017-04-19 12:17] galli-leo commented on #1414
e.g. `X-Men.Apocalypse.Ultimate.Edition.2016.UltraHD.BluRay.2160p.HEVC.BT2020.DTS-HD.MA.7.1` Will get matched perfectly fine

[2017-04-19 12:37] seanvree commented on #1351
Are you talking about using the installer vs the source?  I was previously using the Source and running from C:\  but I just downloaded the installer and it looks like it changed the working dir to c:\programdata\radarr\bin    So, I guess it worked then?

[2017-04-19 12:44] galli-leo commented on #1351
@seanvree Yeah that's what I meant. Let's hope it works now.

[2017-04-19 12:59] seanvree commented on #1351
@galli-leo  - Will do. I'll keep an eye on it.

THX.

[2017-04-19 13:08] xandian commented on #1292
Being able to add multiple versions of a movie is a feature I was just about to request, as I needed this whilst importing my old library, but stumbled upon this issue.
I would say that this issue doesn't only concern different editions of a movie, but **different languages** as well, e.g. a movie which you would want in both the original language as well as your own local language.

First off, sh

[2017-04-19 13:24] animosity22 opened #1417 "Wrong Year Still?"
**Description:**
I thought this was an issue related to a NZB, but I'm not sure now. I keep seeing Split 2017 match the 2016 version and it grabs the NZB. I can't tell if that's a DogNZB issue or something in Radarr.

**Radarr Version:**
0.2.0.654 - Apr 18 2017  develop Installed
**Logs:**
Logs are attached.

Screenshot looks like:
http://i.imgur.com/Tet1Hr7.png
[radarr.debug.txt](https://github.c

[2017-04-19 13:47] galli-leo commented on #1417
Probably because it was actually released in 2016 http://www.imdb.com/title/tt4972582/?ref_=nv_sr_1. Have you looked at the movie file to see if it is the correct version? If not, we cannot really do much, since we don't know which Split the movie is by just looking at the name. That should be your indexer who does that.

[2017-04-19 13:47] #1417 closed

[2017-04-19 13:48] galli-leo commented on #1416
Seems like some kind of networking issue. Did you try restarting Radarr, NzbGet or your computer?

[2017-04-19 13:50] animosity22 commented on #1417
Except when you add it into Radarr, it shows 2017.

Here is the other image. I pasted the wrong one.

http://i.imgur.com/Kq5CxP7.png

[2017-04-19 13:51] animosity22 commented on #1417
Both Split versions:

http://i.imgur.com/3zfY5FX.png

[2017-04-19 13:54] animosity22 commented on #1417
I'm guessing it because you are pulling from TMDB which has 2017 listed while IMDB has 2016.

[2017-04-19 13:55] galli-leo commented on #1417
@animosity22 Yeah the search view displays the year TMDB returns not the year we afterwards actually use (the earliest we get). If you e.g. search for split afterwards on your homepage, you will se the correct year appear in brackets.

[2017-04-19 13:57] animosity22 commented on #1417
I just fixed the TMDB release date. Works fine now as it's putting the right year in the movie and matching right.

[2017-04-19 16:14] fryfrog commented on #1416
Can you screen shot your NZBGet settings (leaving out any sensitive information)? Is NZBGet running locally on the same computer or a different one?

[2017-04-19 16:23] fryfrog commented on #1414
I couldn't break it :)

[2017-04-19 16:24] fryfrog commented on #1412
Try in an incognito window.

[2017-04-19 17:27] jOOc commented on #1414
What about these editions?
Anniversary
Restored

[2017-04-19 17:44] galli-leo commented on #1414
@jOOc Anniversary needs a bit more work, since those usually come with a number.

[2017-04-19 19:01] rbroh commented on #761
This looks to have resolved the problem for me - PTP downloads are passed to Deluge successfully now.  Thanks!

[2017-04-19 19:02] #729 closed

[2017-04-19 19:02] #1289 closed

[2017-04-19 19:02] #1414 closed

[2017-04-19 19:11] #1392 closed

[2017-04-19 20:06] galli-leo commented on #1404
This should now be fixed on the latest nightly (live in a few minutes) Can you verify that?

[2017-04-19 20:27] eriksneff commented on #1070
@galli-leo I manually ran the Housekeeping Task (it was on a schedule and had been last run 8hrs ago, so probably no improvement there I'd guess), then I navigated to zoolander, hit the refresh info and rescan disk, and then got this from the logs:

17-4-19 13:19:26.3|Info|RefreshMovieService|Updating Info for Zoolander
17-4-19 13:19:27.0|Info|DiskScanService|Scanning disk for Zoolander
17-4-19 13

[2017-04-19 20:39] galli-leo commented on #1070
Rename the file to Zoolander 2001.avi

[2017-04-19 20:39] eriksneff commented on #1070
Yup yup, see update to the post above...

[2017-04-19 20:52] galli-leo commented on #1070
@eriksneff Sorry not seeing the update regarding renaming to "Zoolander 2001.avi"? Did that work?

[2017-04-19 20:55] Teke14 commented on #1404
No go. Same error and won't post process.

Message

Request Failed: Sequence contains no matching element

Exception

System.InvalidOperationException: Sequence contains no matching element
   at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source,
Func`2 predicate)
   at NzbDrone.Api.Commands.CommandModule.StartCommand(CommandResource
commandResource) in
C:\projects\radarr-usby1\src\NzbDr

[2017-04-19 20:56] eriksneff commented on #1070
No worries, I'll take it out of the previous post and put it here (hint: yes, that worked):

**UPDATE:** I have a solution - the issue appears to have been the matchability of the file names, not the encoding of file itself. I renamed this:

movies\zoolander\zoolander-klaxxon.avi
to
movies\zoolander\zoolander.avi
and got nothing

but then I renamed the folder and file to include the year:
movies\z

[2017-04-19 20:59] galli-leo commented on #1070
Yeah that is something we may add. We at least should allow filenames to be more loosely matched. But for that we already have another issue open, so closing this one :)

[2017-04-19 21:00] #1070 closed

[2017-04-19 21:00] eriksneff commented on #1070
Perfect, thanks!

[2017-04-19 21:04] Teke14 commented on #1404
It is working now. I had to set the drone factory interval from 0 to 1. Sonarr is not set like that. Thank you for all your help.

[2017-04-19 21:56] LSL1337 opened #1419 "HDBits categories (easy fix IMHO)"
Audio Track Only torrents are part of the normal search results from HDB
these torrents only contain the audio track, which can be remuxed to other releases (useful for VERY small number of users, not really relevant for automated movie downloading)

For example:
If you search for 'Patriots Day' in radarr, and have HDB enabled, it will give you the following result (among many other files):

Patri

[2017-04-19 22:15] astlaurent opened #1420 "List import loses path"
**Description:**
I have set the path several times in my list imports (stevenlu, and trakt anticipated) and it seems that at some point it loses the path, when i go into these lists the path section is blank and when i look at a movie that the lists brought in it has a default windows path which is not correct. see screenshot
![2017-04-19 18_10_43-96 souls - radarr](https://cloud.githubusercontent

[2017-04-19 22:36] theebanka opened #1421 "Radarr sorts items into pages of 10"
This may have always been a thing in which case think of this more as a request and less like a bug.

Currently Radarr no matter the sort view only shows pages of 10 items instead even in poster view instead of having a scrolling list. This is not how Sonarr handles these sorting views so I wasnt sure if this was an intended feature or a bug but personally it seems to detract from the experience (